{
  "openapi": "3.1.0",
  "info": {
    "title": "Visa Card Program Management",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Visa Card Program Enrollment ",
      "description": "VCPE supports issuers that want to offer instant/digital issuance or re-issuance; as well as allow their cardholders to upgrade and downgrade cards in their banking app and enjoy new rewards programs in near real-time without needing a physical card and without changing their 16-digit card number."
    },
    {
      "name": "Visa Credential Data Inquiry",
      "description": "Visa Credential Data Inquiry"
    }
  ],
  "paths": {
    "/vcpe/v1/cardAttributes": {
      "post": {
        "tags": [
          "Visa Credential Data Inquiry"
        ],
        "summary": "Get Card Attributes",
        "description": "This API allows Issuer/Consumer to get PAN level Attributes.",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "description": "Client-specific API key issued during onboarding.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 64,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "x-correlation-id",
            "in": "header",
            "description": "Unique ID for every API request - a mandatory header. Generated by the API client. Used for end-to-end tracing/debugging.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "The type of the request body. Not required if the message body is empty in the request, for example, “application/json”",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 1,
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Types of content that are acceptable for the request.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "Card attributes",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "primaryAccountNumber"
                ],
                "type": "object",
                "properties": {
                  "primaryAccountNumber": {
                    "type": "integer",
                    "description": "PAN/Account Number/Token to retrieve card attributes",
                    "example": 4000000000000000
                  }
                }
              },
              "examples": {
                "Issuer": {
                  "summary": "Issuer",
                  "value": {
                    "primaryAccountNumber": "4000000000000001"
                  }
                },
                "Issuer Partner": {
                  "summary": "Issuer Partner",
                  "value": {
                    "primaryAccountNumber": "4000000000000002"
                  }
                },
                "Cobrand Partner": {
                  "summary": "Cobrand Partner",
                  "value": {
                    "primaryAccountNumber": "400000000000003"
                  }
                },
                "Default": {
                  "summary": "Default",
                  "value": {
                    "primaryAccountNumber": "4000000000000000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Card attributes returned successfully"
                    },
                    "CardInfo": {
                      "type": "object",
                      "properties": {
                        "sourceChannel": {
                          "type": "string",
                          "description": "Channel through which the enrollment was performed.",
                          "example": "API"
                        },
                        "accountOpenDate": {
                          "type": "string",
                          "description": "Date when the account was opened.",
                          "format": "date"
                        },
                        "lastAttrUpdateDate": {
                          "type": "string",
                          "description": "Date of the last card attribute updated.",
                          "format": "date"
                        }
                      },
                      "description": "(Conditional: Depending on client profile and availability of data) Information about the card, including enrollment channel and dates related to card."
                    },
                    "LinkInfo": {
                      "type": "array",
                      "description": "(Conditional: Depending on client profile and availability of data) Information about linked accounts or groups associated with the card.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "groupId": {
                            "type": "string",
                            "description": "Identifier for the group linked to the card.",
                            "example": "Customer1"
                          },
                          "groupType": {
                            "type": "string",
                            "description": "Type of group linked to the card.",
                            "example": "CUSTOMER"
                          },
                          "primaryPan": {
                            "type": "string",
                            "description": "Primary PAN linked to the card.",
                            "example": "4000000000000011"
                          },
                          "isPrimaryFlag": {
                            "type": "boolean",
                            "description": "Indicates whether the card is primary in the group.",
                            "example": true
                          }
                        }
                      }
                    },
                    "RPINInfo": {
                      "type": "object",
                      "properties": {
                        "rpin": {
                          "type": "string",
                          "description": "The actual RPIN code.",
                          "example": "111111"
                        },
                        "rpinName": {
                          "type": "string",
                          "description": "Name of the RPIN.",
                          "example": "Issuer Signature Preferred RPIN"
                        },
                        "rpinProductId": {
                          "type": "string",
                          "description": "Product ID associated with the RPIN.",
                          "example": "D"
                        },
                        "rpinProductName": {
                          "type": "string",
                          "description": "Product name associated with the RPIN.",
                          "example": "Visa Signature Preferred Credit"
                        },
                        "rpinReferenceNumber": {
                          "type": "string",
                          "description": "Reference number for the RPIN.",
                          "example": "Issuer Ref Num"
                        }
                      },
                      "description": "(Conditional: Depending on client profile and availability of data) Details about the Registered Program Identification Number (RPIN), including RPIN and product information."
                    },
                    "panlast4": {
                      "type": "string",
                      "description": "Last 4 digits of the PAN number.",
                      "example": "0011"
                    },
                    "CobrandInfo": {
                      "type": "object",
                      "properties": {
                        "coBrandFlag": {
                          "type": "string",
                          "description": "Flag indicating if co-branding is present.",
                          "example": "Y"
                        },
                        "coBrandName": {
                          "type": "string",
                          "description": "Name of the co-brand partner.",
                          "example": "Issuer Airline"
                        }
                      },
                      "description": "(Conditional: Depending on client profile and availability of data) Information about any co-brand associated with the card."
                    },
                    "CardHolderInfo": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "Email address of the account holder.",
                          "example": "janedoe@abc.com"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "zip": {
                              "type": "string",
                              "description": "ZIP code of the account holder's address.",
                              "example": "11111"
                            },
                            "city": {
                              "type": "string",
                              "description": "City of the account holder's address.",
                              "example": "City"
                            },
                            "line1": {
                              "type": "string",
                              "description": "First line of the address.",
                              "example": "ABC Street"
                            },
                            "line2": {
                              "type": "string",
                              "description": "Second line of the address.",
                              "example": "Suit 1"
                            },
                            "state": {
                              "type": "string",
                              "description": "State of the account holder's address.",
                              "example": "CA"
                            }
                          },
                          "description": "Address details of the account holder."
                        },
                        "lastName": {
                          "type": "string",
                          "description": "Last name of the account holder.",
                          "example": "Doe"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "First name of the account holder.",
                          "example": "Jane"
                        },
                        "namePrefix": {
                          "type": "string",
                          "description": "Prefix for the account holder's name.",
                          "example": "Ms"
                        },
                        "nameSuffix": {
                          "type": "string",
                          "description": "Suffix for the account holder's name.",
                          "example": ""
                        },
                        "companyName": {
                          "type": "string",
                          "description": "Company name of the account holder.",
                          "example": "ABC"
                        },
                        "mobileNumber": {
                          "type": "string",
                          "description": "Mobile number of the account holder.",
                          "example": ""
                        },
                        "middleInitial": {
                          "type": "string",
                          "description": "Middle initial of the account holder.",
                          "example": ""
                        }
                      },
                      "description": "(Conditional: Depending on client profile and availability of data) Information about the cardholder, including personal details and contact information."
                    }
                  }
                },
                "examples": {
                  "Issuer": {
                    "summary": "Issuer",
                    "value": {
                      "InterchangeAttrInfo": {
                        "spendQualifierInd": "N",
                        "interChangeProductID": "D"
                      },
                      "RPINInfo": {
                        "rpinName": "Issuer Signature Preferred RPIN",
                        "rpin": "111111",
                        "rpinProductName": "Visa Signature Preferred Credit",
                        "rpinProductId": "D",
                        "rpinReferenceNumber": "Issuer Ref Num"
                      },
                      "panlast4": "0001",
                      "CardInfo": {
                        "sourceChannel": "API",
                        "lastAttrUpdateDate": "2024-04-05",
                        "accountOpenDate": "2020-11-01"
                      },
                      "LinkInfo": [
                        {
                          "groupType": "CUSTOMER",
                          "groupId": "Customer1",
                          "primaryPan": "4000000000000001",
                          "isPrimaryFlag": "true"
                        },
                        {
                          "groupType": "LOC",
                          "groupId": "LOC1",
                          "primaryPan": "",
                          "primaryFlag": "false"
                        },
                        {
                          "groupType": "USCROSSPROD",
                          "groupId": "USCrossProd1",
                          "primaryPan": "4000000000000001",
                          "primaryFlag": "true"
                        },
                        {
                          "groupType": "VIRTUAL",
                          "groupId": "Virtual1",
                          "primaryPan": "",
                          "primaryFlag": "false"
                        }
                      ],
                      "CardHolderInfo": {
                        "lastName": "Doe",
                        "firstName": "Jane",
                        "address": {
                          "zip": "11111",
                          "city": "City",
                          "state": "CA",
                          "line2": "Suit 1",
                          "line1": "ABC Street"
                        },
                        "middleInitial": "",
                        "namePrefix": "Ms",
                        "mobileNumber": "",
                        "companyName": "ABC",
                        "nameSuffix": "",
                        "email": "janedoe@abc.com"
                      }
                    }
                  },
                  "Issuer Partner": {
                    "summary": "Issuer Partner",
                    "value": {
                      "RPINInfo": {
                        "rpinName": "Issuer Signature Preferred RPIN",
                        "rpin": "111111",
                        "rpinProductName": "Visa Signature Preferred Credit",
                        "rpinProductId": "D",
                        "rpinReferenceNumber": "Issuer Ref Num"
                      },
                      "panlast4": "0002",
                      "CardInfo": {
                        "sourceChannel": "API",
                        "lastAttrUpdateDate": "2024-04-05",
                        "accountOpenDate": "2020-11-01"
                      },
                      "LinkInfo": [
                        {
                          "groupType": "CUSTOMER",
                          "groupId": "Customer1",
                          "primaryPan": "4000000000000002",
                          "isPrimaryFlag": "true"
                        },
                        {
                          "groupType": "LOC",
                          "groupId": "LOC1",
                          "primaryPan": "",
                          "primaryFlag": "false"
                        },
                        {
                          "groupType": "USCROSSPROD",
                          "groupId": "USCrossProd1",
                          "primaryPan": "4000000000000002",
                          "primaryFlag": "true"
                        },
                        {
                          "groupType": "VIRTUAL",
                          "groupId": "Virtual1",
                          "primaryPan": "",
                          "primaryFlag": "false"
                        }
                      ],
                      "CardHolderInfo": {
                        "lastName": "Doe",
                        "firstName": "Jane",
                        "address": {
                          "zip": "11111",
                          "city": "City",
                          "state": "CA",
                          "line2": "Suit 1",
                          "line1": "ABC Street"
                        },
                        "middleInitial": "",
                        "namePrefix": "Ms",
                        "mobileNumber": "",
                        "companyName": "ABC",
                        "nameSuffix": "",
                        "email": "janedoe@abc.com"
                      }
                    }
                  },
                  "Cobrand Partner": {
                    "summary": "Cobrand Partner",
                    "value": {
                      "RPINInfo": {
                        "rpinName": "Issuer Signature Preferred RPIN",
                        "rpin": "111111",
                        "rpinProductName": "Visa Signature Preferred Credit",
                        "rpinProductId": "D",
                        "rpinReferenceNumber": "Issuer Ref Num"
                      },
                      "panlast4": "0003",
                      "CobrandInfo": {
                        "coBrandFlag": "Y",
                        "coBrandName": "Issuer Airline"
                      }
                    }
                  },
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "RPINInfo": {
                        "rpinName": "Issuer Signature Preferred RPIN",
                        "rpin": "111111",
                        "rpinProductName": "Visa Signature Preferred Credit",
                        "rpinProductId": "D",
                        "rpinReferenceNumber": "Issuer Ref Num"
                      },
                      "panlast4": "0000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request parameters"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Invalid request parameters"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized request"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Unauthorized request"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "The specified PAN was not found"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "The specified PAN was not found"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Must be a numeric value"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Must be a numeric value"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Too many requests have been sent in a given amount of time. Wait and retry after 15 minutes before sending the next request and decrease the rate of sending API requests."
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Too many requests have been sent in a given amount of time. Wait and retry after 15 minutes before sending the next request and decrease the rate of sending API requests."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Internal Server Error"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Service Unavailable"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Service Unavailable"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "Request body",
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1vcpe~1v1~1cardAttributes/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vcpe/v2/pan/enrollment": {
      "post": {
        "tags": [
          "Visa Card Program Enrollment "
        ],
        "summary": "Enrollment",
        "description": "Process enrollment and handover message to ALM.",
        "operationId": "enrollmentV2UsingPOST",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Accept",
            "required": true,
            "explode": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "Accept-Language",
            "required": false,
            "explode": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "explode": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CHANNEL_ID",
            "in": "header",
            "description": "Default to VTIS",
            "required": true,
            "explode": false,
            "allowReserved": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CORRELATION-ID",
            "in": "header",
            "description": "X-CORRELATION-ID",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-API-KEY",
            "in": "header",
            "description": "X-API-KEY",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-CLIENT-ID",
            "in": "header",
            "description": "X-CLIENT-ID",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Language",
            "in": "header",
            "description": "Content-Language",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "operationType",
                  "updateReferenceID"
                ],
                "type": "object",
                "properties": {
                  "operationType": {
                    "type": "string",
                    "description": "Type of operation. Format: It is one of the following values: \n\n UPDATE"
                  },
                  "enrollmentInfo": {
                    "type": "object",
                    "properties": {
                      "cardholderInfo": {
                        "required": [
                          "primaryAccountNumber"
                        ],
                        "type": "object",
                        "properties": {
                          "primaryAccountNumber": {
                            "maxLength": 19,
                            "type": "string",
                            "description": "Primary account number"
                          }
                        }
                      },
                      "accountLevelInfo": {
                        "type": "object",
                        "properties": {
                          "productID": {
                            "maxLength": 2,
                            "type": "string",
                            "description": "This is the product ID for the card number in the Account Number field. It is required, when the rpinEnrollment structure is provided in the request, or when the linkEnrollment structure is present for either the USHNW or VIRTUAL groupType. For example if the product type of the card is ‘Visa Traditional Credit’, the value of productID is A."
                          },
                          "linkEnrollment": {
                            "type": "object",
                            "properties": {
                              "group": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "action": {
                                      "type": "string",
                                      "description": "(REQUIRED if linkEnrollment segment is present) \n\n  Action taken on the record for an enrollment link. Format: It is one of the following values: \n\n Add— Record is for a new link. \n\n Delete— Record is for removing a link. \n\n Change— Can only be used to change the Primary Account flag."
                                    },
                                    "groupID": {
                                      "maxLength": 32,
                                      "type": "string",
                                      "description": "(REQUIRED if linkEnrollment segment is present) \n\n Contains the issuer-supplied identifier for the group type specified in the Group Type field. Must not be PAI/PII data. Format: String; alphabetic, numeric, hyphens ( - ), and underscores ( _) [a-zA-Z0-9-_ ]."
                                    },
                                    "groupType": {
                                      "type": "string",
                                      "description": "(REQUIRED if linkEnrollment segment is present) \n\n Group type. Format: It is one of the following values:\nLOC— Groups a primary card account with authorized accounts from other cardholders. \n\n CUSTOMER— Groups a set of card accounts for the same cardholder. \n\n VIRTUAL— Groups a primary card account with a set of virtual cards. \n\n Note: A value for productID must be specified. Contact your Visa representative before \n\n submitting a request using the VIRTUAL Group Type. \n\n USHNW \n\n Note: A value for productID must be specified."
                                    },
                                    "isPrimaryAccount": {
                                      "type": "string",
                                      "description": "(Conditional) Whether the account the account number is to be the primary account number in the group.. Used for group types that have a primary or owner account. It is required when groupType is LOC, or VIRTUAL. It should be set to Y for Primary (physical plastic card). Issuers should refer to the Product Implementation Guide for requirements related to custom group types. Format: It is one of the following values: \n\n Y— The account number is to be the primary account number in the group. \n\n Blank—The account number is not the primary account number."
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "rpinEnrollment": {
                            "type": "object",
                            "properties": {
                              "rpin": {
                                "maxLength": 6,
                                "type": "string",
                                "description": " (REQUIRED if rpinEnrollment segment is present and rpinIssuerRefNumber is not present)  \n\n The six-digit Visa-provided Registered Program Identification Number (RPIN) in which this account is enrolled. The RPIN’s product ID in the Visa system must match the product ID provided in the web service call. Format: String; numeric; max length 6 characters."
                              },
                              "action": {
                                "type": "string",
                                "description": "(REQUIRED if rpinEnrollment segment is present) \n\n Action for RPIN Enrollment. Format: It is one of the following values: \n\nAdd— Use Add when submitting new card numbers; record is for a new account number. All required fields must be provided.\n\nChange— Use if changing any attribute in rpinEnrollment data. A change record will fully replace all data in the original record. Every required field must be submitted in a change record. If issuers wish to preserve previously submitted optional data, this data must be resubmitted.\n\nDelete— Use if removing an account number. For delete records, all other fields are optional."
                              },
                              "accountOpenDate": {
                                "maxLength": 10,
                                "type": "string",
                                "description": "(REQUIRED if rpinEnrollment segment is present) \n\n  The date the account number was first opened with the issuer. Format: String in the form of YYYYMMDD."
                              },
                              "rpinEffectiveDate": {
                                "maxLength": 10,
                                "type": "string",
                                "description": "(Optional) The RPIN effective date, which can be a past or future date, but it must be a date that is after the RPIN create-date and before the RPIN end-date. If the date does not follow these rules, the request is rejected with an Invalid Date reject reason. It will default to the current date if the correct date is not provided. Format: String; YYYYMMDD."
                              },
                              "rpinIssuerRefNumber": {
                                "maxLength": 9,
                                "type": "string",
                                "description": "(REQUIRED if rpinEnrollment segment is present and rpin is not present) \n\n  The Visa-provided RPIN reference number \n Format: String; numeric; max length 9 characters."
                              }
                            }
                          },
                          "replaceEnrollment": {
                            "type": "object",
                            "properties": {
                              "linkReasonCode": {
                                "maxLength": 1,
                                "type": "string",
                                "description": "(Conditional) The reason for replacement. Format: It is one of the following values: \n\n L— Lost: Consumer reports the card has been lost.  \n S— Stolen: Consumer reports the card has been stolen.  \n U— Upgrade/Downgrade: Consumer has been issued a new product.  \n O— Other: Used when no other value applies.  \n C— Converted  \n R— Reissued  \n N— Not known"
                              },
                              "unlinkIndicator": {
                                "maxLength": 1,
                                "type": "string",
                                "description": "(Conditional) Unlink indicator. This must be set to Y when deleting a replacement relationship. Format: It is one of the following values: \n\n Y— User is trying to unlink the account number"
                              },
                              "oldAccountNumber": {
                                "maxLength": 19,
                                "type": "string",
                                "description": "(REQUIRED if replaceEnrollment segment is present) \n\n  A valid account number specifying the card is being replaced by the card number in the Account Number field."
                              }
                            }
                          },
                          "benefitsEnrollment": {
                            "type": "object",
                            "properties": {
                              "addOnBenefits": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "action": {
                                      "type": "string",
                                      "description": "(REQUIRED if addOnBenefits segment is present) \n\n  Action taken on the record for an enrollment addOnBenefits . Format: It is one of the following values: \n\n Add— This value is to record a new enrollment or pre-enrollment record. All required fields must be provided. Use Add when submitting new requests. \n\n Delete— This value must be used to deactivate any future pre-enroll/enrollment associations of any specific instance or benefit type. \n\n"
                                    },
                                    "featureId": {
                                      "type": "object",
                                      "properties": {
                                        "vfsFeatureId": {
                                          "type": "array",
                                          "description": "(Conditional) \n\n identifies the add-on feature through an issuer-defined attribute. Can be blank if any of Issuer Feature Reference ID, Supplier Feature ID is populated.",
                                          "items": {
                                            "maxLength": 10,
                                            "type": "string"
                                          }
                                        },
                                        "supplierFeatureId": {
                                          "type": "array",
                                          "description": "(Conditional) \n\n identifies the add-on feature through a unique ID previously defined by Visa. Users identifying the feature this way would enter it in SupplierFeatureID, and nothing in issuerFeatureReferenceID, vfsFeatureID.",
                                          "items": {
                                            "maxLength": 10,
                                            "type": "string"
                                          }
                                        },
                                        "issuerFeatureReferenceId": {
                                          "type": "array",
                                          "description": "(Conditional) \n\n identifies the add-on feature through a supplier (Service Provider)-defined attribute. Users identifying the feature this way would enter it in issuerFeatureReferenceID, and nothing in SupplierFeatureID, vfsFeatureID.",
                                          "items": {
                                            "maxLength": 10,
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "description": "(REQUIRED if addOnBenefits segment is present) \n\n  Feature ID for Benefits Enrollment . Format: Users must provide only one of the following three data fields for each record: \n\n VFS Feature ID  \n\n Supplier Feature ID  \n\n Issuer Feature Reference ID  \n\n"
                                    },
                                    "enrollmentDate": {
                                      "maxLength": 10,
                                      "type": "string",
                                      "description": "(Optional) \n\n  Contains the date when the cardholder signs up for specific benefit.If not provided, Enrollment Date will default to Activation Start Date., If Activation Start Date is not provided, Date will default to current processing date +1. Format: String in the form of YYYYMMDD."
                                    },
                                    "enrollmentStatus": {
                                      "maxLength": 1,
                                      "type": "string",
                                      "description": "(Conditional) \n\n  Enrollment status code for the card account being updated. Format: It is one of the following values: \n\n P — Pre-enroll. \n\n E — Enroll. \n\n Must be provided for Add/Change records. Optional for Delete and Close records. However, Change & Close action are out of scope for current release. will be addressed as part of future phases. At this point no client has been using this action \n\n"
                                    },
                                    "activationEndDate": {
                                      "maxLength": 10,
                                      "type": "string",
                                      "description": "(Optional) \n\n  Contains the date when the benefit will end for the Card Account Number. Format: String in the form of YYYYMMDD."
                                    },
                                    "activationStartDate": {
                                      "maxLength": 10,
                                      "type": "string",
                                      "description": "(Optional) \n\n  Contains the date when the benefit will be activated for the Card Account Number. Format: String in the form of YYYYMMDD."
                                    }
                                  }
                                }
                              },
                              "portfolioBenefits": {
                                "type": "object",
                                "properties": {
                                  "action": {
                                    "type": "string",
                                    "description": "(REQUIRED if portfolioBenefits segment is present) \n\n  Action for Benefits Enrollment. Format: It is one of the following values: \n\n Add - This value is to record a new cardholder account. All required fields must be provided. Use Add when submitting new accounts. \n\n Delete — This value must be used to remove cardholder data. To delete a record, the account number must be included. All other fields are optional. This value may only be used for accounts that have been submitted but have not yet been assigned to a portfolio because the Effective Start Date is in the future. \n\n Change - This value must be used when changing existing cardholder enhancement data. It must also be used to remove enhancement assignments from active accounts (Effective Start Date is the current date or earlier). A change record will fully replace all data in the original record. Every required field must be submitted in a change record. If issuers choose to preserve previously submitted optional data, this optional data must also be submitted. - Out of scope for current release. will be addressed as part of future phases. At this point no client has been using this action"
                                  },
                                  "portfolioId": {
                                    "maxLength": 20,
                                    "type": "string",
                                    "description": "(REQUIRED) Contains the issuer portfolio identifier within the Registration in VFS. Issuer Portfolio ID of the account number which is unique to a Portfolio (set of benefits which are defined in VFS, can be multiple for an Issuer). \n\n"
                                  },
                                  "effectiveEndDate": {
                                    "maxLength": 10,
                                    "type": "string",
                                    "description": "(Optional) \n\n  Can contain the effective end date of the account number for the specified portfolio ID. Format: String in the form of YYYYMMDD."
                                  },
                                  "effectiveStartDate": {
                                    "maxLength": 10,
                                    "type": "string",
                                    "description": "(REQUIRED if portfolioBenefits segment is present) \n\n  Contains the effective start date of the account number for the specified portfolio ID Format: String in the form of YYYYMMDD."
                                  }
                                }
                              }
                            }
                          },
                          "customerContactInfo": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "maxLength": 100,
                                "type": "string",
                                "description": "(Conditional) Account holder’s email address. Required when prefMethodOfContact is E."
                              },
                              "action": {
                                "type": "string",
                                "description": "(REQUIRED if customerContactInfo segment is present) \n\n  If an action other than Add is selected, the webservice call will be rejected. \n\n Format: It is one of the following values: \n\n Add— Use this to add new customer information. All required fields must be provided."
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "zip": {
                                    "maxLength": 5,
                                    "type": "string",
                                    "description": "(Conditional) Account holder’s zipcode. Required for the US, but can be left blank for a non-US address. Format: String; numeric."
                                  },
                                  "city": {
                                    "maxLength": 30,
                                    "type": "string",
                                    "description": "(REQUIRED if customerContactInfo segment is present) \n\n City associated with the account holder’s address. Format: String; alphanumeric; UTF-8, white space, carat (^), period (.), single quote (‘), asterisk (*), and hyphen (-) are allowed."
                                  },
                                  "line1": {
                                    "maxLength": 40,
                                    "type": "string",
                                    "description": "(Optional) First line associated with the account holder’s address. Format: String; alphanumeric; UTF-8, white space, comma (,), underscore (_), hashtag (#), colon (:), forward slash (/), period (.), single quote (‘), asterisk (*), and hyphen (-) are allowed."
                                  },
                                  "line2": {
                                    "maxLength": 40,
                                    "type": "string",
                                    "description": "(Optional) Second line associated with the account holder’s address. Format: String; alphanumeric; UTF-8, white space, comma (,), underscore (_), hashtag (#), colon (:), forward slash (/), period (.), single quote (‘), asterisk (*), and hyphen (-) are allowed."
                                  },
                                  "state": {
                                    "maxLength": 2,
                                    "type": "string",
                                    "description": "(Conditional) State or province code associated with the account holder’s address. Required for the US, but can be left blank for a non-US address. Example: NY Format: String; ISO 3166-2."
                                  },
                                  "companyName": {
                                    "maxLength": 40,
                                    "type": "string",
                                    "description": "(Conditional) Account holder’s company name. Format: String; alphanumeric; UTF-8, white space, comma (,), underscore (_), hashtag (#), colon (:), forward slash (/), period (.), single quote (‘), and hyphens (-) are allowed."
                                  }
                                },
                                "description": "(Optional) Address details for the account holder."
                              },
                              "lastName": {
                                "maxLength": 1,
                                "type": "string",
                                "description": "(REQUIRED if customerContactInfo segment is present) \n\n  Account holder’s last name."
                              },
                              "firstName": {
                                "maxLength": 15,
                                "type": "string",
                                "description": "(REQUIRED if customerContactInfo segment is present) \n\n  Account holder’s first name."
                              },
                              "namePrefix": {
                                "maxLength": 5,
                                "type": "string",
                                "description": "(Optional) Account holder’s name prefix."
                              },
                              "nameSuffix": {
                                "maxLength": 5,
                                "type": "string",
                                "description": "(Optional) Account holder’s name suffix."
                              },
                              "mobileNumber": {
                                "maxLength": 10,
                                "type": "string",
                                "description": "(Conditional) Account holder’s telephone number. Required when prefMethodOfContact is C."
                              },
                              "middleInitial": {
                                "maxLength": 1,
                                "type": "string",
                                "description": "(Optional) Account holder’s middle initial."
                              },
                              "prefMethodOfContact": {
                                "maxLength": 1,
                                "type": "string",
                                "description": "(Optional) Account holder’s preferred method of contact; if a space or an empty string is specified, the preferred method of contact is no preference. \n Format: It is one of the following values: M— Physical mail. \n E— E mail. \n  C— Mobile telephone."
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "updateReferenceID": {
                    "maxLength": 32,
                    "type": "string",
                    "description": "Reference ID that is needed to track all account level updates."
                  }
                },
                "example": {
                  "eventName": "ABC",
                  "reqRcvdTS": "2020-01-01 10:10:50.234 GMT",
                  "operationType": "UPDATE",
                  "enrollmentInfo": {
                    "cardholderInfo": {
                      "primaryAccountNumber": "xx"
                    },
                    "accountLevelInfo": {
                      "productID": "G",
                      "linkEnrollment": {
                        "group": [
                          {
                            "action": "Add",
                            "groupID": "dnVgrLnzKICYNAM6PMBHbw",
                            "groupType": "LOC",
                            "isPrimaryAccount": ""
                          }
                        ]
                      },
                      "rpinEnrollment": {
                        "rpin": "111111",
                        "action": "Add",
                        "accountOpenDate": "20210518",
                        "rpinEffectiveDate": "20210518",
                        "rpinIssuerRefNumber": "684226"
                      },
                      "replaceEnrollment": {
                        "linkReasonCode": "L",
                        "unlinkIndicator": "",
                        "oldAccountNumber": "xx"
                      },
                      "benefitsEnrollment": {
                        "addOnBenefits": [
                          {
                            "action": "Add",
                            "featureId": {
                              "vfsFeatureId": "vfs01",
                              "supplierFeatureId": "supp01",
                              "issuerFeatureReferenceId": "reff01"
                            },
                            "enrollmentDate": 20240530,
                            "enrollmentStatus": "P",
                            "activationEndDate": 20240830,
                            "activationStartDate": 20240530
                          }
                        ],
                        "portfolioBenefits": [
                          {
                            "action": "Add",
                            "portfolioId": "dnVgrLnzKICYNAM6PMBHbw",
                            "effectiveEndDate": 20240830,
                            "effectiveStartDate": 20240530
                          }
                        ]
                      },
                      "customerContactInfo": {
                        "email": " abc@abcd.com",
                        "action": "ADD",
                        "address": {
                          "zip": "94404",
                          "city": "FC",
                          "line1": "123 main st",
                          "line2": "apt 1",
                          "state": "CA",
                          "companyName": "VISA Inc"
                        },
                        "lastName": "hTggkhk",
                        "firstName": "Abjhdv",
                        "namePrefix": "Mr",
                        "nameSuffix": "Sr",
                        "mobileNumber": "1111111111",
                        "middleInitial": "S",
                        "prefMethodOfContact": "M"
                      }
                    }
                  },
                  "updateReferenceID": "wBoC8VdyB921K7xdMroRqw"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. Request successfully persisted to queue."
          },
          "400": {
            "description": "Bad request. Incorrect parameters supplied."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1vcpe~1v2~1pan~1enrollment/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    }
  },
  "components": {
    "schemas": {
      "date": {
        "type": "string",
        "description": "Date in GMT",
        "format": "date"
      },
      "Locale": {
        "title": "Locale",
        "maxLength": 12,
        "minLength": 2,
        "pattern": "([a-zA-Z]{2,8})-([a-zA-Z]{2}|[0-9]{3})",
        "type": "string",
        "description": "Locale in in [IETF BCP 47 format](https://tools.ietf.org/html/bcp47)\nThe BCP 47 locale format is <Language Subtag>-<Extended Language Subtag (Optional)>-<Script Subtag (Optional)>-<Region Subtag (Optional)>-<Variant1 Subtag (Optional)>-<Variant2 Subtag (Optional)>\nHowever, only following locale formats are supported by VCPE API:\n<Language Subtag>-<Region Subtag>\nLanguage Subtag: [a-zA-Z]{2,8}\nRegion Subtag: [a-zA-Z]{2} | [0-9]{3}\n",
        "example": "en-US"
      },
      "dateTime": {
        "type": "string",
        "description": "date Time in GMT",
        "format": "date-time",
        "example": "2017-07-21T17:32:28Z"
      },
      "spendQualifiedIndicator": {
        "type": "string",
        "description": "Spend Qualified Indicator",
        "format": "enum",
        "example": "N",
        "enum": [
          "N",
          "B",
          "Q"
        ]
      },
      "StandardError": {
        "title": "Standard Error Response Structure",
        "required": [
          "errorResponse"
        ],
        "type": "object",
        "properties": {
          "errorResponse": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "description": "API errors are reported using a Standard Error Response structure. All errors are categorized into Standard errors and Business errors. Standard errors can be returned by any API and should be handled in a common way. Business errors are returned only by some APIs and are documented for each API."
      },
      "InvalidRpin": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errorMsg": {
            "type": "string",
            "enum": [
              "INVALID_RPIN"
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "2"
            ]
          },
          "invalidRpin": {
            "$ref": "#/components/schemas/rpin"
          }
        }
      },
      "CobrandInfov1": {
        "title": "Cobrand Info Details",
        "type": "object",
        "properties": {
          "coBrandFlag": {
            "$ref": "#/components/schemas/coBrand"
          },
          "coBrandName": {
            "$ref": "#/components/schemas/coBrandName"
          }
        }
      },
      "RpinAttributes": {
        "title": "RPIN Metadata Details",
        "type": "object",
        "properties": {
          "rpin": {
            "$ref": "#/components/schemas/rpin"
          },
          "country": {
            "type": "string",
            "description": "The country to which the RPIN belongs",
            "example": "036"
          },
          "endDate": {
            "$ref": "#/components/schemas/date"
          },
          "rpinBid": {
            "$ref": "#/components/schemas/bid"
          },
          "rpinName": {
            "type": "string",
            "description": "The RPIN Name.",
            "example": "VTR"
          },
          "vertical": {
            "type": "string",
            "description": "The Vertical type",
            "format": "enum",
            "example": "CASHBACK",
            "enum": [
              "CASHBACK",
              "COHOTEL",
              "COAIRLINE",
              "COGAS",
              "CORETAIL",
              "COAUTO",
              "COENTERTAIN",
              "COAFFINITY",
              "COFINSERV",
              "COOTHER",
              "COTRAVELSVC",
              "GENOTHER",
              "GENTRAVEL",
              "GENWEALTH"
            ]
          },
          "startDate": {
            "$ref": "#/components/schemas/date"
          },
          "cardCounts": {
            "type": "number",
            "description": "Cards enrolled in the RPIN.",
            "format": "integer",
            "example": 1000000
          },
          "programBid": {
            "$ref": "#/components/schemas/bid"
          },
          "rpinStatus": {
            "type": "string",
            "description": "Status of teh RPIN.",
            "format": "enum",
            "example": "CMF",
            "enum": [
              "ACTIVE",
              "PENDING",
              "CHANGEPENDING",
              "DEACTIVATED",
              "DEACTIVATION_PENDING",
              "REJECTED",
              "APPROVED"
            ]
          },
          "spendRules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "spendRuleName": {
                  "type": "string",
                  "description": "Name of Spend Rules associated with RPIN.",
                  "example": "FRC_SPEND "
                }
              }
            }
          },
          "programName": {
            "type": "string",
            "description": "The Program to which RPIN is associated",
            "example": "VTR"
          },
          "programType": {
            "type": "string",
            "description": "The Program type",
            "format": "enum",
            "example": "VTR",
            "enum": [
              "COBRAND",
              "GEN_REWARDS",
              "NON_REWARDS",
              "CASH"
            ]
          },
          "rpinBidName": {
            "$ref": "#/components/schemas/bidName"
          },
          "rpinCobrand": {
            "type": "string",
            "description": "The Cobrand or Affinity for the RPIN.",
            "example": "Grocery"
          },
          "rpinMetadata": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attributeTagName": {
                  "type": "string",
                  "description": "UBID for the PAN's range. 8 in length.",
                  "format": "enum",
                  "example": "PORTFOLIO",
                  "enum": [
                    "PORTFOLIO",
                    "PROGRAM_SUB_CAT",
                    "VERTICAL_SUB_CAT",
                    "LOC",
                    "CCP_ENABLED",
                    "VIRTUAL",
                    "REPORTING",
                    "SECURED_CRD",
                    "AUTOREG"
                  ]
                },
                "attributeTagValue": {
                  "type": "string",
                  "description": "Value of the tag.",
                  "format": "string"
                }
              }
            }
          },
          "rpinProductId": {
            "$ref": "#/components/schemas/productId"
          },
          "rpinRefNumber": {
            "type": "string",
            "description": "The RPIN Reference Number.",
            "example": "0047890ABN"
          },
          "programBidName": {
            "$ref": "#/components/schemas/bidName"
          },
          "accountRangeAssoc": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "arMax": {
                  "type": "string",
                  "description": "Account Range Maximum.",
                  "format": "string"
                },
                "arMin": {
                  "type": "string",
                  "description": "Account Range Minimum.",
                  "format": "string"
                },
                "autoRegAR": {
                  "type": "string",
                  "description": "If the account range registered is due to auto registration.",
                  "format": "boolean"
                },
                "endDateOfAssoc": {
                  "$ref": "#/components/schemas/date"
                },
                "starteDateOfAssoc": {
                  "$ref": "#/components/schemas/date"
                }
              }
            }
          },
          "lastCardEnrollDate": {
            "$ref": "#/components/schemas/date"
          }
        }
      },
      "accountOpenDate": {
        "type": "string",
        "description": "Date when the card was Opened",
        "example": "2022-07-01"
      },
      "productName": {
        "type": "string",
        "description": "Name of the Product",
        "example": "Visa Signature Preferred"
      },
      "rpinName": {
        "type": "string",
        "description": "Name of the RPIN.",
        "example": "Airline Portfolio"
      },
      "CardInfov2": {
        "title": "Card Attribute Details",
        "type": "object",
        "properties": {
          "sourceChannel": {
            "$ref": "#/components/schemas/updateChannel"
          },
          "accountOpenDate": {
            "$ref": "#/components/schemas/accountOpenDate"
          },
          "lastAttrUpdateDate": {
            "$ref": "#/components/schemas/lastAttrUpdateDate"
          }
        }
      },
      "InvalidPage": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errorMsg": {
            "type": "string",
            "enum": [
              "INVALID_PAGE"
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "00011"
            ]
          },
          "invalidPage": {
            "$ref": "#/components/schemas/page"
          }
        }
      },
      "CardInfov1": {
        "title": "Card Attribute Details",
        "type": "object",
        "properties": {
          "sourceChannel": {
            "$ref": "#/components/schemas/updateChannel"
          },
          "lastAttrUpdateDate": {
            "$ref": "#/components/schemas/lastAttrUpdateDate"
          }
        }
      },
      "infoType": {
        "type": "array",
        "description": "Specify if caller is interested only in specific datasets. If not specified, system will return all the data without filtering. Enum value will display attributes as follows:\n<li>RPINInfo - Will return RPIN enrollment details - RPIN, RPIN Name, RPIN Product etc</li>\n<li>CardInfo - Will return Card related other details - enrollment source channel, last attribute update date</li>\n<li>CustomerInfo - Will return the customer details</li>\n<li>LinkInfo - Will return all link relationships this card is part of. Details of relationship will include teh link group ID, link group name, and flag to indicate card's primary status in the relationship</li>\n",
        "example": [
          "RPINInfo",
          "CustomerInfo"
        ],
        "items": {
          "type": "string",
          "enum": [
            "RPINInfo",
            "CardInfo",
            "LinkInfo",
            "CustomerInfo"
          ]
        }
      },
      "LinkDetails": {
        "title": "Link group Details for queried PAN",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "groupId": {
              "type": "string",
              "description": "Group ID for the group",
              "example": "ABC"
            },
            "groupType": {
              "type": "string",
              "description": "Group Type that the card is enrolled in",
              "format": "enum",
              "example": "CUSTOMER",
              "enum": [
                "LOC",
                "USHNW",
                "USCROSSPROD",
                "CUSTOMER",
                "VIRTUAL"
              ]
            },
            "primaryPan": {
              "$ref": "#/components/schemas/pan"
            },
            "isPrimaryFlag": {
              "type": "string",
              "description": "Flag indicates if the card is primary in the group.",
              "format": "boolean",
              "example": "true"
            }
          }
        }
      },
      "rpin": {
        "type": "string",
        "description": "Registered Program Identification Number. 6 in length. RPIN has metadata associated with it that can be retrieved by the get GetAttributes API call.",
        "example": "009065"
      },
      "CardAccountRangeDetails": {
        "title": "Issuer Level Details for the Card's Account Range",
        "type": "object",
        "properties": {
          "bin": {
            "type": "string",
            "description": "The BIN associated to the PAN's account range. Can be 6 or 8 in length.",
            "example": "400003"
          },
          "lbid": {
            "$ref": "#/components/schemas/bid"
          },
          "ubid": {
            "$ref": "#/components/schemas/bid"
          },
          "fundingSource": {
            "type": "string",
            "description": "UBID for the PAN's range. 8 in length.",
            "format": "enum",
            "example": "C",
            "enum": [
              "C",
              "D",
              "P"
            ]
          },
          "issuerInitiatedALP": {
            "type": "string",
            "description": "Issuer has initiated Account level processing for the account range.",
            "format": "boolean",
            "example": "true"
          },
          "accountRangeProductId": {
            "$ref": "#/components/schemas/productId"
          }
        }
      },
      "lastAttrUpdateDate": {
        "type": "string",
        "description": "Date when last time the card attribute was updated.",
        "example": "2022-07-14"
      },
      "vdpExternalAppId": {
        "type": "string",
        "description": "internal_unique_id_per_enviroment GUID.",
        "example": "0047890ABN"
      },
      "updateChannel": {
        "type": "string",
        "description": "Channel from which update was done.",
        "format": "enum",
        "example": "API",
        "enum": [
          "API",
          "CMF",
          "AUTOREG"
        ]
      },
      "customerContactInfo": {
        "type": "object",
        "properties": {
          "email": {
            "maxLength": 100,
            "type": "string",
            "description": "(Conditional) Account holder’s email address. Required when prefMethodOfContact is E."
          },
          "address": {
            "type": "object",
            "properties": {
              "zip": {
                "maxLength": 5,
                "type": "string",
                "description": "(Conditional) Account holder’s zipcode. Required for the US, but can be left blank for a non-US address. Format: String; numeric."
              },
              "city": {
                "maxLength": 30,
                "type": "string",
                "description": "(REQUIRED if customerContactInfo segment is present) \n\n City associated with the account holder’s address. Format: String; alphanumeric; UTF-8, white space, carat (^), period (.), single quote (‘), asterisk (*), and hyphen (-) are allowed.",
                "example": "ABC City"
              },
              "line1": {
                "maxLength": 40,
                "type": "string",
                "description": "(Optional) First line associated with the account holder’s address. Format: String; alphanumeric; UTF-8, white space, comma (,), underscore (_), hashtag (#), colon (:), forward slash (/), period (.), single quote (‘), asterisk (*), and hyphen (-) are allowed.",
                "example": "ABC Street"
              },
              "line2": {
                "maxLength": 40,
                "type": "string",
                "description": "(Optional) Second line associated with the account holder’s address. Format: String; alphanumeric; UTF-8, white space, comma (,), underscore (_), hashtag (#), colon (:), forward slash (/), period (.), single quote (‘), asterisk (*), and hyphen (-) are allowed.",
                "example": "Suit 1"
              },
              "state": {
                "maxLength": 2,
                "type": "string",
                "description": "(Conditional) State or province code associated with the account holder’s address. Required for the US, but can be left blank for a non-US address. example: NY Format: String; ISO 3166-2."
              }
            },
            "description": "(Optional) Address details for the account holder."
          },
          "lastName": {
            "maxLength": 1,
            "type": "string",
            "description": "(REQUIRED if customerContactInfo segment is present) \n\n  Account holder’s last name."
          },
          "firstName": {
            "maxLength": 15,
            "type": "string",
            "description": "(REQUIRED if customerContactInfo segment is present) \n\n  Account holder’s first name."
          },
          "namePrefix": {
            "maxLength": 5,
            "type": "string",
            "description": "(Optional) Account holder’s name prefix."
          },
          "nameSuffix": {
            "maxLength": 5,
            "type": "string",
            "description": "(Optional) Account holder’s name suffix."
          },
          "companyName": {
            "maxLength": 40,
            "type": "string",
            "description": "(Optional) Account holder’s company name. Format: String; alphanumeric; UTF-8, white space, comma (,), underscore (_), hashtag (#), colon (:), forward slash (/), period (.), single quote (‘), and hyphens (-) are allowed.",
            "example": "ABC Company"
          },
          "mobileNumber": {
            "maxLength": 10,
            "type": "string",
            "description": "(Conditional) Account holder’s telephone number. Required when prefMethodOfContact is C."
          },
          "middleInitial": {
            "maxLength": 1,
            "type": "string",
            "description": "(Optional) Account holder’s middle initial."
          }
        }
      },
      "pan": {
        "title": "PAN / Account Number / Card Number",
        "maxLength": 19,
        "minLength": 13,
        "type": "integer",
        "description": "PAN / Account Number / Card Number of the card to be enrolled",
        "example": 4000010000
      },
      "BasePage": {
        "title": "Pagination API Response",
        "type": "object",
        "properties": {
          "last": {
            "title": "Is this the last page?",
            "type": "boolean"
          },
          "empty": {
            "title": "Is this an empty page?",
            "type": "boolean"
          },
          "first": {
            "title": "Is this the first page?",
            "type": "boolean"
          },
          "number": {
            "title": "Page Number",
            "minimum": 1,
            "type": "integer"
          },
          "totalCount": {
            "title": "Total number of results across all pages",
            "type": "integer"
          },
          "totalPages": {
            "title": "Total number of pages across",
            "type": "integer"
          },
          "resultsCount": {
            "title": "Number of results in this page",
            "type": "integer"
          }
        }
      },
      "bidName": {
        "type": "string",
        "description": "The Issuer Name associated to the PAN's account range.",
        "example": "Test Bank"
      },
      "CardAttributesPortProcDoc": {
        "title": "Card Attribute Details",
        "type": "object",
        "properties": {
          "CardInfo": {
            "$ref": "#/components/schemas/CardInfov2"
          },
          "LinkInfo": {
            "$ref": "#/components/schemas/LinkDetails"
          },
          "RPINInfo": {
            "$ref": "#/components/schemas/RPINInfov1"
          },
          "panlast4": {
            "$ref": "#/components/schemas/panlast4"
          },
          "CobrandInfo": {
            "$ref": "#/components/schemas/CobrandInfov1"
          },
          "CardHolderInfo": {
            "$ref": "#/components/schemas/customerContactInfo"
          },
          "InterchangeAttrInfo": {
            "$ref": "#/components/schemas/CardIntchgInfo"
          }
        }
      },
      "InvalidSize": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errorMsg": {
            "type": "string",
            "enum": [
              "INVALID_SIZE"
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "00012"
            ]
          },
          "invalidSize": {
            "$ref": "#/components/schemas/size"
          }
        }
      },
      "InvalidInfoType": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errorMsg": {
            "type": "string",
            "enum": [
              "INVALID_INFO_TYPE"
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "00009"
            ]
          },
          "invalidInfoType": {
            "$ref": "#/components/schemas/infoType"
          }
        }
      },
      "CardIntchgInfo": {
        "title": "Card Interchange Attribute Details",
        "type": "object",
        "properties": {
          "spendQualifierInd": {
            "$ref": "#/components/schemas/spendQualifiedIndicator"
          },
          "interChangeProductID": {
            "$ref": "#/components/schemas/productId"
          }
        }
      },
      "productId": {
        "type": "string",
        "description": "Product ID",
        "example": "A"
      },
      "ServerError": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errorMsg": {
            "type": "string",
            "enum": [
              "SERVER_ERROR"
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "00013"
            ]
          },
          "serverError": {
            "type": "string",
            "default": "Server Error"
          }
        }
      },
      "PaymentAccountReference": {
        "title": "PAR / Payment Account Reference",
        "maxLength": 29,
        "minLength": 29,
        "type": "string",
        "description": "A Payment Account Reference (PAR) is a unique reference value associated with a specific card holder PAN. It identifies the card account, not just a card.\nPAR is a non-payment identifier that can be associated to PANs and tokens, as defined by EMVCo.  PAR allows all participants in the payments chain to have a single, non-sensitive value assigned to a consumer. This value can be used in place of sensitive card holder identification fields, and transmitted across the payments ecosystem to facilitate card holder identification.\nPAR has a well-defined format (as per the Jan 2016 EMVCo documentation):\n- Fixed length of 29 characters\n- All Uppercase, Roman, & Alphanumeric values\n- 4-character BIN Controller ID assigned by EMVCo followed by a 25-character value\n"
      },
      "InvalidPan": {
        "type": "object",
        "properties": {
          "result": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errorMsg": {
            "type": "string",
            "enum": [
              "INVALID_PAN"
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "00008"
            ]
          },
          "invalidPan": {
            "$ref": "#/components/schemas/pan"
          }
        }
      },
      "coBrandName": {
        "type": "string",
        "description": "Name of the coBrand.",
        "example": "ABC Cobrand"
      },
      "ErrorResponse": {
        "required": [
          "reason"
        ],
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "API developers must use this field to drive their error handling logic",
            "example": "invalidRequest"
          },
          "status": {
            "maximum": 600,
            "minimum": 100,
            "type": "integer",
            "description": "3-digit HTTP Status Code",
            "example": 400
          },
          "details": {
            "type": "array",
            "description": "Array of fields - Data validation errors should use this array to specify  fields that failed validation using the location field",
            "items": {
              "required": [
                "location"
              ],
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string",
                  "description": "The specific reason for this error",
                  "example": "Must be a numeric value"
                },
                "message": {
                  "type": "string",
                  "description": "The specific error for this field",
                  "example": "Must be a non-empty value"
                },
                "location": {
                  "type": "string",
                  "description": "The value of this field is using an expression to point to a field that failed validation",
                  "example": "pan"
                }
              }
            }
          },
          "message": {
            "type": "string",
            "description": "Every error should have a human readable message describing the error. The message can very even for the same reason, thus providing additional details. API providers are free to change the message at any point of time. API clients should not use the message field to drive their business logic or to expose it directly to the consumers via UI or other means.",
            "example": "Input parameters validation failed"
          }
        },
        "description": "Standard Error Response Body"
      },
      "coBrand": {
        "type": "string",
        "description": "CoBrand Information associated with the RPIN.",
        "example": "Y/N"
      },
      "rpinRefNumber": {
        "type": "string",
        "description": "The RPIN Reference Number.",
        "example": "0047890ABN"
      },
      "size": {
        "type": "integer",
        "description": "Number of results per page",
        "format": "integer",
        "example": 10
      },
      "panlast4": {
        "type": "string",
        "description": "Last 4 digits of PAN number.",
        "format": "string",
        "example": "0"
      },
      "ErrorResponseReg": {
        "required": [
          "responseCode",
          "responseMessage"
        ],
        "type": "object",
        "properties": {
          "responseCode": {
            "maximum": 600,
            "minimum": 100,
            "type": "integer",
            "description": "3-digit HTTP Status Code",
            "example": 400
          },
          "responseMessage": {
            "type": "string",
            "description": "Every error should have a human readable message describing the error. The message can very even for the same reason, thus providing additional details. API providers are free to change the message at any point of time. API clients should not use the message field to drive their business logic or to expose it directly to the consumers via UI or other means.",
            "example": "Input parameters validation failed"
          }
        },
        "description": "Standard Error Response Body of registration"
      },
      "EncryptedAccountNumber": {
        "title": "Encrypted Personal Account Number (PAN or Card Number)",
        "type": "string",
        "description": "JWE<AccountNumber> - This is a URL-safe base64-encoded string that represents the encrypted payload for AccountNumber.\nThe format is the JSON Web Encryption using asymmetric/symmetric key material made available at time of onboarding. \nIt is a standard JWT with a single custom AccountNumber claim, “accountNumber” that contains the card number/PAN.\n\nVisa uses JSON Web Encryption (JWE) to encrypt sensitive information in APIs. For more info, see \"Encryption (JWE) Details\".\n",
        "format": "byte"
      },
      "registrationAttributes": {
        "title": "Attributes provided by registration",
        "type": "array",
        "example": [
          {
            "key": "X-CLIENT-ID",
            "value": "<App id provided by VDP, ex: 0047890ABN>"
          },
          {
            "key": "X-CHANNEL-ID",
            "value": "VDP"
          }
        ],
        "items": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "description": "Name of the Attribute"
            },
            "value": {
              "type": "string",
              "description": "Value of the Attribute"
            }
          }
        }
      },
      "ReplacementDetails": {
        "title": "Replacement Chain Details",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "pan": {
              "$ref": "#/components/schemas/pan"
            },
            "seqNo": {
              "type": "number",
              "description": "The sequence number of the card in teh chain - 1 being the earliest.",
              "format": "integer"
            }
          }
        }
      },
      "RPINInfov1": {
        "title": "Card Portfolio Details",
        "type": "object",
        "properties": {
          "rpin": {
            "$ref": "#/components/schemas/rpin"
          },
          "rpinName": {
            "$ref": "#/components/schemas/rpinName"
          },
          "rpinProductId": {
            "$ref": "#/components/schemas/productId"
          },
          "rpinProductName": {
            "$ref": "#/components/schemas/productName"
          },
          "rpinReferenceNumber": {
            "$ref": "#/components/schemas/rpinRefNumber"
          }
        }
      },
      "page": {
        "type": "integer",
        "description": "Results page to retrieve",
        "format": "integer",
        "example": 10
      },
      "bid": {
        "type": "string",
        "description": "The User Business Identification number that is associated to the PAN's account range. Length 8.",
        "example": "10000001"
      },
      "additionalAttributes": {
        "title": "Additional Attributes provided in registration",
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "description": "Name of the Attribute",
              "example": "BID"
            },
            "value": {
              "type": "string",
              "description": "Value of the Attribute",
              "example": "10041234"
            }
          }
        }
      }
    },
    "responses": {
      "InvalidEntitlementErrorResponse": {
        "description": "API invalid entitlement error caused due to the following reason:\n+ Caller not authorized to get the card info.\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Unauthorized"
                        },
                        "status": {
                          "type": "integer",
                          "example": 402
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "InputValidationErrorResponse": {
        "description": "The <code>errorResponse.details</code> part of the error response can provide a list of fields that failed data validation constraints and errorResponse.reason values for this error include:\n  <ul>\n  <li><code>invalidHeader</code>APIKey not present in request header OR\n  <li><code>invalidHeader</code>X-CORRELATION ID not present in request header OR\n  <li><code>invalidHeader</code>Content-Type not present in request header OR\n  <li><code>invalidRequest</code>The API server could not understand the request; for example, the field is not in a particular format,like PAN is not numeric/has less than 13 digits etc.\n  <li><code>InvalidInfoType</code>The API server could not understand the Info Type in request.\n  </ul>\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "invalidRequest"
                        },
                        "status": {
                          "type": "integer",
                          "example": 400
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "ConflictError": {
        "description": "Conflict",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Duplicate Data"
                        },
                        "status": {
                          "type": "integer",
                          "example": 409
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "APINoLongerSupportedError": {
        "description": "Gone - Indicates that the resource at this end point is no longer available. \nThis is usually returned for old API versions that are not available anymore - EOL (End-of-Life). The content-type header in the response indicates the latest supported API version.\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Gone"
                        },
                        "status": {
                          "type": "integer",
                          "example": 410
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "EntryPresentErrorResponse": {
        "description": "The specified VDP External APP ID is already present",
        "headers": {
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ErrorResponseReg"
                }
              ]
            }
          }
        }
      },
      "ForbiddenErrorResponse": {
        "description": "The 403 (Forbidden) HTTP Status code indicates that this consumer does not have permission to access the requested resource. \nThis can happen if you are trying to invoke an API request for a resource that is not allowed.\n\nCheck for the following:\n  + Your API Key is valid one.\n  + You API Key is onboarded.\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "Forbidden"
                        },
                        "status": {
                          "type": "integer",
                          "example": 403
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal Server Error.\n\nPlease contact VCPE Support at GDLVCPEAPIPRE@visa.com with a complete error message, full http request and response details.\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "serviceError"
                        },
                        "status": {
                          "type": "integer",
                          "example": 501
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "TooManyRequestsError": {
        "description": "The VCPE CAQ project has clocked too many requests in a given amount of time. \n\nPlease contact VCPE Support at GDLVCPEAPIPRE@visa.com if you want to increase the time limits.\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
            "$ref": "#/components/headers/TraceHeaderInResponse"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StandardError"
                },
                {
                  "properties": {
                    "errorResponse": {
                      "type": "object",
                      "properties": {
                        "reason": {
                          "type": "string",
                          "example": "rateLimitExceeded"
                        },
                        "status": {
                          "type": "integer",
                          "example": 429
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "NotAcceptableContentError": {
        "description": "Not Acceptable - Indicates that the \"Accept:\" header field is present in a request and none of the available representations for the response have a media type that is listed as acceptable.\n\nThis can happen when the requested API version is not available or unsupported; for example, when the version requested in the Accept: header is newer than the currently live/supported version.\n",
        "headers": {
          "x-api-version": {
            "$ref": "#/components/headers/VersionInResponse"
          },
          "x-correlation-id": {
[...]
