{
  "openapi": "3.1.0",
  "info": {
    "title": "VisaNet Connect - Issuing",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "ATM API",
      "description": "ATM API"
    },
    {
      "name": "Adjustments API",
      "description": "Adjustments API"
    },
    {
      "name": "Authorizations API",
      "description": "Authorizations API"
    },
    {
      "name": "Card Services API",
      "description": "Issuers can generate a new card or update card details for existing cardholders."
    },
    {
      "name": "Cardholder Database Update",
      "description": "This API will mimic 0302 message type functionality and allow issuers to interact with the Visa Exception File (fka Cardholder Database) via API messaging."
    },
    {
      "name": "Completions API",
      "description": "Completions API"
    },
    {
      "name": "Inquiries API",
      "description": "Inquiries API"
    },
    {
      "name": "Purchases API",
      "description": "Purchases API"
    },
    {
      "name": "Returns API",
      "description": "Returns API"
    }
  ],
  "paths": {
    "/connect/v1/cdb/update": {
      "post": {
        "tags": [
          "Cardholder Database Update"
        ],
        "summary": "CDBUpdate",
        "description": "/connect/v1/cdb/update - Apply special processing conditions at the cardholder level. Enables issuers to: - Set accounts with preset spending limits. - Update and query stand-in processing (STIP) available balance. - Flag stolen or compromised cards. - Set regional restriction for card usage.",
        "operationId": "cdbUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CDBUpdateRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "Tx": {
                      "FileActnTp": "ADDD",
                      "FileActnDtls": {
                        "DataRcrd": {
                          "RGNC": [
                            "ACEU"
                          ],
                          "ACCD": "LCPU"
                        }
                      }
                    },
                    "Envt": {
                      "Card": {
                        "PAN": "4000220177656623"
                      }
                    },
                    "Hdr": {
                      "msgIdentfctn": {
                        "clientId": "1DLMLAPPKDJ04301701",
                        "correlatnId": "CDBtesttransaction"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CDBUpdateResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "Hdr": {
                        "msgIdentfctn": {
                          "correlatnId": "CDBtesttransaction"
                        }
                      },
                      "PrcgRslt": {
                        "RsltDtls": "00"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                },
                "examples": {
                  "SampleError": {
                    "value": {
                      "error": {
                        "msg": "Tx.FileActn.DataRcrd.RGNC value is invalid",
                        "code": "400"
                      },
                      "msgIdentfctn": {
                        "reqstId": "505B345225AC7A87739C883229C9C083",
                        "correlatnId": "Gg6yTAyWkmhyz0jPKHz12ewb"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403"
                },
                "examples": {
                  "ForbiddenError": {
                    "value": {
                      "error": {
                        "msg": "Forbidden",
                        "code": "403"
                      },
                      "msgIdentfctn": {
                        "reqstId": "66E8DA6C0FDFD87000B2446F0BA0CB08",
                        "correlatnId": "Gg95ey7Wkmhyq0jPKHziaaac"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1connect~1v1~1cdb~1update/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/connect/v1/cardServices/new": {
      "post": {
        "tags": [
          "Card Services API"
        ],
        "summary": "New Card",
        "description": "New Card API. Use this endpoint to request new card credentials.  It will generate a PAN (if needed), CVV, CVV2, iCVV, and PAN Reference Identifier (PRI).",
        "operationId": "visaConnectNewAcct",
        "parameters": [
          {
            "name": "X-App-Id",
            "in": "header",
            "description": "Application identifier that corresponds to the given clientId.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewCardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1connect~1v1~1cardServices~1new/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/connect/v1/cardServices/get": {
      "post": {
        "tags": [
          "Card Services API"
        ],
        "summary": "Card Inquiry",
        "description": "Use this endpoint to inquire on card details.  Can be used to get the PAN if only the PRI is sent, or to return the CVV, CVV2, and iCVV values (No PAN will be sent in this scenario).",
        "operationId": "visaConnectAcctInquiry",
        "parameters": [
          {
            "name": "X-App-Id",
            "in": "header",
            "description": "Application identifier that corresponds to the given clientId.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardRequest-1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardResponse-1"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1connect~1v1~1cardServices~1get/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/connect/v1/cardServices/update": {
      "post": {
        "tags": [
          "Card Services API"
        ],
        "summary": "Card Update",
        "description": "Use this endpoint for PAN replacement and updates to card expiration date.",
        "operationId": "visaConnectUpdateAcct",
        "parameters": [
          {
            "name": "X-App-Id",
            "in": "header",
            "description": "Application identifier that corresponds to the given clientId.",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/AppId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardRequest-2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardResponse-2"
                }
              }
            }
          },
          "400": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponse"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1connect~1v1~1cardServices~1update/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    }
  },
  "components": {
    "schemas": {
      "400": {
        "required": [
          "error",
          "msgIdentfctn"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/error"
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/msgIdentfctnRspError"
          }
        },
        "description": "Used when validation fails or transaction is rejected"
      },
      "403": {
        "required": [
          "error",
          "msgIdentfctn"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/error"
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/msgIdentfctnRspError"
          }
        },
        "description": "Used when validation fails or transaction is rejected, usually due to an issue with the client profile or app-id"
      },
      "CardFullSvcRequest-5": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "Trck1": {
            "$ref": "#/components/schemas/Trck1"
          },
          "Trck2": {
            "$ref": "#/components/schemas/Trck2"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt-1"
          },
          "SchmeId": {
            "$ref": "#/components/schemas/SchmeId"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          },
          "CardPdctTp": {
            "$ref": "#/components/schemas/CardPdctTp-1"
          }
        },
        "description": "Card details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CardFullSvcRequest-3": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "Trck1": {
            "$ref": "#/components/schemas/Trck1"
          },
          "Trck2": {
            "$ref": "#/components/schemas/Trck2"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt-3"
          },
          "SchmeId": {
            "$ref": "#/components/schemas/SchmeId"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          },
          "CardCtryCd": {
            "$ref": "#/components/schemas/CardCtryCd"
          }
        },
        "description": "Card or PAN details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CardFullSvcRequest-4": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "SchmeId": {
            "$ref": "#/components/schemas/SchmeId"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          },
          "CardPrtflIdr": {
            "$ref": "#/components/schemas/CardPrtflIdr"
          }
        },
        "description": "Card details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CardFullSvcRequest-1": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "Trck1": {
            "$ref": "#/components/schemas/Trck1"
          },
          "Trck2": {
            "$ref": "#/components/schemas/Trck2"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt-1"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          },
          "CardCtryCd": {
            "$ref": "#/components/schemas/CardCtryCd"
          }
        },
        "description": "Card details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CardFullSvcRequest-2": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "Trck1": {
            "$ref": "#/components/schemas/Trck1"
          },
          "Trck2": {
            "$ref": "#/components/schemas/Trck2"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt-2"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          }
        },
        "description": "Card or PAN details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TrnsmssnDtTm": {
        "maxLength": 10,
        "minLength": 1,
        "description": "10-digit transmission date and time of the original message. Ref ISO F7",
        "exampleSetFlag": false,
        "types": [
          "string"
        ]
      },
      "CardFullSvcRequest-7": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          },
          "CardCtryCd": {
            "$ref": "#/components/schemas/CardCtryCd"
          }
        },
        "description": "Card or PAN details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "AccptrVoidRequest": {
        "properties": {
          "Adr": {
            "$ref": "#/components/schemas/AccptrVoidAdr"
          },
          "URL": {
            "$ref": "#/components/schemas/URL"
          },
          "PhneNb": {
            "$ref": "#/components/schemas/PhneNb"
          },
          "AddtlId": {
            "$ref": "#/components/schemas/AccptrAddtlIdReq"
          },
          "PrtnrId": {
            "$ref": "#/components/schemas/PrtnrId"
          },
          "SvcLctn": {
            "$ref": "#/components/schemas/SvcLctn"
          },
          "CstmrSvc": {
            "$ref": "#/components/schemas/CstmrSvc"
          },
          "FrgnRtlrInd": {
            "$ref": "#/components/schemas/FrgnRtlrInd"
          },
          "AddtlCtctInf": {
            "$ref": "#/components/schemas/AddtlCtctInf"
          },
          "PaymentFacltId": {
            "$ref": "#/components/schemas/PaymentFacltId"
          }
        },
        "description": "Card acceptor details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "ReturnLiteResponse-1": {
        "required": [
          "Hdr",
          "PrcgRslt"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxResponse-8"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrResponse-11"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtResponse-7"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltResponse-8"
          },
          "SplmtryData": {
            "$ref": "#/components/schemas/SplmtryDataResponse"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "IPAdrVlctyCnt": {
        "maxLength": 2,
        "minLength": 2,
        "description": "IP Address Velocity Count. Values: 01-99. Ref ISO 8583 F34.56.9F20",
        "format": "ISO F34.56.9F20",
        "example": "01",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TerminalId": {
        "maxLength": 9,
        "minLength": 1,
        "description": "Card acceptor terminal code. Used by itself or with Envt.Accptr.Id when Envt.Accptr.Id is not unique to a terminal.",
        "example": "1233245",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "ACCD": {
        "maxLength": 4,
        "minLength": 4,
        "type": "string",
        "description": "Applies a specific action to card.  Action codes beginning with '1DA' are associated with special high-value activity limits.\n| Action Code | Description |\n|-------|----------- |\n| CLOS |  |\n| SUSF |  |\n| SANC |  |\n| PUNF | Pick up card, no fraud |\n| DNTH | Do not honor |\n| PUWF | Pick up card, special condition (fraud) |\n| APVL | Approval for VIP and also approval within limits |\n| INVA | Invalid/closed account |\n| LCPU | Lost card, pick up (fraud) |\n| SCPU | Stolen card, pick up (fraud) |\n| EXPC | Expired card |\n| 1DA1 | One Day limit of USD 1,500 and 3 transactions |\n| 1DA2 | One Day limit of USD 2,000 and 5 transactions |\n| 1DA3 | One Day limit of USD 3,000 and 8 transactions |\n| 1DA4 | One Day limit of USD 4,500 and 12 transactions |\n| 1DA5 | One Day limit of USD 6,000 and 15 transactions |\n| 1DA6 | One Day limit of USD 8,000 and 20 transactions |\n| 1DA7 | One Day limit of USD 10,000 and 25 transactions |\n| 1DA8 | One Day limit of USD 1,500 and 4 transactions |\n| 1DA9 | One Day limit of USD 2,250 and 6 transactions |\n| 1DXA | Forward to issuer; default to 00 |\n| 1DXC | Mastercard Account Management System pickup card |\n| 1DXD | Forward to issuer; default to 05 |\n",
        "example": "DNTH",
        "enum": [
          "CLOS",
          "PUNF",
          "DNTH",
          "PUWF",
          "APVL",
          "INVA",
          "LCPU",
          "SCPU",
          "EXPC",
          "1DA1",
          "1DA2",
          "1DA3",
          "1DA4",
          "1DA5",
          "1DA6",
          "1DA7",
          "1DA8",
          "1DA9",
          "1DXA",
          "1DXC",
          "1DXD"
        ]
      },
      "AnnlTtlCostFin": {
        "maxLength": 7,
        "minLength": 1,
        "description": "Annual financing cost.",
        "example": "42.66",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TransportDepartureDate-1": {
        "maxLength": 6,
        "minLength": 6,
        "description": "Departure date. Format: MMDDYY.",
        "format": "MMDDYY",
        "example": "031015",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "msgIdentfctnRequest-3": {
        "required": [
          "clientId",
          "correlatnId",
          "id"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/transactionId-1"
          },
          "clientId": {
            "$ref": "#/components/schemas/clientId"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId"
          }
        },
        "description": "Request header message identification details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "msgIdentfctnRequest-1": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/transactionId"
          },
          "clientId": {
            "$ref": "#/components/schemas/clientId-2"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId-2"
          }
        },
        "description": "Message identification details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CntxtVoidFullSvcResponse-1": {
        "properties": {
          "Vrfctn": {
            "$ref": "#/components/schemas/VrfctnFullSvcResponse-1"
          }
        },
        "description": "Response context details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TransportDepartureDate-2": {
        "maxLength": 6,
        "minLength": 6,
        "description": "Departure date. Format: MMDDYY",
        "format": "MMDDYY",
        "example": "031015",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "VrfctnRsltDtls": {
        "maxLength": 2,
        "minLength": 1,
        "description": "Verification or authentication result detail.",
        "example": "M",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "ATMVoidFullSvcResponse": {
        "required": [
          "Envt",
          "Hdr",
          "PrcgRslt"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxVoidResponse-1"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrResponse-1"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtVoidFullSvcResponse"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtVoidFullSvcResponse"
          },
          "NtnlData": {
            "$ref": "#/components/schemas/NtnlDataResponse"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltResponse-1"
          },
          "ICCRltdData": {
            "$ref": "#/components/schemas/ICCRltdData-1"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "StrngCstmrAuthntcnFullSvcRequest-1": {
        "properties": {
          "Xmptn": {
            "$ref": "#/components/schemas/Xmptn"
          },
          "THDSInd": {
            "$ref": "#/components/schemas/THDSInd"
          },
          "RsnNotHnrd": {
            "$ref": "#/components/schemas/RsnNotHnrd"
          },
          "DlgtdAuthrty": {
            "$ref": "#/components/schemas/DlgtdAuthrty"
          }
        },
        "description": "Strong customer authentication details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "FleetSvcTp-3": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Service Type | Description | \n|------|-------------|\n| FLSV | Full Service | \n| SLSV | Self-service |  \n",
        "example": "FLSV",
        "enum": [
          "FLSV",
          "SLSV"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "msgIdentfctnRequest-9": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/transactionId"
          },
          "clientId": {
            "$ref": "#/components/schemas/clientId"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId"
          }
        },
        "description": "Message identification details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "msgIdentfctnRequest-7": {
        "required": [
          "correlatnId",
          "id"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/transactionId"
          },
          "clientId": {
            "$ref": "#/components/schemas/clientId-2"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId"
          }
        },
        "description": "Message identification details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "FleetSvcTp-1": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Service Type | Description |\n|------|-------------|\n| FLSV | Full Service |\n| SLSV | Self-service |",
        "example": "FLSV",
        "enum": [
          "FLSV",
          "SLSV"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "msgIdentfctnRequest-4": {
        "required": [
          "clientId",
          "correlatnId"
        ],
        "type": "object",
        "properties": {
          "clientId": {
            "$ref": "#/components/schemas/clientId-3"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId-3"
          }
        },
        "description": "Message identification details."
      },
      "FleetSvcTp-2": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Service Type&nbsp;&nbsp; | Description |\n|------|-------------|\n| FLSV | Full Service |\n| SLSV | Self-service |",
        "example": "FLSV",
        "enum": [
          "FLSV",
          "SLSV"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AltrnMsgRsnItem-3": {
        "maxLength": 5,
        "minLength": 2,
        "description": "Message Reason Code or STIP/Switch Reason Code.  This code identifies the reason why STIP responded on behalf of the issuer.",
        "example": "9020",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AltrnMsgRsnItem-2": {
        "maxLength": 5,
        "minLength": 4,
        "description": "Message Reason Code or STIP/Switch Reason Code.  This code identifies the reason why STIP responded on behalf of the issuer.",
        "example": "S9020",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AltrnMsgRsnItem-1": {
        "maxLength": 5,
        "minLength": 4,
        "description": "Message Reason Code or STIP/Switch Reason Code.  This code identifies the reason why STIP responded on behalf of the issuer.",
        "example": "9020",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "DtldAmtCcy-1": {
        "maxLength": 3,
        "minLength": 3,
        "description": "Currency code.",
        "example": "840",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TxAmt": {
        "properties": {
          "Amt": {
            "$ref": "#/components/schemas/TxAmtAmount"
          },
          "Ccy": {
            "$ref": "#/components/schemas/TxAmtCcy"
          }
        },
        "description": "Transaction amount details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "NewRsltItemResult": {
        "maxLength": 4,
        "minLength": 4,
        "type": "string",
        "description": "Indicates if cryptogram value was generated or not. \nEnums: \"SUCC\" - successful, \"FAIL\" - failure to generate.\n",
        "example": "SUCC",
        "enum": [
          "SUCC",
          "FAIL"
        ]
      },
      "ATMVoidFullSvcRequest-1": {
        "required": [
          "Hdr",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxVoidRequest-2"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-1"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtVoidFullSvcRequest-2"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtVoidFullSvcRequest-2"
          },
          "NtnlData": {
            "$ref": "#/components/schemas/NtnlDataRequest"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltRequest-1"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataRequest-2"
          },
          "ICCRltdData": {
            "$ref": "#/components/schemas/ICCRltdData-1"
          },
          "OrgnlDataElmts": {
            "$ref": "#/components/schemas/OrgnlDataElmtsVoidReq"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "ReturnVoidLiteRequest-1": {
        "required": [
          "Hdr",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxVoidRequest-8"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-11"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtVoidRequest-7"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtVoidRequest-6"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltVoidRequest-3"
          },
          "RcrngPmt": {
            "$ref": "#/components/schemas/RcrngPmt"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataVoidRequest-5"
          },
          "OrgnlDataElmts": {
            "$ref": "#/components/schemas/OrgnlDataElmtsVoidReq-2"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "RejectMsg": {
        "maxLength": 100,
        "minLength": 1,
        "description": "Reason for the issuer reject.",
        "example": "Field or data missing or invalid",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "Ldgg": {
        "properties": {
          "Summry": {
            "$ref": "#/components/schemas/LodgingSummry"
          },
          "LdggLineItm": {
            "$ref": "#/components/schemas/LdggLineItm"
          }
        },
        "description": "Lodging details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "ApprvlData": {
        "required": [
          "ApprvlCd"
        ],
        "properties": {
          "ApprvlCd": {
            "$ref": "#/components/schemas/ApprvlCd"
          }
        },
        "description": "Issuer approval data details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "VrfctnResponse": {
        "maxItems": 12,
        "minItems": 1,
        "description": "List of verification results.",
        "items": {
          "$ref": "#/components/schemas/VrfctnResponseItem"
        },
        "exampleSetFlag": false,
        "types": [
          "array"
        ]
      },
      "AcctBalDetailsCcy": {
        "maxLength": 3,
        "minLength": 3,
        "description": "3-digit code used to identify the currency.",
        "example": "840",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "clientId": {
        "maxLength": 32,
        "minLength": 1,
        "description": "Unique value assigned by Visa.",
        "example": "1VISAGCT000002",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TransactionAddtlAmtAmountObj": {
        "properties": {
          "Amt": {
            "$ref": "#/components/schemas/TransactionAddtlAmtAmount-2"
          },
          "Ccy": {
            "$ref": "#/components/schemas/TransactionAddtlAmtCcy"
          },
          "CdtDbt": {
            "$ref": "#/components/schemas/TransactionAddtlAmtCdtDbt-1"
          }
        },
        "description": "Additional transaction amount details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "UpdateCardObjRequest-1": {
        "required": [
          "PANRefIdr",
          "XpryDt"
        ],
        "type": "object",
        "properties": {
          "Seed": {
            "$ref": "#/components/schemas/SeedValue"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt-4"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb-2"
          },
          "PANRefIdr": {
            "$ref": "#/components/schemas/PANRefIdr-2"
          }
        },
        "description": "Details of credential to be updated."
      },
      "UpdateCardObjRequest-2": {
        "required": [
          "PANRefIdr",
          "XpryDt"
        ],
        "type": "object",
        "properties": {
          "Seed": {
            "$ref": "#/components/schemas/SeedValue"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt-4"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb-2"
          },
          "PANRefIdr": {
            "$ref": "#/components/schemas/PANRefIdr-2"
          }
        },
        "description": "Details of credential to be updated."
      },
      "LdggLineItemTp-1": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Lodging Tp&nbsp;&nbsp; | Description |\n |------|-------------| \n| RMSE | Restaurant or Room Service | \n| GIFT | Gift Shop | \n| MINI | Mini-Bar | \n| PHON | Telephone | \n| OTHR | Other | \n| LAUN | Laundry | \n| OTHP | Other Type |",
        "example": "RMSE",
        "enum": [
          "RMSE",
          "GIFT",
          "MINI",
          "PHON",
          "OTHR",
          "LAUN",
          "OTHP"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "FleetPurchsTp-2": {
        "maxLength": 4,
        "minLength": 1,
        "description": "| Purchase Type&nbsp;&nbsp; | Description |\n|------|-------------|\n| FUEL | Fuel Purchase |\n| NONF | Non-Fuel Purchase |\n| FANF | Fuel and Non-Fuel Purchase |",
        "example": "FUEL",
        "enum": [
          "FUEL",
          "NONF",
          "FANF"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "FleetPurchsTp-3": {
        "maxLength": 4,
        "minLength": 1,
        "description": "| Purchase Type | Description | \n|------|-------------|\n| FUEL | Fuel Purchase |\n| NONF | Non-Fuel Purchase | \n| FANF | Fuel and Non-Fuel Purchase |\n",
        "example": "FUEL",
        "enum": [
          "FUEL",
          "NONF",
          "FANF"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "CompVoidFullSvcResponse": {
        "required": [
          "Envt",
          "Hdr",
          "PrcgRslt",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxVoidResponse-5"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrResponse-9"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtVoidFullSvcResponse-3"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltResponse-6"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxRequest-1": {
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-1"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-1"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr-1"
          },
          "AcctTo": {
            "$ref": "#/components/schemas/AcctTo"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmtsRequest-1"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-1"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-1"
          },
          "AddtlFee": {
            "$ref": "#/components/schemas/TransactionAddtlFee"
          },
          "DpstDtls": {
            "$ref": "#/components/schemas/DpstDtls"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn-1"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/SpclPrgrmmQlfctn-1"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CardFullSvcRequest": {
        "required": [
          "PAN"
        ],
        "properties": {
          "PAN": {
            "$ref": "#/components/schemas/PAN"
          },
          "Trck1": {
            "$ref": "#/components/schemas/Trck1"
          },
          "Trck2": {
            "$ref": "#/components/schemas/Trck2"
          },
          "XpryDt": {
            "$ref": "#/components/schemas/XpryDt"
          },
          "SchmeId": {
            "$ref": "#/components/schemas/SchmeId"
          },
          "CardSeqNb": {
            "$ref": "#/components/schemas/CardSeqNb"
          },
          "CardCtryCd": {
            "$ref": "#/components/schemas/CardCtryCd"
          },
          "CardPdctTp": {
            "$ref": "#/components/schemas/CardPdctTp"
          }
        },
        "description": "Card or PAN details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxVoidFullSvcCntxt-1": {
        "properties": {
          "Rcncltn": {
            "$ref": "#/components/schemas/RcncltnDate-1"
          },
          "XpctdClrDt": {
            "$ref": "#/components/schemas/XpctdClrDt"
          },
          "IccFllbckInd": {
            "$ref": "#/components/schemas/IccFllbckInd"
          },
          "MrchntCtgyCd": {
            "$ref": "#/components/schemas/MrchntCtgyCd"
          },
          "MrchntVolInd": {
            "$ref": "#/components/schemas/MrchntVolInd"
          },
          "CardPrgrmmApId": {
            "$ref": "#/components/schemas/CardPrgrmmApId-1"
          },
          "MgntcStrpFllbckInd": {
            "$ref": "#/components/schemas/MgntcStrpFllbckInd"
          }
        },
        "description": "Transaction context details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxRequest-8": {
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-6"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-5"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr-4"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmtsRequest-5"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-4"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-8"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn-6"
          },
          "AssoctdDataInd": {
            "$ref": "#/components/schemas/AssoctdDataInd-1"
          },
          "AssoctdDataRef": {
            "$ref": "#/components/schemas/AssoctdDataRef"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/SpclPrgrmmQlfctn-7"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "RouteNb": {
        "maxLength": 5,
        "minLength": 1,
        "description": "Trip leg flight number.",
        "example": "AA430",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TxRequest-6": {
        "required": [
          "TxTp"
        ],
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-4"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-4"
          },
          "TmLmt": {
            "$ref": "#/components/schemas/TmLmt"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr-3"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmts-1"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-4"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-6"
          },
          "AddtlFee": {
            "$ref": "#/components/schemas/TransactionAddtlFee-2"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData-2"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn-5"
          },
          "AssoctdDataInd": {
            "$ref": "#/components/schemas/AssoctdDataInd-1"
          },
          "AssoctdDataRef": {
            "$ref": "#/components/schemas/AssoctdDataRef"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/SpclPrgrmmQlfctn-5"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "AuthVoidLiteRequest": {
        "required": [
          "Hdr",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxVoidRequest"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtVoidRequest"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtVoidRequest"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltVoidRequest"
          },
          "RcrngPmt": {
            "$ref": "#/components/schemas/RcrngPmt"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataVoidRequest"
          },
          "OrgnlDataElmts": {
            "$ref": "#/components/schemas/OrgnlDataElmtsVoidReq"
          }
        },
        "description": "Used for Reversing or Voiding an Authorization Request",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TransactionAddtlSvcResponseItem": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/TxAddtlSvcTp"
          },
          "OthrTp": {
            "$ref": "#/components/schemas/TxAddtlSvcOthrTp"
          },
          "SvcDtls": {
            "$ref": "#/components/schemas/TransactionAddtlSvcDtls"
          }
        },
        "description": "Additional service responses.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxRequest-4": {
        "required": [
          "TxAmts"
        ],
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-3"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-3"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmtsRequest-3"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-3"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-4"
          },
          "AddtlFee": {
            "$ref": "#/components/schemas/TransactionAddtlFee-1"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData"
          },
          "AltrnMsgRsn": {
            "maxItems": 2,
            "description": "Message Reason Code or STIP/Switch Reason Code. This code identifies the reason why STIP responded on behalf of the issuer.",
            "items": {
              "$ref": "#/components/schemas/AltrnMsgRsnItem-2"
            },
            "exampleSetFlag": false,
            "types": [
              "array"
            ]
          },
          "AssoctdDataInd": {
            "$ref": "#/components/schemas/AssoctdDataInd-1"
          },
          "AssoctdDataRef": {
            "$ref": "#/components/schemas/AssoctdDataRef"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/SpclPrgrmmQlfctn-3"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxRequest-5": {
        "required": [
          "TxAmts"
        ],
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-3"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-3"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmtsRequest-3"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-3"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-5"
          },
          "AddtlFee": {
            "$ref": "#/components/schemas/TransactionAddtlFee-1"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData"
          },
          "AltrnMsgRsn": {
            "maxItems": 2,
            "description": "Message Reason Code or STIP/Switch Reason Code. This code identifies the reason why STIP responded on behalf of the issuer.",
            "items": {
              "$ref": "#/components/schemas/AltrnMsgRsnItem-2"
            },
            "exampleSetFlag": false,
            "types": [
              "array"
            ]
          },
          "AssoctdDataInd": {
            "$ref": "#/components/schemas/AssoctdDataInd-1"
          },
          "AssoctdDataRef": {
            "$ref": "#/components/schemas/AssoctdDataRef"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/SpclPrgrmmQlfctn-3"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxRequest-2": {
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-1"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-1"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr-1"
          },
          "AcctTo": {
            "$ref": "#/components/schemas/AcctTo"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmtsRequest-1"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-1"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-2"
          },
          "AddtlFee": {
            "$ref": "#/components/schemas/TransactionAddtlFee"
          },
          "DpstDtls": {
            "$ref": "#/components/schemas/DpstDtls"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn-1"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/SpclPrgrmmQlfctn-1"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxRequest-3": {
        "required": [
          "TxTp"
        ],
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/TxId-2"
          },
          "TxTp": {
            "$ref": "#/components/schemas/TxTp-2"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/AcctFr-2"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/TxAmts"
          },
          "TxAttr": {
            "$ref": "#/components/schemas/TxAttr-2"
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlAmt": {
            "$ref": "#/components/schemas/TransactionAddtlAmt-3"
          },
          "AddtlSvc": {
            "$ref": "#/components/schemas/TransactionAddtlSvcRequest-1"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/TransactionAddtlData-1"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn-1"
          }
        },
        "description": "Transaction details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "FleetPurchsTp-1": {
        "maxLength": 4,
        "minLength": 1,
        "description": "| Purchase Type |\n| Description |\n|------|\n|-------------|\n| FUEL |\n| Fuel Purchase |\n| NONF |\n| Non-Fuel Purchase |\n| FANF |\n| Fuel and Non-Fuel Purchase |",
        "example": "FUEL",
        "enum": [
          "FUEL",
          "NONF",
          "FANF"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SvcLctnPstlCd": {
        "maxLength": 10,
        "minLength": 4,
        "description": "Contains acceptor service location postal code.Ref ISO 8583 F34.02.D0",
        "format": "F34.02.D0",
        "example": "",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AccptrAddtlIdItems": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/AccptrAddtlIdItemsTp"
          },
          "Val": {
            "$ref": "#/components/schemas/AccptrAddtlIdItemsVal"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CrdhldrBllgAmtAmount-2": {
        "maxLength": 14,
        "minLength": 1,
        "description": "Cardholder billing amount, converted to the currency used to bill the cardholder's account. Sometimes called the transaction amount in destination currency.",
        "example": "12.53",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "CrdhldrBllgAmtAmount-1": {
        "maxLength": 14,
        "minLength": 1,
        "description": "Cardholder billing amount, converted to the currency used to bill the cardholder's account. Sometimes called the transaction amount in destination currency.",
        "example": 12.55,
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TxAddtlSvcDtlsTp": {
        "maxLength": 35,
        "minLength": 1,
        "description": "Identifies the type of data sent in Val.",
        "example": "PyerId",
        "enum": [
          "PyerId",
          "RsltRsnCd"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AppIPAdr": {
        "maxLength": 45,
        "minLength": 1,
        "description": "3DS App IP Address. Ref ISO 8583 F34.01.92",
        "format": "ISO F34.01.92",
        "example": "",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "DpstDtls": {
        "maxItems": 2,
        "description": "| Tp | Description | \n|----|-------------|\n| CASH | Cash | \n| CHEC | Check | \n| ENVL | Envelope |\n",
        "items": {
          "$ref": "#/components/schemas/DpstDtlsItem"
        },
        "exampleSetFlag": false,
        "types": [
          "array"
        ]
      },
      "Adr": {
        "properties": {
          "Ctry": {
            "$ref": "#/components/schemas/Ctry"
          },
          "TwnNm": {
            "$ref": "#/components/schemas/AccptrTwnNm"
          }
        },
        "description": "Address details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "LanguageCode": {
        "maxLength": 3,
        "minLength": 2,
        "description": "ISO 639 language code. Applied to all tags in this dataset except C0 and C1.",
        "example": "EN",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PassengerTransport-1": {
        "properties": {
          "Summry": {
            "$ref": "#/components/schemas/TransportSummary-5"
          },
          "TripLeg": {
            "$ref": "#/components/schemas/TripLeg-3"
          }
        },
        "description": "Passenger transport details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "FleetDriverEmployeeId": {
        "maxLength": 12,
        "minLength": 1,
        "description": "Visa fleet employee number.",
        "example": "91720",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SpnsrdMrchntAddtlDataTp": {
        "maxLength": 35,
        "minLength": 1,
        "description": "|Spons. Merchant Addt'l Data Type| Description|\n|ISOid | Independent Sales Organization ID|\n| Text | Additional Data, Unformatted Text or Text Message|",
        "example": "ISOid",
        "enum": [
          "ISOid",
          "Text"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "CstmrSvc": {
        "maxLength": 16,
        "minLength": 1,
        "description": "For card-present transactions, contains the merchant outlet location. For card-not-present transactions, contains the customer service number and URL or e-mail address.",
        "example": "14155552235",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "CrdhldrId-1": {
        "maxItems": 2,
        "minItems": 1,
        "description": "",
        "items": {
          "$ref": "#/components/schemas/CrdhldrIdItem-1"
        },
        "exampleSetFlag": false,
        "types": [
          "array"
        ]
      },
      "ElgblInd": {
        "description": "Indicates if transaction is eligible for Persistence FX service.",
        "example": true,
        "exampleSetFlag": true,
        "types": [
          "boolean"
        ]
      },
      "AdddmDataAddtlDataRequestItem-1": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/AdddmDataAddtlDataTp-2"
          },
          "Val": {
            "$ref": "#/components/schemas/AdddmDataAddtlDataVal-1"
          }
        },
        "description": "| Tp | Description | \n|----|-------------|\n| HostBsdPrchRstrctn | Host Based Purchase Restriction | \n| PlanRegSysId | Plan Registration System Identification | \n",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TxAttr": {
        "maxItems": 7,
        "minItems": 1,
        "description": "| Transaction Attributes | Description |\n|----|-------------|\n|DBRP | Debt Repayment |\n| RCPT | Recurring |\n| INST | Installment|\n| AGGR | Aggregate|\n| PAUT | Preauthorization Time Limit|\n| DFRD | Deferred Payment|\n| UCOF | Unscheduled Credential on File|",
        "items": {
          "$ref": "#/components/schemas/TxAttrItem"
        },
        "exampleSetFlag": false,
        "types": [
          "array"
        ]
      },
      "StrngCstmrAuthntcnFullSvc": {
        "properties": {
          "THDSInd": {
            "$ref": "#/components/schemas/THDSInd"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "GoodAndSvcDlvryChanl": {
        "maxLength": 2,
        "minLength": 2,
        "description": "| Goods and Services Shipping Indicator | Description | \n|----|-------------|\n| 01 | Ship to cardholder's billing address |\n| 02 | Ship to another verified address on file with merchant |\n| 03 | Ship to address that is different than the cardholder's billing address |\n| 04 | Ship to store or pick-up at local store (store address shall be populated in shipping address fields) |\n| 05 | Digital goods (includes online services, electronic gift cards, and redemption codes) |\n| 06 | Travel and Event tickets, not shipped |\n| 07 | Other (gaming, digital services not shipped, e-media subscriptions, and others) |\n| 08 | Pick-up and go delivery |\n| 09 | Locker delivery (or other automated pick-up) |\n Ref ISO 8583 F34.01.93",
        "format": "ISO F34.01.93",
        "example": "01",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PssngrTrnsprt-1": {
        "properties": {
          "Summry": {
            "$ref": "#/components/schemas/TransportSummary-1"
          },
          "TripLeg": {
            "$ref": "#/components/schemas/TripLeg"
          }
        },
        "description": "Passenger transport purchase details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "Algorithm": {
        "maxLength": 4,
        "minLength": 1,
        "description": "Encryption algorithm used to encipher encrypted data elements in dataset or keys in associated key management data element. Ref ISO 8583 53.01.04 \n\n| Algorithm | Description | \n|-------|-------------| \n| TDEA | TDES | \n | AESK | AES |",
        "example": "TDEA",
        "enum": [
          "TDEA",
          "AESK"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PssngrTrnsprt-3": {
        "properties": {
          "Summry": {
            "$ref": "#/components/schemas/TransportSummary-2"
          },
          "TripLeg": {
            "$ref": "#/components/schemas/TripLeg-1"
          }
        },
        "description": "Passenger transport details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "PssngrTrnsprt-5": {
        "properties": {
          "TripLeg": {
            "$ref": "#/components/schemas/TripLeg-5"
          }
        },
        "description": "Passenger transport details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "VrfctnRequestItem": {
        "properties": {
          "Tp": {
            "description": "| Verification Tp | Description | \n|----|-------------|\n| TOKN | Token | \n| ADDB | Street Address |\n| ADVF | Compressed AVS Data | \n | ATCC | Application Transaction Counter | \n | CHDN | Cardholder Name | \n| NVSC | CVV / iCVV |\n| CRYP | EMV Online Cryptogram | \n| dCVV | Dynamic CVV | \n| CSCV | CVV2 | \n| PCDV | Postal Code | \n| THDS | CAVV | \n| CPSG | Signature Capture | \n| NPIN | Online PIN | \n| CDSH | Cardholder Shipping Hash |\n| TRVL | Travel |\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/VrfctnTp"
              }
            ],
            "enum": [
              "ATCC",
              "TOKN"
            ],
            "exampleSetFlag": false,
            "types": [
              "string"
            ]
          },
          "VrfctnInf": {
            "$ref": "#/components/schemas/VrfctnInf"
          },
          "VrfctnRslt": {
            "$ref": "#/components/schemas/VrfctnRslt"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "AcctBalDetailAmt": {
        "maxLength": 14,
        "minLength": 1,
        "description": "Account balance amount value.",
        "exampleSetFlag": false,
        "types": [
          "string"
        ]
      },
      "LclDtTm-1": {
        "maxLength": 14,
        "minLength": 14,
        "description": "Local date and time. Format: MM-DDThh:mm:ssZ",
        "format": "MM-DDThh:mm:ssZ",
        "example": "03-02T09:47:00",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "NtwkMgmtTp-2": {
        "maxLength": 4,
        "minLength": 1,
        "description": "Network management information code.",
        "example": "ECTS",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "NtwkMgmtTp-3": {
        "maxLength": 4,
        "minLength": 4,
        "description": "Network management information code.",
        "example": "ERRR",
        "enum": [
          "ERRR"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "ReturnVoidFullSvcRequest-1": {
        "required": [
          "Hdr",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxVoidRequest-8"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-11"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtVoidFullSvcRequest-7"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtVoidFullSvcRequest-6"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltVoidRequest-3"
          },
          "RcrngPmt": {
            "$ref": "#/components/schemas/RcrngPmt"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataVoidRequest-5"
          },
          "OrgnlDataElmts": {
            "$ref": "#/components/schemas/OrgnlDataElmtsVoidReq-2"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "NtwkMgmtTp-1": {
        "maxLength": 4,
        "minLength": 1,
        "description": "Network management information code.",
        "example": "ERRR",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TransactionAddtlAmtItem": {
        "required": [
          "Amt",
          "Tp"
        ],
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/TransactionAddtlAmtTp"
          },
          "Amt": {
            "$ref": "#/components/schemas/TransactionAddtlAmtAmount"
          },
          "OthrTp": {
            "$ref": "#/components/schemas/TransactionAddtlAmtOthrTp"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "PrcgRsltResponse-8": {
        "required": [
          "RsltData"
        ],
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltData-2"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-2"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "PrcgRsltResponse-5": {
        "required": [
          "RsltData"
        ],
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltData-1"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-3"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "PrcgRsltResponse-6": {
        "required": [
          "RsltData"
        ],
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltData-2"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-4"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "PrcgRsltRequest": {
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltDataRequest"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TransactionAddtlDataResponseTp-1": {
        "maxLength": 14,
        "minLength": 1,
        "description": " | Addt'l Trans. Data Type | Description |\n |----------|-----| \n | ERRR | Error |\n| Errr | Error - Note: This usage will be deprecated in October 2026. Going forward, send Tp=ERRR |\n",
        "example": "ERRR",
        "enum": [
          "ERRR",
          "Errr"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AccptrAddtlIdVal-1": {
        "maxLength": 35,
        "minLength": 1,
        "description": "Additional acceptor item values. Values include 99.",
        "example": "69000017",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PrcgRsltResponse-3": {
        "required": [
          "RsltData"
        ],
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltDataResponse-3"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-2"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "PrcgRsltResponse-4": {
        "required": [
          "RsltData"
        ],
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltData"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-3"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "AccptrAddtlIdVal-2": {
        "maxLength": 35,
        "minLength": 1,
        "description": "Card acceptor ID value.",
        "example": "69000017",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PrcgRsltResponse-1": {
        "required": [
          "RsltData"
        ],
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltDataResponse-1"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-1"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "SplmtryData-1": {
        "required": [
          "StrngCstmrAuthntcn"
        ],
        "properties": {
          "StrngCstmrAuthntcn": {
            "$ref": "#/components/schemas/StrngCstmrAuthntcn"
          }
        },
        "description": "Supplementary data details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "DtldAmtAmount": {
        "maxLength": 14,
        "minLength": 1,
        "description": "Detail amount.",
        "example": "4.6",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AcctFr": {
        "properties": {
          "AcctTp": {
            "$ref": "#/components/schemas/AcctTp"
          }
        },
        "description": "Account From details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CompletionLiteRequest": {
        "required": [
          "Envt",
          "Hdr",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxRequest-6"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-9"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtRequest-6"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtRequest-6"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltRequest-6"
          },
          "RcrngPmt": {
            "$ref": "#/components/schemas/RcrngPmt"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataRequest-6"
          }
        },
        "description": "Used for new completions resource requests.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "LodgingTtlTax": {
        "maxLength": 13,
        "minLength": 1,
        "description": "Tax portion of room rate.",
        "example": "10.23",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "EvSpecificItem-1": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/EvSpecificTp-1"
          },
          "Val": {
            "$ref": "#/components/schemas/EvSpecificVal"
          }
        },
        "description": "| Tp | Description | \n|----|-------------|\n| TtlTm | Total Time Plugged In| \n| TtlChrgTm | Total Charging Time | \n| StrtTm | Start Time of Charge | \n| EndTm | Finish Time of Charge | \n| PwrCpcty | Charging Power Output Capacity | \n| ChrgRsnCode | Charging Reason Code | \n| EstmAdd | Estimated Km/Miles Added | \n| CrbnFtprnt | Carbon Footprint | \n| EstmAvlb | Estimated Vehicle Km/Miles available | \n| MaxPwrDspnsd | Maximum Power Dispensed | \n| ConnTp | Connector Type | \n",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "EvSpecificItem-2": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/EvSpecificTp-2"
          },
          "Val": {
            "$ref": "#/components/schemas/EvSpecificVal"
          }
        },
        "description": "| Tp | Description | \n|----|-------------|\n| TtlTm | Total Time Plugged In| \n| TtlChrgTm | Total Charging Time | \n| StrtTm | Start Time of Charge | \n| EndTm | Finish Time of Charge | \n| PwrCpcty | Charging Power Output Capacity | \n| ChrgRsnCode | Charging Reason Code | \n| EstmAdd | Estimated Km/Miles Added | \n| CrbnFtprnt | Carbon Footprint | \n| EstmAvlb | Estimated Vehicle Km/Miles available | \n| MaxPwrDspnsd | Maximum Power Dispensed | \n| ConnTp | Connector Type | \n",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "DeviceLang": {
        "maxLength": 3,
        "minLength": 1,
        "description": "ISO 639 language code. Applied to all tags in this dataset except C0 and C1.",
        "example": "EN",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "AddtlData-1": {
        "maxLength": 3,
        "minLength": 3,
        "description": "Additional data associated with leg of a trip. Can be either the IATA arrival airport code or a 3-character miscellaneous charge. \n| Misc. Charges | Description | \n |---|---------------| \n | XUP | Upgrade | \n | XAF | Club Fee | \n | XCA | Cargo | \n | XOT | Tour order | \n | XDF | Duty free | \n | XAE | Baggage charge | \n | XAO | MCO | \n | XAA | Misc charge | \n | XTD | Ticket delivery | \n | XPC | Pet carrier | \n | XPE | Ticket reissue fee |",
        "example": "SFO",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "CAVVVrsn": {
        "maxLength": 2,
        "minLength": 2,
        "description": "| CAVV Version Number | Description | \n|----|-------------|\n| 00 | CAVV Usage 3 Version 0 (CAVV U3 V0) |\n| 01 | CAVV Usage 3 Version 1 (CAVV U3 V1) |\n| 07 | CAVV Usage 3 Version 7 (CAVV U3 V7) |\n Ref ISO 8583 F34.56.9F28",
        "format": "ISO F34.56.9F28",
        "example": "01",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SplmtryDataFullSvcResponse": {
        "required": [
          "StrngCstmrAuthntcn"
        ],
        "properties": {
          "StrngCstmrAuthntcn": {
            "$ref": "#/components/schemas/StrngCstmrAuthntcnFullSvcResponse"
          }
        },
        "description": "Supplementary data details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "TtlDrtn": {
        "maxLength": 2,
        "minLength": 2,
        "description": "Total number of days vehicle was rented.",
        "example": "10",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PurchsIdr": {
        "maxLength": 25,
        "minLength": 1,
        "description": "Purchase identifier. Identifies the purchase for the issuer and cardholder.",
        "example": "256472233",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "TxIdOrigVoidReq": {
        "properties": {
          "TrnsmssnDtTm": {
            "$ref": "#/components/schemas/TrnsmssnDtTm"
          },
          "SysTracAudtNb": {
            "$ref": "#/components/schemas/SysTracAudtNb"
          }
        },
        "description": "",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "ATMFullSvcRequest": {
        "required": [
          "Hdr"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxRequest-1"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-1"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtFullSvcRequest-1"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtFullSvcRequest-1"
          },
          "NtnlData": {
            "$ref": "#/components/schemas/NtnlDataRequest"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltRequest-1"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataRequest-1"
          },
          "PrtctdData": {
            "$ref": "#/components/schemas/PrtctdData"
          },
          "ICCRltdData": {
            "$ref": "#/components/schemas/ICCRltdData-1"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "RsltData-2": {
        "required": [
          "RsltDtls"
        ],
        "properties": {
          "Rslt": {
            "$ref": "#/components/schemas/Rslt"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls"
          }
        },
        "description": "Processing result details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "RsltData-3": {
        "required": [
          "RsltDtls"
        ],
        "properties": {
          "Rslt": {
            "$ref": "#/components/schemas/Rslt-1"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls-4"
          }
        },
        "description": "Processing result details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "LodgingTtlTax-1": {
        "maxLength": 13,
        "minLength": 1,
        "description": "Tax portion of room rate.",
        "example": "19.22",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SpclPrgrmmQlfctnVoidRequest": {
        "maxItems": 8,
        "minItems": 1,
        "description": "List of special program qualification void details.",
        "items": {
          "$ref": "#/components/schemas/SpclPrgrmmQlfctnVoidItem"
        },
        "exampleSetFlag": false,
        "types": [
          "array"
        ]
      },
      "RsltData-1": {
        "required": [
          "RsltDtls"
        ],
        "properties": {
          "Rslt": {
            "$ref": "#/components/schemas/Rslt"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls-4"
          }
        },
        "description": "Processing result details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "AcctBalDetailItem": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/AcctBalDetailTp"
          },
          "Amt": {
            "$ref": "#/components/schemas/AcctBalDetailAmt"
          },
          "Ccy": {
            "$ref": "#/components/schemas/AcctBalDetailCcy"
          },
          "AcctTp": {
            "$ref": "#/components/schemas/AcctBalDetailAcctTp"
          },
          "CdtDbt": {
            "$ref": "#/components/schemas/AcctBalDetailCdtDbt"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CardSeqNb": {
        "maximum": 999,
        "minimum": 0,
        "description": "Distinguishes between instances of the same payment card. Ref ISO 8583 bit 24",
        "example": 100,
        "exampleSetFlag": true,
        "types": [
          "integer"
        ]
      },
      "IpAdr-1": {
        "maxLength": 39,
        "minLength": 1,
        "description": "Consumer device IP address. IP addresses must conform to canonical structure for the version used. IPv4 addresses are represented in 255.255.255.255 (maximum length) and are specified in decimal notation. IPv6 addresses are in ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff (maximum length), specified in hexadecimal notation and must be in lowercase. Ref ISO 8583 F34.56.9F1F",
        "format": "ISO F34.56.9F1F",
        "example": "",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "ATMLiteRequest": {
        "required": [
          "Hdr"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxRequest-1"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-1"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtRequest-1"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtRequest-1"
          },
          "NtnlData": {
            "$ref": "#/components/schemas/NtnlDataRequest"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltRequest-1"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataRequest-1"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "CrdhldrAdrLine1": {
        "maxLength": 256,
        "minLength": 1,
        "description": "Localized cardholder address line 1.",
        "example": "1000 Main Street",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SvcLctn": {
        "properties": {
          "Ctry": {
            "description": "Contains acceptor service location country code. Value in this tag can be sent as three-digit alpha codes documented in the Visa specifications or sent as alpha values documented in the Mastercard Quick Reference Booklet. Ref ISO 8583 F34.02.CF",
            "allOf": [
              {
                "$ref": "#/components/schemas/CtryCd"
              }
            ],
            "exampleSetFlag": false
          },
          "TwnNm": {
            "$ref": "#/components/schemas/SvcLctnTwnNm"
          },
          "PstlCd": {
            "$ref": "#/components/schemas/SvcLctnPstlCd"
          },
          "AdrLine1": {
            "description": "Contains acceptor service location street address. Ref ISO 8583 F32.02.D7",
            "allOf": [
              {
                "$ref": "#/components/schemas/AdrLine1"
              }
            ],
            "exampleSetFlag": false
          },
          "CtrySubDvsnMjr": {
            "description": "Contains acceptor service location state/province code. Value in this tag can be sent as numeric codes documented for the U.S. and Canada regions in Field 50 0 National Point-of-Service Geographic Data or sent as alphanumeric values documented in the Mastercard Quick Reference Booklet. Ref ISO 8583 F34.02.CE",
            "allOf": [
              {
                "$ref": "#/components/schemas/CtrySubDvsnMjrCd"
              }
            ],
            "exampleSetFlag": false
          }
        },
        "description": "",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "Instlmt": {
        "properties": {
          "Plan": {
            "$ref": "#/components/schemas/Plan"
          }
        },
        "description": "Installment details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "GetCardRequest": {
        "required": [
          "Envt",
          "Hdr"
        ],
        "type": "object",
        "properties": {
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-6"
          },
          "Envt": {
            "$ref": "#/components/schemas/GetEnvtRequest"
          }
        },
        "description": "Card details inquiry request body."
      },
      "FleetUnitOfMeasr-1": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Unit of Measure | Description |\n|------|-------------|\n| LITR | Liter |\n| USGA | U.S. gallon |\n| GBGA | Imperial gallon |\n| KILO | Kilo |\n| PUND | Pound |",
        "example": "USGA",
        "enum": [
          "LITR",
          "USGA",
          "GBGA",
          "KILO",
          "PUND"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "FleetUnitOfMeasr-3": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Unit of Measure | Description | \n|------|-------------|\n| LITR | Liter | \n| USGA | U.S. gallon |\n| GBGA | Imperial gallon |\n| KILO | Kilo | \n| PUND | Pound |\n",
        "example": "USGA",
        "enum": [
          "LITR",
          "USGA",
          "GBGA",
          "KILO",
          "PUND"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "POSNtryCd": {
        "maximum": 95,
        "minimum": 0,
        "description": "Point of Service Entry Code, ISO 8583 Field 22.1",
        "example": 10,
        "exampleSetFlag": true,
        "types": [
          "integer"
        ]
      },
      "VrfctnFullSvcResponseItem-1": {
        "properties": {
          "Tp": {
            "description": "| Verification Tp | Description | \n|----|-------------|\n| PCDV | Postal Code | \n| ADDB | Street Address |\n| ADVF | Compressed AVS Data | \n | CHDN | Cardholder Name | \n| NVSC | CVV / iCVV |\n| CRYP | EMV Online Cryptogram | \n| dCVV | Dynamic CVV | \n| CSCV | CVV2 | \n| THDS | CAVV | \n| CPSG | Signature Capture | \n| NPIN | Online PIN | \n| CDSH | Cardholder Shipping Hash |\n| TRVL | Travel |\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/VrfctnTp-1"
              }
            ],
            "exampleSetFlag": false
          },
          "VrfctnRslt": {
            "$ref": "#/components/schemas/VrfctnRslt-1"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "FleetUnitOfMeasr-2": {
        "maxLength": 4,
        "minLength": 4,
        "description": "| Unit of Measure&nbsp;&nbsp; | Description |\n|------|-------------|\n| LITR | Liter |\n| USGA | U.S. gallon |\n| GBGA | Imperial gallon |\n| KILO | Kilo |\n| PUND | Pound |",
        "example": "USGA",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "VrfctnRsltTp-2": {
        "maxLength": 20,
        "minLength": 1,
        "description": "| Result Type | Description | \n|-------------|-------------|\n| TrvlTagCd | Travel Tag Codes | \n| dCVV2 | Dynamic CVV 2 |\n| authenticationValue | Authentication Value |\n",
        "example": "TrvlTagCd",
        "enum": [
          "TrvlTagCd",
          "dCVV2",
          "authenticationValue"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "MgntcStrpFllbckInd": {
        "description": "Indicates if magnetic stripe on a card was used as a fallback method of payment processing.",
        "example": true,
        "exampleSetFlag": true,
        "types": [
          "boolean"
        ]
      },
      "VrfctnRsltTp-1": {
        "maxLength": 20,
        "minLength": 1,
        "description": "| Verification Result Type | Description | \n|-------------|-------------|\n| TrvlTagCd | Travel Tag Codes |  \n",
        "example": "TrvlTagCd",
        "enum": [
          "TrvlTagCd"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "VrfctnFullSvcResponseItem-5": {
        "properties": {
          "Tp": {
            "description": "| Verification Tp | Description | \n|----|-------------|\n| PCDV | Postal Code | \n| ADDB | Street Address |\n| ADVF | Compressed AVS Data | \n | CHDN | Cardholder Name | \n| NVSC | CVV / iCVV |\n| CRYP | EMV Online Cryptogram | \n| dCVV | Dynamic CVV | \n| CSCV | CVV2 | \n| THDS | CAVV | \n| CPSG | Signature Capture | \n| NPIN | Online PIN | \n| CDSH | Cardholder Shipping Hash |\n| TRVL | Travel |\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/VrfctnTp-4"
              }
            ],
            "exampleSetFlag": false
          },
          "VrfctnRslt": {
            "$ref": "#/components/schemas/VrfctnRslt-5"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "VrfctnRsltTp-4": {
        "maxLength": 20,
        "minLength": 1,
        "description": "| Result Type | Description |\n|-------------|-------------|\n| TrvlTagCd | Travel Tag Codes |\n| dCVV2 | Dynamic CVV 2 |\n| authenticationValue | Authentication Value |\n| AuthDataQualInd | Authentication Data Quality Indicator|",
        "example": "TrvlTagCd",
        "enum": [
          "TrvlTagCd",
          "dCVV2",
          "authenticationValue",
          "AuthDataQualInd"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "FleetVhcl-1": {
        "properties": {
          "Odmtr": {
            "$ref": "#/components/schemas/Odmtr"
          },
          "TrlrNb": {
            "$ref": "#/components/schemas/TrlrNb-1"
          }
        },
        "description": "Vehicle details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "VrfctnFullSvcResponseItem-3": {
        "properties": {
          "Tp": {
            "description": "| Verification Tp | Description | \n|----|-------------|\n| PCDV | Postal Code | \n| ADDB | Street Address |\n| ADVF | Compressed AVS Data | \n | CHDN | Cardholder Name | \n| NVSC | CVV / iCVV |\n| CRYP | EMV Online Cryptogram | \n| dCVV | Dynamic CVV | \n| CSCV | CVV2 | \n| THDS | CAVV | \n| CPSG | Signature Capture | \n| NPIN | Online PIN | \n| CDSH | Cardholder Shipping Hash |\n| TRVL | Travel |\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/VrfctnTp-3"
              }
            ],
            "exampleSetFlag": false
          },
          "VrfctnRslt": {
            "$ref": "#/components/schemas/VrfctnRslt-3"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "VrfctnRsltTp-3": {
        "maxLength": 20,
        "minLength": 1,
        "description": "| Result Type | Description |\n |-------------|-------------|\n | TrvlTagCd | Travel Tag Codes |\n | dCVV2 | Dynamic CVV 2 |\n | authenticationValue | Authentication Value |",
        "example": "TrvlTagCd",
        "enum": [
          "dCVV2",
          "authenticationValue",
          "AuthDataQualInd",
          "TrvlTagCd"
        ],
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "EchoMsgHdr": {
        "properties": {
          "MsgFctn": {
            "$ref": "#/components/schemas/MsgFctn-2"
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/msgIdentfctnEcho"
          }
        },
        "description": "Message header details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "GetCardResponse": {
        "required": [
          "Envt",
          "Hdr",
          "PrcgRslt"
        ],
        "type": "object",
        "properties": {
          "Hdr": {
            "$ref": "#/components/schemas/HdrResponse-6"
          },
          "Envt": {
            "$ref": "#/components/schemas/GetEnvtResponse"
          },
          "Rslts": {
            "$ref": "#/components/schemas/GetRsltsResponse"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/GetPrcgRsltResponse"
          }
        },
        "description": "Card details."
      },
      "CrdhldrReqItem": {
        "properties": {
          "Id": {
            "$ref": "#/components/schemas/CrdhldrId"
          },
          "Adr": {
            "$ref": "#/components/schemas/CrdhldrAdr"
          }
        },
        "description": "",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "MrchntCtgySpcfcData": {
        "maxLength": 1,
        "minLength": 1,
        "description": "Merchant category code specific data. Ref ISO 8583 F62.4",
        "example": "H",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "EvSpecific": {
        "maxItems": 11,
        "minItems": 1,
        "description": "| Tp | Description | \n|----|-------------|\n| TtlTm | Total Time Plugged In| \n| TtlChrgTm | Total Charging Time | \n| StrtTm | Start Time of Charge | \n| EndTm | Finish Time of Charge | \n| PwrCpcty | Charging Power Output Capacity | \n| ChrgRsnCode | Charging Reason Code | \n| EstmAdd | Estimated Km/Miles Added | \n| CrbnFtprnt | Carbon Footprint | \n| EstmAvlb | Estimated Vehicle Km/Miles available | \n| MaxPwrDspnsd | Maximum Power Dispensed | \n| ConnTp | Connector Type | \n",
        "items": {
          "$ref": "#/components/schemas/EvSpecificItem"
        },
        "exampleSetFlag": false,
        "types": [
          "array"
        ]
      },
      "UpdatePrcgRsltResponse-1": {
        "required": [
          "RsltDtls"
        ],
        "type": "object",
        "properties": {
          "ErrCd": {
            "$ref": "#/components/schemas/ErrCd-1"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls-5"
          }
        },
        "description": "Processing result details."
      },
      "AcqrrVoid": {
        "properties": {
          "Id": {
            "$ref": "#/components/schemas/AcqrrId"
          },
          "Ctry": {
            "$ref": "#/components/schemas/AcqrrCtry"
          }
        },
        "description": "Acquirer details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "UpdatePrcgRsltResponse-2": {
        "required": [
          "RsltDtls"
        ],
        "type": "object",
        "properties": {
          "ErrCd": {
            "$ref": "#/components/schemas/ErrCd-1"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls-5"
          }
        },
        "description": "Processing result details."
      },
      "SpclPrgrmmQlfctnAppldSvc-2": {
        "maxLength": 1,
        "minLength": 1,
        "description": "Applied special service.",
        "example": "1",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SpclPrgrmmQlfctnAppldSvc-1": {
        "maxLength": 16,
        "minLength": 1,
        "description": "| Applied Special Service | Description | \n|----|-------------|\n| 1 | VDCAP |\n\n Ref ISO 8583 F111.56.89",
        "format": "ISO F111.56.89",
        "example": "1",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "SpclPrgrmmQlfctnAppldSvc-3": {
        "maxLength": 16,
        "minLength": 1,
        "description": "| Applied Special Service | Description | \n|----|-------------|\n| 1 | VDCAP |\n\n Ref ISO 8583 F111.56.89",
        "example": "1",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
      "PurchaseFullSvcRequest": {
        "required": [
          "Hdr",
          "Tx"
        ],
        "properties": {
          "Tx": {
            "$ref": "#/components/schemas/TxRequest-4"
          },
          "Hdr": {
            "$ref": "#/components/schemas/HdrRequest-4"
          },
          "Tax": {
            "$ref": "#/components/schemas/Tax"
          },
          "Envt": {
            "$ref": "#/components/schemas/EnvtFullSvcRequest-4"
          },
          "Cntxt": {
            "$ref": "#/components/schemas/CntxtFullSvcRequest-4"
          },
          "PrcgRslt": {
            "$ref": "#/components/schemas/PrcgRsltRequest-4"
          },
          "RcrngPmt": {
            "$ref": "#/components/schemas/RcrngPmt"
          },
          "AdddmData": {
            "$ref": "#/components/schemas/AdddmDataRequest-4"
          },
          "PrtctdData": {
            "$ref": "#/components/schemas/PrtctdData"
          },
          "ICCRltdData": {
            "$ref": "#/components/schemas/ICCRltdData-1"
          },
          "SplmtryData": {
            "$ref": "#/components/schemas/SplmtryDataFullSvc-1"
          },
          "OrgnlDataElmts": {
            "$ref": "#/components/schemas/OrgnlDataElmtsReq"
          }
        },
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "VrfctnInfVal": {
        "properties": {
          "TxtVal": {
            "$ref": "#/components/schemas/VrfctnInfValTxtVal"
          },
          "HexBinryVal": {
            "$ref": "#/components/schemas/VrfctnInfValHexBinryVal"
          }
        },
        "description": "Verification details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "EcomrcDataItem": {
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/EComrcDataTp"
          },
          "Val": {
            "$ref": "#/components/schemas/EComrcDataVal"
          }
        },
        "description": "",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "NtnlDataResponse": {
        "properties": {
          "SpainData": {
            "$ref": "#/components/schemas/NtnlDataSpainDataResponse"
          }
        },
        "description": "Geographic information for ATM transactions.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "AutoNoShowInd": {
        "description": "Auto rental no-show indicator. Indicates if the cardholder failed to actually rent the vehicle previously reserved and was charged a no-show fee.",
        "example": true,
        "exampleSetFlag": true,
        "types": [
          "boolean"
        ]
      },
      "PrcgRsltVoid": {
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/RsltData-2"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/ApprvlData-4"
          }
        },
        "description": "Processing outcome details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "FleetTxRltdData-4": {
        "properties": {
          "Tax": {
            "$ref": "#/components/schemas/FleetTaxArray"
          },
          "TaxTtl": {
            "$ref": "#/components/schemas/FleetTaxTtl"
          },
          "PurchsTp": {
            "$ref": "#/components/schemas/FleetPurchsTp-3"
          }
        },
        "description": "Fleet-related transaction data details.",
        "exampleSetFlag": false,
        "types": [
          "object"
        ]
      },
      "MgntcStrpFllbckInd-1": {
        "description": "Indicates if magnetic stripe on a card was used as a fallback method of payment processing",
        "example": true,
        "exampleSetFlag": true,
        "types": [
          "boolean"
        ]
      },
      "TravelAgencyCode": {
        "maxLength": 8,
        "minLength": 1,
        "description": "Travel agent code.",
        "example": "21124502",
        "exampleSetFlag": true,
        "types": [
          "string"
        ]
      },
[...]
