{
  "openapi": "3.1.0",
  "info": {
    "title": "B2B Virtual Account Payment Method",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Account Management service",
      "description": "The Account Management web services are used to manage payment controls for existing card accounts and to request virtual accounts while setting controls. The endpoints allow the user to retrieve the status of new account requests, view authorization rules, submit virtual card requisitions for an employee , and retrieve security code (CVV2) details of an existing account."
    },
    {
      "name": "Buyer Management Service",
      "description": "The Buyer Service provides self-service capabilities that simplify and reduce the implementation process for new VPA buyers (and other downstream systems). Buyers can be created from scratch or from a pre-defined Buyer Template. Either way, these APIs help streamline the process and increase the speed of buyer deployments, as well as provide third parties with insight into the buyers configurations for troubleshooting. For more details about the requirements for creating a buyer, please reference the <a href=\"/pages/B2B-virtual-account-payment-method-codes#buyer_setup_details\">Buyer Setup Details</a> page."
    },
    {
      "name": "Payment Service",
      "description": "The Payment web service is used for processing payments and sending payment remittance information to the appropriate suppliers."
    },
    {
      "name": "Single Use Account Pool Maintenance Service",
      "description": "The Proxy web service is used for managing a pool of Single-Use Accounts (SUAs) linked to a proxy. With this web service, you can create proxy pool(s) for a buyer, update details of the proxy, delete unused pools and get details about an existing pool(e.g. number of available accounts)."
    },
    {
      "name": "Supplier Service",
      "description": "The Supplier web service is used for creating and maintaining a supplier."
    },
    {
      "name": "VCS Eligibility service",
      "description": "Checking eligibility of card for virtual solutions"
    },
    {
      "name": "Workflows",
      "description": "Workflows"
    }
  ],
  "paths": {
    "/vpa/v2/buyerManagement/buyerTemplate/get": {
      "post": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Get Buyer Template",
        "description": "Obtain all current parameters for an existing buyer template. Optional and default values will be provided as well as the ability to obtain a full picture of the buyer configurations. This is helpful for troubleshooting or to see the details of a template before many any changes to it.",
        "operationId": "Get Buyer Template V2",
        "requestBody": {
          "description": "Request Details for getting the details of a Buyer template.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBuyerTemplateRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "clientId": "B2BWS_1_Region_Bank_9999",
                    "messageId": "107970185555",
                    "templateId": "1_3_9999_811"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuyerTemplateSuccessResponseV2"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseObject": {
                        "responseFileConfig": null,
                        "proxyConfig": {
                          "holdDays": "30",
                          "bucketedProxyEnabled": false,
                          "autoRefreshEnabled": true
                        },
                        "boostPaymentConfig": {
                          "boostPaymentEnabled": false
                        },
                        "contactInfo": {
                          "implementationType": 2,
                          "emailAddress": "nigandhe@visa.com",
                          "phone1": "99999977"
                        },
                        "buyerFeatureConfig": {
                          "fullAccountViewEnabled": true,
                          "cardMaskingDigitsOnline": "12",
                          "vcfDataFeedIndicator": "Y",
                          "onlinePaymentInstructionEnabled": true,
                          "onlinePaymentRequisitionEnabled": true,
                          "cardMaskingDigits": "7",
                          "pseudoAccountsEnabled": false
                        },
                        "rvaReconciliationFileConfig": null,
                        "billingConfig": {
                          "billingType": "I",
                          "billingBID": "10048816840"
                        },
                        "stripePaymentConfig": {
                          "remittanceNotificationEnabled": true,
                          "stripePaymentEnabled": true
                        },
                        "vanConfig": {
                          "fcsBankId": "F286",
                          "vanEnabled": true
                        },
                        "stpPaymentConfig": {
                          "remittanceNotificationEnabled": true,
                          "stpPaymentEnabled": true
                        },
                        "webServicesConfig": {
                          "apiCodes": null,
                          "webServicesEnabled": false,
                          "clientId": null,
                          "suppressSupplierNotification": null,
                          "vbdsClientId": null
                        },
                        "templateId": "1_3_9999_811",
                        "paymentConfig": {
                          "securityCodeRequired": true,
                          "allowableCurrencies": [
                            "USD"
                          ],
                          "expirationDays": "30",
                          "billingCurrency": "USD",
                          "expirationBufferDays": "5",
                          "paymentAdviceOption": "C"
                        },
                        "paymentFileCommConfig": null,
                        "paymentSecurityConfig": {
                          "defaultSecurityFieldCode": "1",
                          "defaultSecurityQuestion": "Credential Text",
                          "customSecurityQuestions": [
                            "What is Security answer?",
                            "What is SSN Number?"
                          ],
                          "customSecurityQuestionsEnabled": true
                        },
                        "approvalWorkflowConfig": {
                          "workflowFunctionCodes": [
                            "AUCL",
                            "PYIN"
                          ],
                          "workflowConfigEnabled": true
                        },
                        "authorizationControlConfig": {
                          "issuerHoldingBID": "10000290",
                          "authControlEnabled": true,
                          "alertsEnabled": true
                        },
                        "paymentNotificationConfig": {
                          "defaultBuyerLanguageCode": "en_US",
                          "supplierReminderNotificationDays": "12",
                          "dateFormat": "MMDDYYYY",
                          "supplierReminderNotificationEnabled": true,
                          "attachRemittanceFileDetails": true
                        },
                        "templateName": "VPP-APITemplate-vcfInd-Null23",
                        "templateDescription": "VPP-APITemplate-vcfInd-Null23_Updated",
                        "reconciliationFileConfig": {
                          "adhocReconciliationReportEnabled": false,
                          "commFileId": null,
                          "templateName": null,
                          "onlinePaymentReconciliationEnabled": false
                        },
                        "processorConfig": {
                          "closeAccount": true
                        }
                      },
                      "responseStatus": {
                        "statusDesc": "Buyer template details retrieved successfully.",
                        "messageId": "107970185555",
                        "status": "success",
                        "statusCode": "BSGT0000"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_template\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "templateRequest",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1buyerManagement~1buyerTemplate~1get/post",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1vpa~1v2~1buyerManagement~1buyerTemplate~1get/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/buyerManagement/buyer/get": {
      "post": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Get Buyer Details",
        "description": "",
        "operationId": "Get Buyer Details",
        "requestBody": {
          "description": "Parameters required to retrieve a Buyer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBuyerRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "clientId": "B2BWS_1_1_1111",
                    "messageId": "107970184447",
                    "buyerId": "200031032"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuyerSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseObject": {
                        "responseFileConfig": {
                          "fileLevel": null,
                          "recipientLoginIds": null,
                          "commFileId": null,
                          "fileFormat": null
                        },
                        "proxyConfig": {
                          "holdDays": "180",
                          "bucketedProxyEnabled": false,
                          "autoRefreshEnabled": false
                        },
                        "boostPaymentConfig": {
                          "boostPaymentEnabled": false
                        },
                        "contactInfo": {
                          "zipCode": "78750",
                          "phone1Ext": null,
                          "city": "Austin",
                          "contactName": "VisaCompany",
                          "phone2Ext": null,
                          "phone3Ext": null,
                          "phone2": null,
                          "phone3": null,
                          "buyerId": "200031032",
                          "buyerName": "2000131032",
                          "templateId": null,
                          "phone1": "1234567890",
                          "implementationType": 2,
                          "companyId": "2000131032",
                          "emailAddress": "visab2bvpaqa1@visa.com",
                          "countryCode": "USA",
                          "addressLine1": "addr1",
                          "addressLine2": null,
                          "state": "TX",
                          "addressLine3": null
                        },
                        "buyerFeatureConfig": {
                          "fullAccountViewEnabled": false,
                          "cardMaskingDigitsOnline": "12",
                          "vcfDataFeedIndicator": "Y",
                          "onlinePaymentInstructionEnabled": true,
                          "onlinePaymentRequisitionEnabled": true,
                          "cardMaskingDigits": "4",
                          "pseudoAccountsEnabled": false
                        },
                        "rvaReconciliationFileConfig": {
                          "fileLevel": "",
                          "recipientLoginIds": [],
                          "commFileId": "",
                          "deliveryTime": "",
                          "deliveryFrequency": null,
                          "templateId": "",
                          "fileFormat": null
                        },
                        "paymentFileConfig": {
                          "edi824FileId": null,
                          "edi997FileId": null,
                          "inboundFileId": null
                        },
                        "billingConfig": {
                          "billingType": "I",
                          "billingBID": "10048816840"
                        },
                        "stripePaymentConfig": {
                          "remittanceNotificationEnabled": false,
                          "stripePaymentEnabled": false
                        },
                        "vanConfig": {
                          "fcsBankId": null,
                          "processingType": null,
                          "aceClientId": null,
                          "admClientId": null,
                          "visaADMOptionId": null,
                          "mcADMOptionId": null,
                          "vanEnabled": false,
                          "settlementExpirationDays": null
                        },
                        "stpPaymentConfig": {
                          "accountHolderFirstName": null,
                          "remittanceNotificationEnabled": false,
                          "stpPaymentEnabled": false,
                          "accountHolderLastName": null
                        },
                        "webServicesConfig": {
                          "apiCodes": null,
                          "webServicesEnabled": false,
                          "clientId": null,
                          "suppressSupplierNotification": false,
                          "vbdsClientId": ""
                        },
                        "paymentConfig": {
                          "securityCodeRequired": true,
                          "allowableCurrencies": [
                            "INR",
                            "USD"
                          ],
                          "expirationDays": "25",
                          "billingCurrency": "USD",
                          "expirationBufferDays": "5",
                          "defaultSecurityCode": true,
                          "paymentAdviceOption": "C"
                        },
                        "paymentSecurityConfig": {
                          "defaultSecurityFieldCode": "1",
                          "defaultSecurityQuestion": "Credential Text",
                          "customSecurityQuestions": [],
                          "customSecurityQuestionsEnabled": false
                        },
                        "approvalWorkflowConfig": {
                          "workflowFunctionCodes": [],
                          "workflowConfigEnabled": false
                        },
                        "authorizationControlConfig": {
                          "authControlPaymentTemplate": "Custom_Standard",
                          "issuerHoldingBID": "",
                          "authControlEnabled": false,
                          "defaultAuthControlEnabled": false,
                          "alertsEnabled": false
                        },
                        "paymentNotificationConfig": {
                          "defaultBuyerLanguageCode": "en_US",
                          "supplierReminderNotificationDays": "7",
                          "paymentAdviceTemplate": "Custom_Standard",
                          "settlementSource": "1",
                          "dateFormat": "DDMMYYYY",
                          "defaultSupplierReminderNotificationEnabled": true,
                          "defaultAttachRemittanceDetailsFile": true,
                          "supplierReminderNotificationEnabled": true,
                          "attachRemittanceDetailsFile": true
                        },
                        "reconciliationFileConfig": {
                          "fileLevel": "",
                          "recipientLoginIds": [],
                          "adhocReconciliationReportEnabled": false,
                          "commFileId": "",
                          "deliveryTime": "",
                          "templateName": null,
                          "deliveryFrequency": null,
                          "onlinePaymentReconciliationEnabled": false,
                          "fileFormat": null
                        },
                        "processorConfig": {
                          "embossedLine2": "<<Buyer Name>> ",
                          "closeAccountEnabled": true,
                          "processorFields": {
                            "aceOptionSet": "1111",
                            "accountIdOptionSet": "1111",
                            "mailerIdOptionSet": "1111",
                            "companyNumber": "1111111",
                            "cycleFrequencyCode": "15",
                            "cmidDefaultValue": "",
                            "unitId": "1000000",
                            "agentNumber": "0000",
                            "cycleFrequencyType": "Monthly"
                          },
                          "suaEmbossedLine1": "<<Buyer Name>>~1",
                          "lodgedEmbossedLine1": "<<Supplier Name>>~1"
                        }
                      },
                      "responseStatus": {
                        "statusDesc": "Successfully retrieved the buyer",
                        "messageId": "1686861552",
                        "status": "success",
                        "statusCode": "BSGB0000"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_details\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "body",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1buyerManagement~1buyer~1get/post",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1vpa~1v2~1buyerManagement~1buyer~1get/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/buyerManagement/buyerTemplate/create": {
      "post": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Create Buyer Template",
        "description": "",
        "operationId": "Create Buyer Template",
        "requestBody": {
          "description": "Details of the Template",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBuyerTemplateRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "responseFileConfig": null,
                    "proxyConfig": {
                      "holdDays": 2,
                      "bucketedProxyEnabled": false,
                      "autoRefreshEnabled": false
                    },
                    "clientId": "B2BWS_1_2_3029",
                    "boostPaymentConfig": {
                      "boostPaymentEnabled": false
                    },
                    "contactInfo": null,
                    "buyerFeatureConfig": null,
                    "rvaReconciliationFileConfig": null,
                    "stripePaymentConfig": {
                      "remittanceNotificationEnabled": null,
                      "stripePaymentEnabled": false
                    },
                    "messageId": "1579603814600",
                    "vanConfig": null,
                    "stpPaymentConfig": {
                      "remittanceNotificationEnabled": false,
                      "stpPaymentEnabled": false
                    },
                    "webServicesConfig": null,
                    "paymentConfig": {
                      "securityCodeRequired": false,
                      "allowableCurrencies": [
                        "USD"
                      ],
                      "expirationDays": 30,
                      "billingCurrency": "USD",
                      "expirationBufferDays": 5,
                      "paymentAdviceOption": "C"
                    },
                    "paymentFileCommConfig": null,
                    "paymentSecurityConfig": {
                      "defaultSecurityFieldCode": 1,
                      "defaultSecurityQuestion": "Credential Text",
                      "customSecurityQuestions": null,
                      "customSecurityQuestionsEnabled": false
                    },
                    "approvalWorkflowConfig": {
                      "workflowFunctionCodes": [
                        "AUCL",
                        "LCRC",
                        "PYIN",
                        "PYRN"
                      ],
                      "workflowConfigEnabled": true
                    },
                    "authorizationControlConfig": {
                      "issuerHoldingBID": "10029012",
                      "authControlEnabled": true,
                      "alertsEnabled": false
                    },
                    "paymentNotificationConfig": {
                      "defaultBuyerLanguageCode": "en_US",
                      "supplierReminderNotificationDays": 7,
                      "dateFormat": "DDMMYYYY",
                      "supplierReminderNotificationEnabled": true,
                      "attachRemittanceFileDetails": false
                    },
                    "templateName": "1579603814600",
                    "templateDescription": "VPP Template",
                    "reconciliationFileConfig": null,
                    "processorConfig": {
                      "closeAccount": null
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBuyerTemplateSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "templateId": "1_2_3029_50"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#create_buyer_template\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "template",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1buyerManagement~1buyerTemplate~1create/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/buyerManagement/buyerTemplate/update": {
      "patch": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Update Buyer Template",
        "description": "",
        "operationId": "Update Buyer Template",
        "requestBody": {
          "description": "Details of the values in the Template to be updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBuyerTemplateRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "proxyConfig": "",
                    "clientId": "B2BWS_1_Region_Bank_19401",
                    "boostPaymentConfig": "",
                    "contactInfo": "",
                    "buyerFeatureConfig": "",
                    "stripePaymentConfig": "",
                    "messageId": "1579804800637",
                    "vanConfig": "",
                    "stpPaymentConfig": "",
                    "webServicesConfig": "",
                    "templateId": "1_1_1940_81",
                    "syncBuyerProfiles": true,
                    "paymentConfig": "",
                    "paymentSecurityConfig": "",
                    "approvalWorkflowConfig": "",
                    "authorizationControlConfig": {
                      "issuerHoldingBID": "12345678",
                      "authControlEnabled": true,
                      "alertsEnabled": ""
                    },
                    "paymentNotificationConfig": "",
                    "templateName": "1579804800637",
                    "templateDescription": "This ise first test template",
                    "reconciliationFileConfig": "",
                    "processorConfig": ""
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBuyerTemplateSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "templateId": "1_1_1940_81"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#update_buyer_template\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "template",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1buyerManagement~1buyerTemplate~1update/patch",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/buyerManagement/buyer/update": {
      "patch": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Update Buyer",
        "description": "",
        "operationId": "Update Buyer",
        "requestBody": {
          "description": "Profile Details of the buyer that needs to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBuyerRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "proxyConfig": {
                      "holdDays": 3,
                      "bucketedProxyEnabled": false,
                      "autoRefreshEnabled": false
                    },
                    "clientId": "B2BWS_1_1_1111",
                    "boostPaymentConfig": {
                      "boostPaymentEnabled": false
                    },
                    "contactInfo": {
                      "zipCode": "78759",
                      "phoneExt3": "",
                      "city": "Austin",
                      "contactName": "VisaCompany",
                      "phone2": "",
                      "phone3": "",
                      "defaultCurrencyCode": "USD",
                      "buyerId": "151785",
                      "phone1": "8888888888",
                      "companyId": "151785",
                      "emailAddress": "visab2bvpaqa1@visa.com",
                      "countryCode": "USA",
                      "addressLine1": "12301ResearchBlvd23",
                      "phoneExt1": "",
                      "addressLine2": "Build#33",
                      "state": "TX",
                      "phoneExt2": "",
                      "addressLine3": "4thfloor"
                    },
                    "buyerFeatureConfig": {
                      "fullAccountViewEnabled": false,
                      "cardMaskingDigitsOnline": 12,
                      "onlinePaymentInstructionEnabled": false,
                      "onlinePaymentRequisitionEnabled": false,
                      "cardMaskingDigits": 12,
                      "pseudoAccountsEnabled": false
                    },
                    "stripePaymentConfig": {
                      "remittanceNotificationEnabled": false,
                      "stripePaymentEnabled": false
                    },
                    "messageId": "1579589087445",
                    "vanConfig": {
                      "processingType": "1",
                      "admClientId": "1234",
                      "mcADMOptionId": "12345",
                      "vanEnabled": false
                    },
                    "stpPaymentConfig": {
                      "accountHolderFirstName": "Visa",
                      "remittanceNotificationEnabled": false,
                      "stpPaymentEnabled": false,
                      "accountHolderLastName": "Card"
                    },
                    "webServicesConfig": {
                      "apiCodes": [
                        "SMGS"
                      ],
                      "webServicesEnabled": true,
                      "clientId": "B2BWS_1_1_1111",
                      "vbdsDataSubscription": [
                        {
                          "dataSubscriptionType": 5001,
                          "dataSubscriptionAccountType": [
                            {
                              "subscribed": true,
                              "accountType": "MEMO"
                            },
                            {
                              "subscribed": true,
                              "accountType": "NVPA"
                            }
                          ]
                        }
                      ],
                      "suppressSupplierNotification": false,
                      "vbdsClientId": "12345"
                    },
                    "paymentConfig": {
                      "securityCodeRequired": false,
                      "allowableCurrencies": [
                        "USD"
                      ],
                      "expirationDays": 30,
                      "billingCurrency": "USD",
                      "expirationBufferDays": 5,
                      "paymentAdviceOption": "C"
                    },
                    "paymentSecurityConfig": {
                      "defaultSecurityFieldCode": 1,
                      "defaultSecurityQuestion": "",
                      "customSecurityQuestions": [
                        "birthday"
                      ],
                      "customSecurityQuestionsEnabled": true
                    },
                    "approvalWorkflowConfig": {
                      "workflowFunctionCodes": [
                        "AUCL",
                        "PYRN",
                        "LCRC",
                        "PYIN"
                      ],
                      "workflowConfigEnabled": true
                    },
                    "authorizationControlConfig": {
                      "authControlEnabled": true,
                      "alertsEnabled": false
                    },
                    "paymentNotificationConfig": {
                      "supplierReminderNotificationDays": 2,
                      "dateFormat": "DDMMYYYY",
                      "attachRemittanceDetails": false,
                      "supplierReminderNotificationEnabled": true,
                      "defaultLanguageCode": "en_us"
                    },
                    "processorConfig": {
                      "processorFields": {
                        "aceOptionSet": "34d2",
                        "corporationId": "2r",
                        "bin": "sd2",
                        "cmidDefaultValue": "245d3534",
                        "agentNumber": "3453",
                        "principalNumber": "66",
                        "accountIDOptionSet": "3482",
                        "companyNumber": "12344",
                        "authorizationStrategyCode": "hh66",
                        "pricingStrategy": "66hh",
                        "unitId": "prop1",
                        "mapId": "66hh",
                        "processType": "09",
                        "productCodes": "sdjssd",
                        "user4Code": "345u",
                        "hierarchyNode": "s3",
                        "plasticCode": "9866"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBuyerSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseStatus": {
                        "statusDesc": "Successfully updated the buyer",
                        "messageId": "1686772964",
                        "status": "success",
                        "statusCode": "BSUB0000"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#update_buyer\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "body",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1buyerManagement~1buyer~1update/patch",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/buyerManagement/buyer/create": {
      "post": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Create Buyer",
        "description": "",
        "operationId": "Create Buyer",
        "requestBody": {
          "description": "Buyer object that needs to be created",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBuyerRequest-3"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "proxyConfig": {
                      "holdDays": 3,
                      "bucketedProxyEnabled": false,
                      "autoRefreshEnabled": false
                    },
                    "clientId": "B2BWS_1_1_1111",
                    "boostPaymentConfig": {
                      "boostPaymentEnabled": false
                    },
                    "contactInfo": {
                      "zipCode": "78759",
                      "phoneExt3": "",
                      "city": "Austin",
                      "contactName": "VisaCompany",
                      "phone2": "",
                      "phone3": "",
                      "defaultCurrencyCode": "USD",
                      "buyerId": "8887773",
                      "buyerName": "TestPaymentFileLijie14",
                      "phone1": "8888888888",
                      "companyId": "8887773",
                      "emailAddress": "visab2bvpaqa1@visa.com",
                      "countryCode": "USA",
                      "addressLine1": "12301 ResearchBlvd23",
                      "phoneExt1": "",
                      "addressLine2": "Build#33",
                      "state": "TX",
                      "phoneExt2": "",
                      "addressLine3": "4th floor"
                    },
                    "buyerFeatureConfig": {
                      "fullAccountViewEnabled": false,
                      "cardMaskingDigitsOnline": 12,
                      "onlinePaymentInstructionEnabled": false,
                      "onlinePaymentRequisitionEnabled": false,
                      "cardMaskingDigits": 12,
                      "pseudoAccountsEnabled": false
                    },
                    "paymentFileConfig": {
                      "inboundFileId": "700147"
                    },
                    "stripePaymentConfig": {
                      "remittanceNotificationEnabled": false,
                      "stripePaymentEnabled": false
                    },
                    "messageId": "1579589087445",
                    "stpPaymentConfig": {
                      "accountHolderFirstName": "Visa",
                      "remittanceNotificationEnabled": false,
                      "stpPaymentEnabled": false,
                      "accountHolderLastName": "Card"
                    },
                    "webServicesConfig": {
                      "apiCodes": [
                        "SMGS"
                      ],
                      "webServicesEnabled": true,
                      "clientId": "B2BWS_1_1_1111",
                      "vbdsDataSubscription": [
                        {
                          "dataSubscriptionType": 5001,
                          "dataSubscriptionAccountType": [
                            {
                              "subscribed": true,
                              "accountType": "MEMO"
                            },
                            {
                              "subscribed": true,
                              "accountType": "NVPA"
                            }
                          ]
                        }
                      ],
                      "suppressSupplierNotification": false,
                      "vbdsClientId": "12345"
                    },
                    "paymentConfig": {
                      "securityCodeRequired": false,
                      "allowableCurrencies": [
                        "USD"
                      ],
                      "expirationDays": 30,
                      "billingCurrency": "USD",
                      "expirationBufferDays": 5,
                      "paymentAdviceOption": "C"
                    },
                    "paymentSecurityConfig": {
                      "defaultSecurityFieldCode": 1,
                      "customSecurityQuestions": [
                        "birthday"
                      ],
                      "customSecurityQuestionsEnabled": true
                    },
                    "approvalWorkflowConfig": {
                      "workflowFunctionCodes": [
                        "AUCL"
                      ],
                      "workflowConfigEnabled": true
                    },
                    "authorizationControlConfig": {
                      "issuerHoldingBID": "12345678",
                      "authControlEnabled": true,
                      "alertsEnabled": false
                    },
                    "paymentNotificationConfig": {
                      "supplierReminderNotificationDays": 2,
                      "dateFormat": "DDMMYYYY",
                      "attachRemittanceDetails": false,
                      "supplierReminderNotificationEnabled": true,
                      "defaultLanguageCode": "en_us"
                    },
                    "reconciliationFileConfig": {
                      "fileLevel": "B",
                      "commFileId": "700144"
                    },
                    "processorConfig": {
                      "processorFields": {
                        "aceOptionSet": "34d2",
                        "subProductCode": "REG",
                        "corporationId": "2r",
                        "cycleFrequencyCode": "5",
                        "bin": "sd2",
                        "hierarchyLevel": "2",
                        "cmidDefaultValue": "245d3534",
                        "agentNumber": "3453",
                        "principalNumber": "66",
                        "productCode": "VPU",
                        "accountIDOptionSet": "3482",
                        "companyNumber": "12344",
                        "cycleFrequency": "Bi-weekly",
                        "authorizationStrategyCode": "hh66",
                        "pricingStrategy": "66hh",
                        "unitId": "prop1",
                        "mapId": "66hh",
                        "processType": "09",
                        "user4Code": "345u",
                        "hierarchyNode": "s3",
                        "plasticCode": "9866"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBuyerSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseStatus": {
                        "statusDesc": "Successfully created the buyer",
                        "messageId": "1686772964",
                        "status": "success",
                        "statusCode": "BSUB0000"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#create_buyer\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "body",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1buyerManagement~1buyer~1create/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v2/buyerManagement/buyer/get": {
      "post": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Get Buyer Details",
        "description": "Retrieve all of the current parameters of an existing buyers’ profile. Use this for troubleshooting or to get the full buyer profile details before updating a buyer. Enables the addition, update or deletion of new company template and profiles.",
        "operationId": "Get Buyer Details v2",
        "requestBody": {
          "description": "Parameters required to retrieve a Buyer",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBuyerRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "clientId": "B2BWS_1_1_1111",
                    "messageId": "107970184447",
                    "buyerId": "200031032"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuyerSuccessResponseV2-3"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseObject": {
                        "responseFileConfig": {
                          "fileLevel": null,
                          "recipientLoginIds": null,
                          "commFileId": null,
                          "fileFormat": null
                        },
                        "proxyConfig": {
                          "holdDays": "180",
                          "bucketedProxyEnabled": false,
                          "autoRefreshEnabled": false
                        },
                        "boostPaymentConfig": {
                          "boostPaymentEnabled": false
                        },
                        "contactInfo": {
                          "zipCode": "78750",
                          "phone1Ext": null,
                          "city": "Austin",
                          "contactName": "VisaCompany",
                          "phone2Ext": null,
                          "phone3Ext": null,
                          "phone2": null,
                          "phone3": null,
                          "buyerId": "200031032",
                          "buyerName": "2000131032",
                          "templateId": null,
                          "phone1": "1234567890",
                          "implementationType": 2,
                          "companyId": "2000131032",
                          "emailAddress": "visab2bvpaqa1@visa.com",
                          "countryCode": "USA",
                          "addressLine1": "addr1",
                          "addressLine2": null,
                          "state": "TX",
                          "addressLine3": null
                        },
                        "buyerFeatureConfig": {
                          "fullAccountViewEnabled": false,
                          "cardMaskingDigitsOnline": "12",
                          "vcfDataFeedIndicator": "Y",
                          "onlinePaymentInstructionEnabled": true,
                          "onlinePaymentRequisitionEnabled": true,
                          "cardMaskingDigits": "4",
                          "pseudoAccountsEnabled": false
                        },
                        "rvaReconciliationFileConfig": {
                          "fileLevel": "",
                          "recipientLoginIds": [],
                          "commFileId": "",
                          "deliveryTime": "",
                          "deliveryFrequency": null,
                          "templateId": "",
                          "fileFormat": null
                        },
                        "paymentFileConfig": {
                          "edi824FileId": null,
                          "edi997FileId": null,
                          "inboundFileId": null
                        },
                        "billingConfig": {
                          "billingType": "I",
                          "billingBID": "10048816840"
                        },
                        "stripePaymentConfig": {
                          "remittanceNotificationEnabled": false,
                          "stripePaymentEnabled": false
                        },
                        "vanConfig": {
                          "fcsBankId": null,
                          "processingType": null,
                          "aceClientId": null,
                          "admClientId": null,
                          "visaADMOptionId": null,
                          "mcADMOptionId": null,
                          "vanEnabled": false,
                          "settlementExpirationDays": null
                        },
                        "stpPaymentConfig": {
                          "accountHolderFirstName": null,
                          "remittanceNotificationEnabled": false,
                          "stpPaymentEnabled": false,
                          "accountHolderLastName": null
                        },
                        "webServicesConfig": {
                          "apiCodes": null,
                          "webServicesEnabled": false,
                          "clientId": null,
                          "vbdsDataSubscription": [
                            {
                              "dataSubscriptionType": 5001,
                              "dataSubscriptionAccountType": [
                                {
                                  "subscribed": true,
                                  "accountType": "MEMO"
                                },
                                {
                                  "subscribed": true,
                                  "accountType": "NVPA"
                                }
                              ]
                            }
                          ],
                          "suppressSupplierNotification": false,
                          "vbdsClientId": "12345"
                        },
                        "paymentConfig": {
                          "securityCodeRequired": true,
                          "allowableCurrencies": [
                            "INR",
                            "USD"
                          ],
                          "expirationDays": "25",
                          "billingCurrency": "USD",
                          "expirationBufferDays": "5",
                          "defaultSecurityCode": true,
                          "paymentAdviceOption": "C"
                        },
                        "paymentSecurityConfig": {
                          "defaultSecurityFieldCode": "1",
                          "defaultSecurityQuestion": "Credential Text",
                          "customSecurityQuestions": [],
                          "customSecurityQuestionsEnabled": false
                        },
                        "approvalWorkflowConfig": {
                          "workflowFunctionCodes": [],
                          "workflowConfigEnabled": false
                        },
                        "authorizationControlConfig": {
                          "authControlPaymentTemplate": "Custom_Standard",
                          "issuerHoldingBID": "",
                          "authControlEnabled": false,
                          "defaultAuthControlEnabled": false,
                          "alertsEnabled": false
                        },
                        "paymentNotificationConfig": {
                          "defaultBuyerLanguageCode": "en_US",
                          "supplierReminderNotificationDays": "7",
                          "paymentAdviceTemplate": "Custom_Standard",
                          "settlementSource": "1",
                          "dateFormat": "DDMMYYYY",
                          "defaultSupplierReminderNotificationEnabled": true,
                          "defaultAttachRemittanceDetailsFile": true,
                          "supplierReminderNotificationEnabled": true,
                          "attachRemittanceDetailsFile": true
                        },
                        "reconciliationFileConfig": {
                          "fileLevel": "",
                          "recipientLoginIds": [],
                          "adhocReconciliationReportEnabled": false,
                          "commFileId": "",
                          "deliveryTime": "",
                          "templateName": null,
                          "deliveryFrequency": null,
                          "onlinePaymentReconciliationEnabled": false,
                          "fileFormat": null
                        },
                        "processorConfig": {
                          "embossedLine2": "<<Buyer Name>> ",
                          "closeAccountEnabled": true,
                          "processorFields": {
                            "aceOptionSet": "1111",
                            "accountIdOptionSet": "1111",
                            "mailerIdOptionSet": "1111",
                            "companyNumber": "1111111",
                            "cycleFrequencyCode": "15",
                            "cmidDefaultValue": "",
                            "unitId": "1000000",
                            "agentNumber": "0000",
                            "cycleFrequencyType": "Monthly"
                          },
                          "suaEmbossedLine1": "<<Buyer Name>>~1",
                          "lodgedEmbossedLine1": "<<Supplier Name>>~1"
                        }
                      },
                      "responseStatus": {
                        "statusDesc": "Successfully retrieved the buyer",
                        "messageId": "1686861552",
                        "status": "success",
                        "statusCode": "BSGB0000"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_details\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "body",
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/buyerManagement/buyerTemplate/get": {
      "post": {
        "tags": [
          "Buyer Management Service"
        ],
        "summary": "Get Buyer Template",
        "description": "",
        "operationId": "Get Buyer Template",
        "requestBody": {
          "description": "Request Details for getting the details of a Buyer template.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBuyerTemplateRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "clientId": "B2BWS_1_Region_Bank_9999",
                    "messageId": "1579791844475",
                    "templateId": "1_3_9999_110"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuyerTemplateSuccessResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "responseFileConfig": null,
                      "proxyConfig": {
                        "holdDays": "2",
                        "bucketedProxyEnabled": false,
                        "autoRefreshEnabled": true
                      },
                      "boostPaymentConfig": {
                        "boostPaymentEnabled": true
                      },
                      "contactInfo": {
                        "emailAddress": "visab2bvpaqa1@visa.com",
                        "phone1": "8888888888"
                      },
                      "buyerFeatureConfig": {
                        "fullAccountViewEnabled": true,
                        "cardMaskingDigitsOnline": "12",
                        "onlinePaymentInstructionEnabled": true,
                        "onlinePaymentRequisitionEnabled": true,
                        "cardMaskingDigits": "12",
                        "pseudoAccountsEnabled": false
                      },
                      "rvaReconciliationFileConfig": null,
                      "stripePaymentConfig": {
                        "remittanceNotificationEnabled": true,
                        "stripePaymentEnabled": true
                      },
                      "vanConfig": {
                        "fcsBankId": "F285",
                        "vanEnabled": true
                      },
                      "stpPaymentConfig": {
                        "remittanceNotificationEnabled": true,
                        "stpPaymentEnabled": true
                      },
                      "webServicesConfig": {
                        "apiCodes": [
                          "ALL"
                        ],
                        "webServicesEnabled": true,
                        "clientId": "B2BWS_1_Region_Bank_9999",
                        "suppressSupplierNotification": false,
                        "vbdsClientId": "6677"
                      },
                      "templateId": "1_3_9999_110",
                      "paymentConfig": {
                        "securityCodeRequired": true,
                        "allowableCurrencies": [
                          "USD"
                        ],
                        "expirationDays": "30",
                        "billingCurrency": "USD",
                        "expirationBufferDays": "5",
                        "paymentAdviceOption": "C"
                      },
                      "paymentFileCommConfig": null,
                      "paymentSecurityConfig": {
                        "defaultSecurityFieldCode": "1",
                        "defaultSecurityQuestion": "Credential Text",
                        "customSecurityQuestions": null,
                        "customSecurityQuestionsEnabled": false
                      },
                      "approvalWorkflowConfig": {
                        "workflowFunctionCodes": [
                          "AUCL",
                          "LCRC",
                          "PYIN",
                          "PYRN"
                        ],
                        "workflowConfigEnabled": true
                      },
                      "authorizationControlConfig": {
                        "issuerHoldingBID": null,
                        "authControlEnabled": true,
                        "alertsEnabled": false
                      },
                      "paymentNotificationConfig": {
                        "defaultBuyerLanguageCode": "en_US",
                        "supplierReminderNotificationDays": "7",
                        "dateFormat": "DDMMYYYY",
                        "supplierReminderNotificationEnabled": true,
                        "attachRemittanceFileDetails": false
                      },
                      "templateName": "1579774641311",
                      "templateDescription": "VPP Template",
                      "reconciliationFileConfig": {
                        "adhocReconciliationReportEnabled": false,
                        "commFileId": null,
                        "templateName": null,
                        "onlinePaymentReconciliationEnabled": false
                      },
                      "processorConfig": {
                        "closeAccount": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"/pages/B2B-virtual-account-payment-method-error-codes#get_buyer_template\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-samplePayload": "",
        "x-codegen-request-body-name": "templateRequest",
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/accountManagement/GetSecurityCode": {
      "post": {
        "tags": [
          "Account Management service"
        ],
        "summary": "Get Security Code",
        "description": "",
        "operationId": "Get Security Code",
        "requestBody": {
          "description": "Get Security Code Request",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "accountNumber",
                  "buyerId",
                  "clientId",
                  "expirationDate",
                  "messageId"
                ],
                "type": "object",
                "properties": {
                  "buyerId": {
                    "maxLength": 25,
                    "type": "string",
                    "description": "Buyer ID is the buyer identifier as defined in Visa Payables Automation(VPA) system. Value format is 0-9."
                  },
                  "clientId": {
                    "maxLength": 25,
                    "type": "string",
                    "description": "Client ID field is a unique identification of the financial institution. This will be provided by Visa at the time of setup."
                  },
                  "messageId": {
                    "maxLength": 36,
                    "type": "string",
                    "description": "Unique identifier for this request.  Each request sent to VPA requires its own unique ID."
                  },
                  "accountNumber": {
                    "maxLength": 19,
                    "type": "string",
                    "description": "The full 16 digit Visa account number."
                  },
                  "expirationDate": {
                    "maxLength": 6,
                    "type": "string",
                    "description": "Expiration date of the account for which the CVV2 is requested. The format is MM/YYYY."
                  }
                }
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "clientId": "B2BWS_1_1_9999",
                    "messageId": "2017-04-06T03:47:20.000Z",
                    "buyerId": 9999,
                    "accountNumber": 4111111111111111,
                    "expirationDate": "10/2022"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "GetSecurityResponse": {
                      "required": [
                        "messageID",
                        "statusCode",
                        "statusDesc"
                      ],
                      "type": "object",
                      "properties": {
                        "messageID": {
                          "maxLength": 36,
                          "type": "string",
                          "description": "Unique identifier which was sent in the request."
                        },
                        "statusCode": {
                          "maxLength": 6,
                          "type": "string",
                          "description": "Status code of the response. It is alphanumeric. The values are specific to each method. Example- CS001, CS002, and so on. In case of error please refer to the <a href=\"https://developer.visa.com/pages/B2B-virtual-account-payment-method-error-codes#get_security_code\">Error Codes</a> page for this api"
                        },
                        "statusDesc": {
                          "maxLength": 255,
                          "type": "string",
                          "description": "Status description of the response."
                        },
                        "securityCode": {
                          "maxLength": 3,
                          "type": "string",
                          "description": "CVV2 number."
                        }
                      },
                      "description": "Success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Refer to the <a href=\"https://developer.visa.com/pages/B2B-virtual-account-payment-method-error-codes#get_security_code\">Error Codes</a> page for the list of error codes for this API.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "messageId": {
                      "maxLength": 36,
                      "type": "string",
                      "description": "Unique identifier which was sent in the request."
                    },
                    "statusCode": {
                      "maxLength": 6,
                      "type": "string",
                      "description": "Status code of the response."
                    },
                    "statusDesc": {
                      "maxLength": 255,
                      "type": "string",
                      "description": "Status description of the response."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "getsecuritycode",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1accountManagement~1GetSecurityCode/post",
            "default": false
          }
        ]
      }
    },
    "/vpa/v1/getRequisitionDetails": {
      "post": {
        "tags": [
          "Account Management service"
        ],
        "summary": "Get Requisition Details",
        "description": "Call this endpoint to retrieve the requisition details from a previously requested virtual account. Please note that this endpoint exclusively supports pseudo account implementations and does not accommodate those utilizing TSYS VPP VANs.",
        "operationId": "Get Requisition Details",
        "requestBody": {
          "description": "Get Requisition Details Request",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "accountNumber",
                  "buyerId",
                  "clientId",
                  "messageId"
                ],
                "type": "object",
                "properties": {
                  "buyerId": {
                    "maxLength": 15,
                    "type": "string",
                    "description": "Unique numeric identifier for the buyer that's defined by the Issuer."
                  },
                  "clientId": {
                    "maxLength": 50,
                    "type": "string",
                    "description": "Unique identifier for the financial institution, provided by Visa during setup."
                  },
                  "messageId": {
                    "maxLength": 36,
                    "type": "string",
                    "description": "Unique identifier for the API request, generated by the API consumer, for tracking and referencing purposes. Each request mandates a unique messageId."
                  },
                  "accountNumber": {
                    "maxLength": 16,
                    "type": "string",
                    "description": "Account number for which requisition details are being requested.<br><br> Note: Only pseudo account numbers are supported by this endpoint."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "In case of error please refer to the <a href=\"https://developer.visa.com/pages/B2B-virtual-account-payment-method-error-codes#request_virtual_account\">Response Codes</a> page for this api",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "GetRequisitionDetailsResponse": {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "array",
                          "description": "List of authorization rules set on the account.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ruleCode": {
                                "maxLength": 8,
                                "type": "string",
                                "description": "Contains the authorization Rule Code. For the list of valid Visa Payment Controls (VPC) refer to the <VPC Rules and Overrides table>"
                              },
                              "overrides": {
                                "type": "array",
                                "description": "Complex element which contains one or more overrides for the authorization rules. This element contains: Sequence, Override Code, and Override Value. Override is nothing but a value which you want to change in the default rule.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "sequence": {
                                      "maxLength": 3,
                                      "type": "string",
                                      "description": "Contains the sequence number for the override. Each rule starts with 0 so if you have an SPV and BUS, then SPV will have sequence 0 and BUS will have a 0. If there are multiple fields/overrides within a rule, e.g. SPV. Each override - amount, currency code, range type, etc.- have the same sequence number. E.g. amount, currency code and range type will all have 0. If there is a rule that can have multiple amounts e.g. Exact match, then each VPAS rule overrides must have a unique sequence number so first VPAS has 0, then second has 1, third has 2."
                                    },
                                    "overrideCode": {
                                      "maxLength": 33,
                                      "type": "string",
                                      "description": "Contains the code for the override."
                                    },
                                    "overrideValue": {
                                      "maxLength": 25,
                                      "type": "string",
                                      "description": "Contains the value for the override."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "buyerId": {
                          "maxLength": 15,
                          "type": "string",
                          "description": "Unique numeric identifier for the buyer that's defined by the Issuer."
                        },
                        "endDate": {
                          "maxLength": 10,
                          "type": "string",
                          "description": "User specified account validity end date for the requisition"
                        },
                        "clientId": {
                          "maxLength": 50,
                          "type": "string",
                          "description": "Unique identifier for the financial institution, provided by Visa during setup."
                        },
                        "timeZone": {
                          "maxLength": 12,
                          "type": "string",
                          "description": "User specified time zone for the requisition start and end dates."
                        },
                        "messageId": {
                          "maxLength": 36,
                          "type": "string",
                          "description": "Unique identifier for the API request."
                        },
                        "responses": {
                          "type": "array",
                          "description": "Complex element which contains a collection of responses returned in the response. This element contains: Response Code, Response Description",
                          "items": {
                            "type": "object",
                            "properties": {
                              "responseCode": {
                                "maxLength": 10,
                                "type": "string",
                                "description": "This element contains the response code sent by the VPA system. The list can be found in the Response Codes page for this api"
                              },
                              "responseDescription": {
                                "maxLength": 250,
                                "type": "string",
                                "description": "This element contains the response description."
                              }
                            }
                          }
                        },
                        "startDate": {
                          "maxLength": 10,
                          "type": "string",
                          "description": "User specified account validity start date for the requisition"
                        },
                        "optionalInfo": {
                          "type": "array",
                          "description": "Complex element which allows the web service consumer to pass optional field name and value as name value pairs. A maximum of 50 optional field name and values will be returned.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "optionalFieldName": {
                                "maxLength": 50,
                                "type": "string",
                                "description": "Name of the Optional Field"
                              },
                              "optionalFieldValue": {
                                "maxLength": 100,
                                "type": "string",
                                "description": "Value of the Optional Field"
                              }
                            }
                          }
                        },
                        "accountNumber": {
                          "maxLength": 16,
                          "type": "string",
                          "description": "Account number for which requisition details were requested."
                        },
                        "mcgRuleAction": {
                          "maxLength": 5,
                          "type": "string",
                          "description": "This field defines action on the MCG rules sent in the request. Default value returned is Block even if no value is sent in the request. MCG rules are not defined for the card that has only VPAS rule with value of one cent set."
                        },
                        "expirationDate": {
                          "maxLength": 7,
                          "type": "string",
                          "description": "Contains the expiration date of the card account. Format- MM/YYYY."
                        }
                      },
                      "description": "Success"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1getRequisitionDetails/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v2/accountManagement/getPaymentControls": {
      "post": {
        "tags": [
          "Account Management service"
        ],
        "summary": "Get Payment Controls",
        "description": "This version is recommended for buyers subscribed to Visa payment Control(VPC)  and supporting mcgRuleAction field.",
        "operationId": "Get Payment Controls",
        "requestBody": {
          "description": "Get Payment Controls Request",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "accountNumber",
                  "buyerId",
                  "clientId",
                  "messageId"
                ],
                "type": "object",
                "properties": {
                  "buyerId": {
                    "maxLength": 15,
                    "type": "string",
                    "description": "Buyer ID numeric is the buyer identifier as defined in Visa Payables Automation system. This is often the ID defined at the processor for the corporate buyer. This will be provided by the issuer."
                  },
                  "clientId": {
                    "maxLength": 50,
                    "type": "string",
                    "description": "ClientID uniquely identifies a financial institution. This will be provided by the Visa implementation team."
                  },
                  "messageId": {
                    "maxLength": 36,
                    "type": "string",
                    "description": "Unique identifier for the API request."
                  },
                  "accountNumber": {
                    "maxLength": 16,
                    "type": "string",
                    "description": "Account Number for which the auth rules are requested. You must send at least the last 4 digits, but can send up to the entire account number. The value sent should uniquely identify the account number. If the last 4 digits are not unique then it will fail"
                  }
                }
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "clientID": "B2BWS_84994_1940",
                    "messageId": "{{$timestamp}}",
                    "buyerID": "84994",
                    "accountNumber": "4715338901038473"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "GetPaymentControlsResponse": {
                      "type": "object",
                      "properties": {
                        "rules": {
                          "type": "array",
                          "description": "List of authorization rules set on the account.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ruleCode": {
                                "maxLength": 8,
                                "type": "string",
                                "description": "Contains the authorization Rule Code. For the list of valid Visa Payment Controls (VPC) refer to the <a href='/pages/B2B-virtual-account-payment-method-codes#rules_and_overrides_for_request_virtual_account_and_manage_payment_controls'>VPC Rules and Overrides table</a>. <br> For buyers using VANs please refer to the <a href='/pages/B2B-virtual-account-payment-method-codes#rules_and_overrides_for_request_virtual_account__for_tsys_vpp'>VPP Rules and Overrides table</a>. <br>."
                              },
                              "overrides": {
                                "type": "array",
                                "description": "Complex element which contains one or more overrides for the authorization rules. This element contains: Sequence, Override Code, and Override Value. Override is nothing but a value which you want to change in the default rule.<br><br> For e.g. to set the threshold rule  for the account you have requested,if you want to set the threshold as $1000 then you should pass the amount override as 1000 and the currency override as 840.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "sequence": {
                                      "maxLength": 3,
                                      "type": "string",
                                      "description": "Contains the sequence number for the override. Each rule starts with 0 so if you have an SPV and BUS, then SPV will have sequence 0 and BUS will have a 0. If there are multiple fields/overrides within a rule, e.g. SPV.  Each override - amount, currency code, range type, etc.-  have the same sequence number. E.g. amount, currency code and range type will all have 0. If there is a rule that can have multiple amounts e.g. Exact match, then each VPAS rule overrides must have a unique sequence number so first VPAS has 0, then second has 1, third has 2."
                                    },
                                    "overrideCode": {
                                      "maxLength": 33,
                                      "type": "string",
                                      "description": "Contains the code for the override.  <br> Note, follow the rule specification (provided in the link in the Rule code field description) as not every ruleCode requires an overrideCode."
                                    },
                                    "overrideValue": {
                                      "maxLength": 25,
                                      "type": "string",
                                      "description": "Contains the value for the override. <br> Note, follow the rule specification (provided in the link in the Rule code field description) as not every ruleCode requires an overrideValue."
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "messageId": {
                          "maxLength": 36,
                          "type": "string",
                          "description": "Unique identifier which was sent in the request."
                        },
                        "statusCode": {
                          "maxLength": 10,
                          "type": "string",
                          "description": "Status code of the response. It is alphanumeric. The values are specific to each method. The list of status codes can be found in the following link"
                        },
                        "statusDesc": {
                          "maxLength": 255,
                          "type": "string",
                          "description": "Status description of the response."
                        },
                        "mcgRuleAction": {
                          "maxLength": 5,
                          "type": "string",
                          "description": "This field defines action on the MCG rules sent in the request.  Default value returned is \"Block\" even if no value sent in  request, MCG rules are not defined or card  has VPAS(one cent rule)  set. For VPP buyers this field won’t be returned."
                        }
                      },
                      "description": "Success"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "statusDesc": "Payment control details retrieved successfully.",
                      "messageId": "{{$timestamp}}",
                      "rules": [
                        {
                          "ruleCode": "AIR"
                        },
                        {
                          "ruleCode": "AUTO"
                        },
                        {
                          "ruleCode": "REST"
                        },
                        {
                          "ruleCode": "SPV",
                          "overrides": [
                            {
                              "sequence": "0",
                              "overrideCode": "spendLimitAmount",
                              "overrideValue": "1000.00"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "maxAuth",
                              "overrideValue": "10"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "recurringDay",
                              "overrideValue": "15"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "amountCurrencyCode",
                              "overrideValue": "840"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "rangeType",
                              "overrideValue": "1"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "consumedAmount",
                              "overrideValue": "263.39"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "consumedAuthCount",
                              "overrideValue": "1"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "balanceAuthAmount",
                              "overrideValue": "736.61"
                            },
                            {
                              "sequence": "0",
                              "overrideCode": "balanceAuthCount",
                              "overrideValue": "9"
                            }
                          ]
                        }
                      ],
                      "statusCode": "AMGP000"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "In case of error please refer to the <a href=\"https://developer.visa.com/pages/B2B-virtual-account-payment-method-error-codes#get_payment_controls\">Error Codes</a> page for this api",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "array of errors",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "error code"
                          },
                          "statusDesc": {
                            "type": "string",
                            "description": "error description"
                          }
                        }
                      }
                    },
                    "messageId": {
                      "maxLength": 36,
                      "type": "string",
                      "description": "Unique identifier which was sent in the request."
                    },
                    "statusCode": {
                      "maxLength": 6,
                      "type": "string",
                      "description": "Status code of the response."
                    },
                    "statusDesc": {
                      "maxLength": 255,
                      "type": "string",
                      "description": "Status description of the response."
                    }
                  }
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "GetPaymentControls",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1vpa~1v1~1accountManagement~1getPaymentControls/post",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1vpa~1v2~1accountManagement~1getPaymentControls/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/vpa/v1/accountManagement/ManagePaymentControls": {
      "post": {
        "tags": [
          "Account Management service"
        ],
        "summary": "Manage Payment Controls",
        "description": "",
        "operationId": "Manage Payment Controls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "accountNumber",
                  "buyerId",
                  "clientId",
                  "messageId"
                ],
                "type": "object",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "This element indicates whether the request was made for VPA related cards or for VVAM related cards. Valid codes are VPA, VVAM.<br> Note, if sending source as VPA you must also include a sample invoice."
                  },
                  "buyerId": {
                    "maxLength": 25,
                    "type": "string",
                    "description": "Buyer ID is the buyer identifier as defined in Visa Payables Automation(VPA) system. Value format is 0-9."
                  },
                  "eMailId": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "Email address of the employee. Note- This email address is only required for VAM clients."
                  },
                  "clientId": {
                    "maxLength": 50,
                    "type": "string",
                    "description": "Client ID field is a unique identification of the financial institution. This will be provided by Visa at the time of setup."
                  },
                  "invoices": {
                    "type": "array",
                    "description": "This complex element contains the details of all invoices for which the exact match rule needs to be set.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "invoiceDate": {
                          "maxLength": 10,
                          "type": "string",
                          "description": "This contains the date of the invoice being paid. Format is YYYY-MM-DD."
                        },
                        "invoiceAmount": {
                          "maxLength": 16,
                          "type": "string",
                          "description": "Invoice amount. maximum length is 16. Maximum number of decimals is two. Format is XXXXXXXXXX9999.99"
                        },
                        "invoiceNumber": {
                          "maxLength": 30,
                          "type": "string",
                          "description": "Invoice Number."
                        }
                      }
                    }
                  },
                  "messageId": {
                    "maxLength": 36,
                    "type": "string",
                    "description": "Unique identifier for this request.  Each request sent to VPA requires its own unique ID."
                  },
                  "accountNumber": {
                    "maxLength": 16,
                    "type": "string",
                    "description": "Card account number for which the authorization controls are being managed."
                  },
                  "companyAdminEMailId": {
                    "maxLength": 128,
                    "type": "string",
                    "description": "Contains the company admin email ID. Note- This email address is only required for VAM clients."
                  },
                  "paymentControlDetails": {
                    "type": "array",
                    "description": "This complex element contains multiple authorization control(s) details.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "endDate": {
                          "maxLength": 10,
                          "type": "string",
                          "description": "Contains the last date when the card account and the  authorization rules will be effective. All the authorization rules specified in the Requisition detail will be removed from the card the next day (after the end date). <br> Format is YYYY-MM-DD."
                        },
                        "rulesSet": {
                          "type": "array",
                          "description": "This complex element contains the details of all invoices for which the exact match rule needs to be set.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "rules": {
                                "type": "array",
                                "description": "This complex element contains the details of all the authorization rules that needs to be added/update/deleted or refreshed. ",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "ruleCode": {
                                      "maxLength": 8,
                                      "type": "string",
                                      "description": "This contains the rule code. <br> For detailed information regarding the rule codes and overrides, see the <a href='/pages/B2B-virtual-account-payment-method-codes#rules_and_overrides_for_request_virtual_account_and_manage_payment_controls'>Rules and Overrides table</a>."
                                    },
                                    "overrides": {
                                      "type": "array",
                                      "description": "This complex element contains the details of the overrides for an authorization rule.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "Sequence": {
                                            "maxLength": 3,
                                            "type": "string",
                                            "description": "Contains the sequence number for the override.  A few authorization rules have multiple overrides and the sequence number identifies each of them uniquely."
                                          },
                                          "overrideCode": {
                                            "maxLength": 50,
                                            "type": "string",
                                            "description": "Contains the override code.  For a list of override codes, refer to the Rules and Overrides table."
                                          },
                                          "overrideValue": {
                                            "maxLength": 10,
                                            "type": "string",
                                            "description": "Contains the override value."
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
[...]
