{
  "openapi": "3.1.0",
  "info": {
    "title": "Click to Pay",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Secure Remote Commerce",
      "description": "Enable partners  to securely add, manage, and use Visa tokenized credentials for digital purchases built on EMV standards."
    }
  ],
  "paths": {
    "/src/v1/identities/lookup": {
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Identity Lookup",
        "description": "The Identity Lookup operation uses a provided consumer identity (email address or mobile\nphone number) to determine whether it is associated with an SRC profile.\n\n**Authentication Requirements:**\n- HTTP Header: x-pay-token - JWT token for authentication\n- Query Parameter: apikey - API key issued during onboarding",
        "operationId": "identityLookup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "consumerIdentity",
                  "srcClientId"
                ],
                "type": "object",
                "properties": {
                  "srcClientId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "This is the ID shared by the SRC system with the client that identifies the connecting\nclient, such as SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided, use the API key as the srcClientId.\n"
                  },
                  "consumerIdentity": {
                    "$ref": "#/components/schemas/ConsumerIdentity"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation is processed successfully, and the lookup result is included in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "consumerPresent1"
                  ],
                  "type": "object",
                  "properties": {
                    "consumerStatus": {
                      "type": "string",
                      "description": "Status of the consumer. Must be provided if the specified consumer identity was recognized by the SRC system.",
                      "enum": [
                        "ACTIVE",
                        "SUSPENDED",
                        "LOCKED"
                      ]
                    },
                    "consumerPresent1": {
                      "type": "boolean",
                      "description": "Indicates whether the Identity Lookup operation was successful."
                    },
                    "idLookupSessionId": {
                      "type": "string",
                      "description": "Session identifier of format UUID, returned by SRC System following an Identity Lookup operation. Can be used in subsequent Initiate Identity Validation operation.\nNot supported in Visa SRC system.\n"
                    },
                    "lastUsedCardTimestamp": {
                      "type": "string",
                      "description": "Timestamp of the last used card. UTC time in Unix epoch format.",
                      "format": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1identities~1lookup/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/src/v1/profiles/prepare": {
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Prepare SRC Profile",
        "description": "The Prepare SRC Profile operation requests that an SRC System prepare one or more SRC Profile(s) to be returned.\n\n**Authentication Requirements:**\n- HTTP Header: x-pay-token - JWT token for authentication\n- Query Parameter: apiKey - API key issued during onboarding",
        "operationId": "prepareSrcProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "srcClientId"
                ],
                "type": "object",
                "properties": {
                  "dpaData": {
                    "$ref": "#/components/schemas/DpaData"
                  },
                  "idTokens": {
                    "type": "array",
                    "description": "(Conditional) List of JWTs. Either idTokens or consumerIdentities must be provided.\nIf both are provided, the idTokens will be used.\n",
                    "items": {
                      "$ref": "#/components/schemas/idToken"
                    }
                  },
                  "srcDpaId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "DPA identifier, which is generated by the SRCI during DPA registration."
                  },
                  "srcClientId": {
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "description": "This is the ID shared by the SRC system to the Client that identifies the connecting\nclient, e.g. SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided then use the API Key as the srcClientId.\n"
                  },
                  "srcCorrelationId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "(Conditional) Unique identifier generated by an SRC System. Must be provided if available within the present checkout session\n(such as received in an earlier response during the present session), otherwise a new checkout session will be initiated.\n"
                  },
                  "srciTransactionId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "A unique transaction ID created by the SRCi, which may be created on the merchant page. It must be passed through to all networks (SRC systems) and DCFs.\n"
                  },
                  "consumerIdentities": {
                    "type": "array",
                    "description": "(Conditional) List of Consumer Identities. Either idTokens or consumerIdentities must be provided.\nIf both are provided, the idTokens will be used.\n",
                    "items": {
                      "$ref": "#/components/schemas/ConsumerIdentity"
                    }
                  },
                  "dpaTransactionOptions": {
                    "$ref": "#/components/schemas/DpaTransactionOptions"
                  }
                },
                "description": "### Request Body Validation Rules\n#### idTokens/consumerIdentities Validation\n- Either idTokens or consumerIdentities must be provided if:\n- The idTokens list carries one or more Federated ID Tokens (used to identify associated SRC Profile(s), and attest that the requester is authorised to access this data). When the SRC Initiator performs Consumer Identity validation, it shall always use the Federated ID Token it generates here\n- The consumerIdentities list carries one or more Consumer Identities and is used to identify associated SRC Profile(s) (may be used only when the client is trusted and authorised to access the SRC System)\n"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation is processed successfully and the SRC Profile details are included in the response body",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "profiles"
                  ],
                  "type": "object",
                  "properties": {
                    "profiles": {
                      "type": "array",
                      "description": "Contains entries if one or more SRC Profiles are found, otherwise an empty list is returned.",
                      "items": {
                        "$ref": "#/components/schemas/SRCProfile"
                      }
                    },
                    "srcDpaId": {
                      "maxLength": 100,
                      "type": "string",
                      "description": "Reference identifier of the DPA"
                    },
                    "srcCorrelationId": {
                      "maxLength": 100,
                      "type": "string",
                      "description": "Unique identifier generated by an SRC System. Must be provided if available within the present checkout session\n(such as received in an earlier response during the present session), otherwise a new checkout session will be initiated.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1profiles~1prepare/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/src/v1/confirmations": {
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Confirmation",
        "description": "The Confirmation operation enables SRC Participants to provide a notification of the result of a \ncheckout service (checkout or payment authorisation\n\n**Authentication Requirements:**\n- HTTP Header: x-pay-token - JWT token for authentication\n- Query Parameter: apiKey - API key issued during onboarding",
        "operationId": "confirmation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "confirmationData2",
                  "srcCorrelationId"
                ],
                "type": "object",
                "properties": {
                  "srcDpaId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "(Conditional) Reference identifier of the DPA. Must be provided if the calling client is an SRCI\n"
                  },
                  "serviceId": {
                    "description": "(Conditional) Required for confirmation of checkout using Card on File or Partner Token.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ServiceId"
                      }
                    ]
                  },
                  "customData": {
                    "$ref": "#/components/schemas/JSONObject"
                  },
                  "srcClientId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "(Conditional) This is the ID shared by the SRC system to the Client that identifies the connecting\nclient, e.g. SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided then use the API Key as the srcClientId.\nRefer integration guide for more details.\n"
                  },
                  "srcCorrelationId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "Unique identifier generated by an SRC System. Must be provided if available within the present checkout session\n(such as received in an earlier response during the present session), otherwise a new checkout session will be initiated.\n"
                  },
                  "confirmationData2": {
                    "$ref": "#/components/schemas/ConfirmationData"
                  },
                  "srciTransactionId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "A unique transaction ID created by the SRCi, which may be created on the merchant page. It must be passed through to all networks (SRC systems) and DCFs.\n"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The operation is processed successfully and there is no content to be returned."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1confirmations/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/src/v1/cards": {
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Enroll Card",
        "description": "The Card Enrolment operation enrols a Consumer and Digital Card (associated with an\nunderlying PAN) to a new SRC Profile, or adds a Digital Card to an existing SRC Profile.",
        "operationId": "enrollCard",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "srcClientId"
                ],
                "type": "object",
                "properties": {
                  "srcDpaId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "DPA identifier, which is generated by the SRCi during DPA registration."
                  },
                  "serviceId": {
                    "description": "(Conditional) Required for Card on File or Partner Token enrollments.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ServiceId"
                      }
                    ]
                  },
                  "srcClientId": {
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "description": "This is the ID shared by the SRC System with the client that identifies the connecting\nclient, such as SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided, then use the API key as the srcClientId.  \n"
                  },
                  "encryptedCard": {
                    "pattern": "^([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_\\-\\+\\/=]+)$",
                    "type": "string",
                    "description": "(Conditional) URL-safe base64 encoded JWE<Card> information related to the Card being enrolled, with no padding.\nEncrypted according to the JSON Web Encryption (JWE) specification RFC 7516, and the algorithm used for encryption is according to RFC 7518, Section 4.1.\nExactly one of encryptedCard or enrollmentReferenceData must be provided.\nSee: #/components/schemas/Card\n",
                    "format": "application/jwt",
                    "x-jwe-encryption": {
                      "algorithm": "RSA-OAEP",
                      "encryption": "A256GCM"
                    }
                  },
                  "srcCorrelationId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "Unique identifier generated by an SRC System. Must be provided if available within the present checkout session\n(such as received in an earlier response during the present session), otherwise a new checkout session will be initiated.\n"
                  },
                  "encryptedConsumer": {
                    "pattern": "^([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_\\-\\+\\/=]+)$",
                    "type": "string",
                    "description": "(Conditional) URL-safe base64 encoded JWE<Consumer> information related to the Consumer being enrolled, with no padding.\nEncrypted according to the JSON Web Encryption (JWE) specification RFC 7516, and the algorithm used for encryption is according to RFC 7518, Section 4.1.\nEither none or encryptedConsumer must be provided.\nSee: #/components/schemas/Consumer\n",
                    "format": "application/jwt",
                    "x-jwe-encryption": {
                      "algorithm": "RSA-OAEP",
                      "encryption": "A256GCM"
                    }
                  },
                  "srciTransactionId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "A unique transaction ID created by the SRCi, which may be created on the merchant page. It must be passed through to all networks (SRC Systems) and DCFs.\n"
                  },
                  "complianceSettings": {
                    "description": "(Conditional) Required for enrolment into click to pay.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ComplianceSettings"
                      }
                    ]
                  },
                  "enrollmentReferenceData": {
                    "description": "(Conditional) Enrollment reference data. Exactly one of card, encryptedCard or enrollmentReferenceData must be provided.\nExactly one of encryptedCard or enrollmentReferenceData must be provided.\n",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/EnrollmentReferenceData"
                      }
                    ]
                  }
                },
                "description": "### Request Body Validation Rules\n#### EncryptedConsumer Validation\n- Either none or encryptedConsumer must be provided.\n#### EncryptedCard/EnrollmentReferenceData Validation\n- Exactly one of encryptedCard or enrollmentReferenceData must be provided.\n"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation is processed successfully, and the card is enrolled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maskedCard": {
                      "$ref": "#/components/schemas/MaskedCard"
                    },
                    "maskedConsumer": {
                      "$ref": "#/components/schemas/MaskedConsumer"
                    },
                    "srcCorrelationId": {
                      "maxLength": 100,
                      "minLength": 0,
                      "type": "string",
                      "description": "Unique identifier generated by an SRC System. Must be provided if available within the present checkout session\n(such as received in an earlier response during the present session), otherwise a new checkout\nsession will be initiated.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1cards/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/src/v1/identities/validation/initiate": {
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Initiate Identity Validation",
        "description": "The Initiate Identity Validation operation initiates a process to validate that a Consumer is in\nthe possession of, or has access to, the Consumer Identity claimed..\n\n**Authentication Requirements:**\n- HTTP Header: x-pay-token - JWT token for authentication\n- Query Parameter: apiKey - API key issued during onboarding",
        "operationId": "initiateIdentityValidation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "srcClientId"
                ],
                "type": "object",
                "properties": {
                  "srcClientId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "This is the ID shared by the SRC system to the Client that identifies the connecting\nclient, e.g. SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided then use the API Key as the srcClientId.\n"
                  },
                  "consumerIdentity": {
                    "description": "(Conditional) Consumer identity information. One of consumerIdentity or idLookupSessionId must be provided.\nIf both are provided, idLookupSessionId takes precedence.\n",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ConsumerIdentity"
                      }
                    ]
                  },
                  "idLookupSessionId": {
                    "type": "string",
                    "description": "(Conditional) Session identifier of format UUID, returned by SRC System following an Identity Lookup operation. Can be used in subsequent Initiate Identity Validation operation. \nOne of consumerIdentity or idLookupSessionId must be provided. If both are provided, idLookupSessionId takes precedence.\n"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation is processed successfully and the verification request results are included in the response body.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "idValidationSessionId": {
                      "type": "string",
                      "description": "Session identifier of UUID format, returned by SRC System following an Initiate Identity Validation operation"
                    },
                    "maskedValidationChannel": {
                      "$ref": "#/components/schemas/IdentityValidationChannel"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1identities~1validation~1initiate/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/src/v1/transaction/credentials": {
      "get": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Get Payload",
        "description": "This operation returns Payment Data and payment related data to be used in payment authorisation.",
        "operationId": "getPayload",
        "parameters": [
          {
            "name": "srcClientId",
            "in": "query",
            "description": "This is the ID shared by the SRC system with the client that identifies the connecting\nclient, such as SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided, use the API key as the srcClientId. \n",
            "required": true,
            "explode": true,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "payloadTypeIndicator",
            "in": "query",
            "description": "Identifies the type of encrypted payload to be returned. A value of *SUMMARY* is invalid for the GetPayload operation.\n",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayloadTypeIndicator"
            }
          },
          {
            "name": "srcDpaId",
            "in": "query",
            "description": "DPA identifier, which is generated by the SRCI during DPA registration.",
            "required": false,
            "explode": true,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "srcCorrelationId",
            "in": "query",
            "description": "This is the unique identifier generated by the SRC\nsystem to track and link SRC messages. It is used as the\ntransaction identifier assigned by the SRC system for this particular\ntransaction. Must be provided if available from the checkout session related to the transaction.\nConditionality: \n  - Must be provided if srcDigitalCardId is not provided \n",
            "required": false,
            "explode": true,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "name": "serviceId",
            "in": "query",
            "description": "(Conditional) Required if using Card on File or Partner Token.",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ServiceId"
            }
          },
          {
            "name": "srcDigitalCardId",
            "in": "query",
            "description": "Reference identifier for the digital card representing the PAN or payment tokens.\nConditionality: \n  - Must be provided for card-on-file if the srcCorrelationId is not provided\n   \n",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/SrcDigitalCardId"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/schemas/PayloadResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1transaction~1credentials/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Checkout",
        "description": "The Checkout operation utilises the Consumer’s chosen Digital Card and details of the current transaction to retrieve Payment Data \nand payment related data.\n\n**Authentication Requirements:**\n- HTTP Header: x-pay-token - JWT token for authentication\n- Query Parameter: apiKey - API key issued during onboarding",
        "operationId": "checkout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "srcClientId",
                  "srcCorrelationId",
                  "srcDigitalCardId",
                  "srcDpaId"
                ],
                "type": "object",
                "properties": {
                  "dpaData": {
                    "$ref": "#/components/schemas/DpaData"
                  },
                  "srcDpaId": {
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "description": "DPA identifier, which is generated by the SRCI during DPA registration.\n"
                  },
                  "serviceId": {
                    "description": "(Conditional) Required for checkout using Card on File or Partner Token.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ServiceId"
                      }
                    ]
                  },
                  "srcClientId": {
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "description": "This is the ID shared by the SRC system to the Client that identifies the connecting\nclient, e.g. SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided then use the API Key as the srcClientId.\n"
                  },
                  "assuranceData": {
                    "$ref": "#/components/schemas/AssuranceData"
                  },
                  "srcCorrelationId": {
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "description": "Unique identifier generated by an SRC System. Must be provided if available within the present checkout session\n(such as received in an earlier response during the present session), otherwise a new checkout session will be initiated.\n"
                  },
                  "srcDigitalCardId": {
                    "type": "string",
                    "description": "Reference identifier to the Digital Card representing the PAN or Payment Tokens."
                  },
                  "srciTransactionId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "A unique transaction ID created by the SRCi, which may be created on the merchant page. It must be passed through to all networks (SRC systems) and DCFs.\n"
                  },
                  "dpaTransactionOptions": {
                    "$ref": "#/components/schemas/DpaTransactionOptions"
                  },
                  "encryptedBillingAddress": {
                    "pattern": "^([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_\\-\\+\\/=]+)$",
                    "type": "string",
                    "description": "URL-safe base64 encoded JWE<Address> information related to the Card, with no padding.\nEncrypted according to JSON Web Encryption (JWE) specification RFC 7516 and the algorithm used for encryption is according to RFC 7518 Section 4.1.\nSee: #/components/schemas/Address\n",
                    "format": "application/jwt",
                    "x-jwe-encryption": {
                      "algorithm": "RSA-OAEP",
                      "encryption": "A256GCM"
                    }
                  },
                  "initializationSessionId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "Session Id returned by SRC system intialization operation. \n(Conditional) Required when FIDO2 Authentication is required to be performed.\n"
                  },
                  "payloadTypeIndicatorPayload": {
                    "$ref": "#/components/schemas/PayloadTypeIndicator"
                  },
                  "payloadTypeIndicatorCheckout": {
                    "$ref": "#/components/schemas/PayloadTypeIndicatorCheckout"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/schemas/CheckoutResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1transaction~1credentials/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/src/v1/identities/validation/complete": {
      "post": {
        "tags": [
          "Secure Remote Commerce"
        ],
        "summary": "Complete Identity Validation",
        "description": "The Complete Identity Validation operation determines whether data, provided by the Consumer as part of a second step of an \nidentity validation process, is valid. It can also be used to check whether an out-of-band service was successful.\n\n**Authentication Requirements:**\n- HTTP Header: x-pay-token - JWT token for authentication\n- Query Parameter: apiKey - API key issued during onboarding",
        "operationId": "completeIdentityValidation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "idValidationSessionId",
                  "srcClientId",
                  "validationData"
                ],
                "type": "object",
                "properties": {
                  "srcClientId": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "This is the ID shared by the SRC system to the Client that identifies the connecting\nclient, e.g. SRCi, DCF, or SRC Issuer (SRCPI). If an API key was provided then use the API Key as the srcClientId.\n"
                  },
                  "validationData": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "Validation data (e.g. OTP) as entered by the Consumer as part of the step-up authentication"
                  },
                  "idValidationSessionId": {
                    "type": "string",
                    "description": "Session identifier of UUID format, returned by SRC System following an Initiate Identity Validation operation"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The operation is processed successfully, validation of identity has been successfully completed and the Federated ID Token included in the response body",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "idToken"
                  ],
                  "type": "object",
                  "properties": {
                    "idToken": {
                      "type": "string",
                      "description": "Federated ID Token issued by the SRC System based on successful validation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/Internal"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1src~1v1~1identities~1validation~1complete/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    }
  },
  "components": {
    "schemas": {
      "Origin": {
        "type": "string",
        "description": "Indicates the entity performing the enrollment.",
        "enum": [
          "CARDHOLDER",
          "MERCHANT",
          "ISSUER"
        ]
      },
      "FederatedIdTokenClaims": {
        "required": [
          "aud",
          "exp",
          "iat",
          "iss",
          "sub"
        ],
        "type": "object",
        "properties": {
          "amr": {
            "type": "array",
            "description": "List of methods the end user was authenticated with.",
            "items": {
              "type": "string",
              "enum": [
                "sms_otp",
                "email_otp",
                "merchant_rememberme",
                "fido_pop",
                "ext_validation"
              ]
            }
          },
          "aud": {
            "minItems": 1,
            "type": "array",
            "description": "Audience(s) this ID Token is intended for. It must contain the identifier of the requestor as the first element of the array and may also contain identifiers for participating SRC Systems.",
            "items": {
              "pattern": "^https://[^/]+$",
              "type": "string",
              "format": "uri"
            }
          },
          "exp": {
            "type": "integer",
            "description": "Expiration time as NumericDate, in seconds since 1970-01-01T00:00:00Z UTC. Minimum expiration timestamp should be 15 minutes from the issued-at timestamp."
          },
          "iat": {
            "type": "integer",
            "description": "Issued-at time as NumericDate, in seconds since 1970-01-01T00:00:00Z UTC."
          },
          "iss": {
            "pattern": "^https://[^/]+$",
            "type": "string",
            "description": "Issuer identifier for the issuer of the response. Must be a case-sensitive HTTPS URI containing scheme and fully qualified domain name of the host only.",
            "format": "uri",
            "example": "https://srcsystem1.com"
          },
          "jti": {
            "type": "string",
            "description": "JWT ID. Unique identifier for the JWT."
          },
          "sub": {
            "maxLength": 255,
            "type": "string",
            "description": "Subject identifier. A locally unique and never reassigned identifier within the issuer for the Consumer."
          },
          "email": {
            "type": "string",
            "description": "Obfuscated end user's preferred e-mail address. The underlying e-mail address must conform to RFC 5322 addr-spec syntax simplified to all lowercase characters."
          },
          "ext_amr": {
            "type": "array",
            "description": "amr value extracted from external validation JWT when amr includes ext_validation.",
            "items": {
              "type": "string"
            }
          },
          "ext_aud": {
            "description": "aud value extracted from external validation JWT when amr includes ext_validation.",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "ext_exp": {
            "type": "integer",
            "description": "exp value extracted from external validation JWT when amr includes ext_validation."
          },
          "ext_iat": {
            "type": "integer",
            "description": "iat value extracted from external validation JWT when amr includes ext_validation."
          },
          "ext_iss": {
            "pattern": "^https://[^/]+$",
            "type": "string",
            "description": "iss value extracted from external validation JWT when amr includes ext_validation.",
            "format": "uri"
          },
          "ext_sub": {
            "maxLength": 255,
            "type": "string",
            "description": "sub value extracted from external validation JWT when amr includes ext_validation."
          },
          "auth_time": {
            "type": "integer",
            "description": "Time when end-user authentication occurred, as NumericDate."
          },
          "signed_data": {
            "type": "array",
            "description": "Array of SignedData when amr includes ext_validation.",
            "items": {
              "$ref": "#/components/schemas/SignedData"
            }
          },
          "phone_number": {
            "type": "string",
            "description": "Obfuscated end user's preferred mobile phone number. The underlying phone number must conform to E.164 format except that the leading '+' is excluded."
          },
          "ext_auth_time": {
            "type": "integer",
            "description": "auth_time value extracted from external validation JWT when amr includes ext_validation."
          },
          "email_verified": {
            "type": "boolean",
            "description": "True if the end user's e-mail address has been verified."
          },
          "src_email_mask": {
            "type": "string",
            "description": "Masked Consumer e-mail address in RFC 5322 format with SRC-specific masking rules."
          },
          "phone_number_verified": {
            "type": "boolean",
            "description": "True if the end user's phone number has been verified.\n"
          },
          "src_phone_number_mask": {
            "type": "string",
            "description": "Masked Consumer mobile phone number using E.164 format with SRC-specific masking rules."
          }
        }
      },
      "DpaTransactionOptions": {
        "type": "object",
        "properties": {
          "dpaLocale": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Merchant’s preferred locale.\nFor example:[“en_US”,“fr_CA”]\nISO language country pair. [ISO 639-1 Code] [ISO 3166-1 alpha-2 country code]\n"
          },
          "acquirerBin": {
            "maxLength": 11,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) Acquirer BIN. Required for the SRC system to facilitate authentication.\n"
          },
          "merchantName": {
            "maxLength": 40,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) Merchant name. Required for the SRC system to facilitate authentication."
          },
          "paymentOptions": {
            "type": "array",
            "description": "(Optional) Payment options(DynamicData preferences) requested by the DPA",
            "items": {
              "$ref": "#/components/schemas/PaymentOptions"
            }
          },
          "customInputData": {
            "$ref": "#/components/schemas/CustomInputData"
          },
          "merchantOrderId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Digital Payment Application generated order/invoice number corresponding to a Consumer purchase"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "acquirerMerchantId": {
            "maxLength": 35,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) Acquirer-assigned Merchant identifier. Required for\nthe SRC system to facilitate authentication.\n"
          },
          "merchantCountryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Optional) Country code of the merchant.\n",
            "format": "ISO 3166-1-alpha2"
          },
          "merchantCategoryCode": {
            "maxLength": 4,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Describes the merchant’s type of business, product or service.\n"
          },
          "consumerNameRequested": {
            "type": "boolean",
            "description": "(Optional) Indicates whether the DPA expects the Consumer name to be returned in the SRC Payload"
          },
          "authenticationPreferences": {
            "$ref": "#/components/schemas/AuthenticationPreferences"
          },
          "dpaAcceptedBillingCountries": {
            "type": "array",
            "description": "(Optional) Billing restrictions. \nArray of country codes in ISO 3166-1 alpha-2 format.\nPayments from all the listed billing countries are accepted \nFor example: [\"US\",\"CA\",\"AU\"] \nAn empty list or the absence of this data element means that all countries are accepted.\n",
            "items": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string"
            }
          },
          "consumerPhoneNumberRequested": {
            "type": "boolean",
            "description": "(Optional) Indicates whether the DPA expects the Consumer phone number to be returned in the SRC Payload."
          },
          "consumerEmailAddressRequested": {
            "type": "boolean",
            "description": "(Optional) Indicates whether the DPA expects the Consumer email address to be returned in the SRC Payload."
          },
          "consumerNationalIdentifierRequested": {
            "type": "boolean",
            "description": "(Optional) Indicates whether the DPA expects the Consumer National Identifier to be returned in the SRC Payload"
          }
        },
        "description": "DPA configuration data, which overrides the configuration on the SRC system that was created during DPA registration.\n"
      },
      "AcceptanceChannelRelatedData": {
        "required": [
          "acceptanceChannelData",
          "acceptanceChannelType"
        ],
        "type": "object",
        "properties": {
          "acceptanceChannelData": {
            "$ref": "#/components/schemas/AcceptanceChannelData"
          },
          "acceptanceChannelType": {
            "type": "string",
            "description": "Acceptance channel type",
            "enum": [
              "EMV_MERCHANT_PRESENTED_MODE"
            ]
          },
          "acceptanceChannelTechnology": {
            "type": "string",
            "description": "Technology used to transmit/receive the acceptance channel data\n",
            "enum": [
              "QR_CODE"
            ]
          }
        },
        "description": "Acceptance channel related data."
      },
      "Email": {
        "maxLength": 255,
        "minLength": 0,
        "type": "string",
        "description": "Email address.",
        "format": "email"
      },
      "Address": {
        "required": [
          "countryCode"
        ],
        "type": "object",
        "properties": {
          "zip": {
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "description": "(Conditional) Address zip or postal code.\nConditionality: \n  When used with the DPA registration operation in the Management Service APIs, at least one of the following is required:\n  • both city and state\n  • zip\nRequired if this is a shipping address in a valid format for the country and has a postal code or zip code.\n"
          },
          "city": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) Address city. \nConditionality: \n  When used with the DPA registration operation in the Management Service APIs, at least one of the following is required:\n  • both city and state\n  • zip\n  Required if this is a shipping address in a valid format for the country.\n"
          },
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) The name of the consumer or entity, if known.\nConditionality: Required when known to the SRC system for this address.\n"
          },
          "line1": {
            "maxLength": 75,
            "minLength": 1,
            "type": "string",
            "description": "(Conditional) Address line 1. \nConditionality: \n  Required when used with the DPA registration operation in the Management Service APIs.\n  Required when the address is used as a shipping or delivery address.\n"
          },
          "line2": {
            "maxLength": 75,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Address line 2."
          },
          "line3": {
            "maxLength": 75,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Address line 3."
          },
          "state": {
            "maxLength": 30,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) Address state.\nRecommendation: Support ISO 3166-2 format, which is made up of the ISO 3166-1 alpha-2 country code followed by an alphanumeric string of 3 characters representing the state or subdivision.\nConditionality: \n  When used with the DPA registration operation in the Management Service APIs, at least one of the following is required:\n  • both city and state\n  • zip\n  Required if this is a shipping address in a valid format for the country.\n"
          },
          "addressId": {
            "maxLength": 36,
            "minLength": 36,
            "type": "string",
            "description": "(Conditional) Reference identifier of the address.\nConditionality: Required when the address is already registered with Visa or the SRC system.\n",
            "format": "uuid"
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Required) Address country code. \nISO 3166-1 alpha-2 country code.\n",
            "format": "ISO 3166-1-alpha2"
          }
        },
        "description": "Address data."
      },
      "DigitalCardFeature": {
        "required": [
          "content",
          "contentType"
        ],
        "type": "object",
        "properties": {
          "style": {
            "maxLength": 1024,
            "minLength": 0,
            "type": "string",
            "description": "URI of a CSS style sheet that describes how to present a digital card feature."
          },
          "width": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string",
            "description": "Width to be applied to the display of a digital card feature image.",
            "format": "number"
          },
          "height": {
            "maxLength": 10,
            "minLength": 0,
            "type": "string",
            "description": "Height to be applied to the display of a digital card feature image.",
            "format": "number"
          },
          "content": {
            "maxLength": 1024,
            "minLength": 1,
            "type": "string",
            "description": "Content of the digital card feature. The value is specific to the contentType."
          },
          "contentType": {
            "type": "string",
            "description": "Type of the content of the digital card feature.",
            "enum": [
              "TEXT_STRING",
              "IMAGE_URL",
              "CONTENT_URL",
              "LINK_URL"
            ]
          }
        },
        "description": "Digital card feature."
      },
      "JwsPayloadResponse": {
        "type": "string",
        "description": "Signed JWS response. After verification and decoding, payload conforms to: #/components/schemas/CheckoutPayloadResponse.\n  \n",
        "format": "jws"
      },
      "PayloadResponse": {},
      "AuthenticationMethod": {
        "type": "object",
        "properties": {
          "uriData": {
            "$ref": "#/components/schemas/UriData"
          },
          "methodAttributes": {
            "$ref": "#/components/schemas/MethodAttributes"
          },
          "authenticationSubject": {
            "type": "string",
            "description": "Authentication subject.",
            "enum": [
              "CARDHOLDER",
              "CONSUMER",
              "CARD"
            ]
          },
          "authenticationMethodType": {
            "type": "string",
            "description": "Authentication method type.",
            "enum": [
              "SRCS_HOSTED_AUTHENTICATION",
              "3DS"
            ]
          },
          "authenticationCredentialReference": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "May be provided by the identity provider once authentication is initiated to qualify the nature of the authentication method. \nFor example, for SMS_OTP, this may include the masked mobile number \"***-***-1234,\" which can be displayed to the consumer to aid method selection.\n"
          }
        },
        "description": "Authentication method."
      },
      "MethodResults": {
        "type": "object",
        "properties": {
          "threeDsData": {
            "$ref": "#/components/schemas/ThreeDsData"
          }
        },
        "description": "Authentication or verification method attributes. \nClients should silently disregard any unrecognized fields in the JSON object.\n"
      },
      "VerificationData": {
        "required": [
          "verificationEntity",
          "verificationMethod",
          "verificationResults",
          "verificationTimestamp",
          "verificationType"
        ],
        "type": "object",
        "properties": {
          "methodResults": {
            "$ref": "#/components/schemas/MethodResults"
          },
          "additionalData": {
            "maxLength": 2048,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Data collected during the verification process."
          },
          "verificationType": {
            "type": "string",
            "description": "(Required) Type of the verification data. \n",
            "enum": [
              "CARDHOLDER",
              "CARD"
            ]
          },
          "verificationEntity": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Required) Entity performing the verification.\n**01** - SRCI  \n**02** - SRC  \n**03** - SRCPI\n",
            "enum": [
              "01",
              "02",
              "03"
            ]
          },
          "verificationEvents": {
            "type": "array",
            "description": "(Optional) Event where the verification occurred.\n  **01** - Payment transaction  \n",
            "items": {
              "maxLength": 2,
              "minLength": 2,
              "type": "string",
              "format": "number",
              "enum": [
                "01"
              ]
            }
          },
          "verificationMethod": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Required) Method of the verification.\nFor veritificationType = CARDHOLDER:\n  **01** - Use of an EMV 3-D Secure ACS \n  **07** - FIDO2 \nFor verificationType = CARD:\n  **02** - Card Verification Number validation\n \n",
            "format": "number",
            "enum": [
              "01",
              "02",
              "07"
            ]
          },
          "verificationResults": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Required) Result of the verification.\n**01** - Verified  \n**02** - Not verified  \n**03** - Not performed  \n**04** - Not required  \n**21** - Not allowed\n",
            "format": "number",
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "21"
            ]
          },
          "verificationTimestamp": {
            "maxLength": 12,
            "minLength": 1,
            "type": "string",
            "description": "(Required) Date and time the verification occurred. UTC time in Unix epoch format.",
            "format": "number"
          }
        }
      },
      "DigitalCardData": {
        "required": [
          "artUri",
          "descriptorName",
          "status"
        ],
        "type": "object",
        "properties": {
          "artUri": {
            "maxLength": 1024,
            "minLength": 0,
            "type": "string",
            "description": "URI that hosts the card art image to be used for presentation purposes."
          },
          "status": {
            "type": "string",
            "description": "Token status.",
            "enum": [
              "ACTIVE",
              "SUSPENDED",
              "PENDING",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "artWidth": {
            "maxLength": 4,
            "minLength": 0,
            "type": "string",
            "description": "Width of the card art in pixels.",
            "format": "number"
          },
          "artHeight": {
            "maxLength": 4,
            "minLength": 0,
            "type": "string",
            "description": "Height of the card art in pixels.",
            "format": "number"
          },
          "pendingEvents": {
            "type": "array",
            "description": "Set of events that are pending completion. \nConditionality: Required when the value of status is set to PENDING.\n",
            "items": {
              "$ref": "#/components/schemas/CardPendingEvent"
            }
          },
          "descriptorName": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Presentation text defined by the SRC program that describes the PAN presented as a digital card."
          },
          "presentationName": {
            "maxLength": 64,
            "minLength": 0,
            "type": "string",
            "description": "Presentation text created by the consumer to enable recognition of the PAN. This value is defined by the consumer, such as a nickname."
          },
          "authenticationMethods": {
            "type": "array",
            "description": "List of available authentication methods. May be provided when the SRC system identifies a need to perform verification.",
            "items": {
              "$ref": "#/components/schemas/AuthenticationMethod"
            }
          }
        },
        "description": "Contains digital card information that is used in the acceptance environment and user interface. Refers to the actual PAN or payment token without disclosing either."
      },
      "ErrorDetail": {
        "type": "object",
        "properties": {
          "reason": {
            "maxLength": 32,
            "minLength": 0,
            "type": "string",
            "description": "Error reason associated with the error detail\n| Reason Code                 | Description                                                                          |\n|---------------------------- |--------------------------------------------------------------------------------------|\n| MISSING_REQUIRED_FIELD      | A required field is missing in the request.                                          |\n| INVALID_IDENTITY_TYPE       | The identity type provided is invalid.                                               |\n| INVALID_EMAIL_FORMAT        | The email address format is invalid.                                                 |\n| INVALID_PHONE_FORMAT        | The phone number format is invalid.                                                  |\n| INVALID_IDENTITY_PROVIDER   | The identity provider is invalid.                                                    |\n| EMPTY_IDENTITY_VALUE        | The identity value is empty.                                                         |\n| MISSING_CONDITIONAL_FIELD   | A field required under certain conditions is missing in the request.                 |\n| CONSUMER_IDENTITY_NOT_FOUND | The specified consumer identity was not found.                                       |\n| SESSION_ID_NOT_FOUND        | The specified session ID was not found.                                              |\n| INVALID_VALIDATION_DATA     | The validation data provided is invalid.                                             |\n| EMPTY_VALIDATION_DATA       | The validation data provided is empty.                                               |\n| INCORRECT_OTP               | The one-time password (OTP) provided is incorrect.                                   |\n| EXPIRED_OTP                 | The one-time password (OTP) provided has expired.                                    |\n| VALIDATION_SESSION_NOT_FOUND | The specified validation session ID was not found.                                  |\n| MAX_ATTEMPTS_EXCEEDED       | The maximum number of validation attempts has been exceeded.                         |\n| VALIDATION_ALREADY_COMPLETED | The identity validation has already been completed for the specified session ID.    |\n| VALIDATION_NOT_INITIATED    | The identity validation has not been initiated for the specified session ID.         |\n| INVALID_JWT_FORMAT          | The format of the provided JWT is invalid.                                           |\n| EMPTY_ARRAY                 | The provided array is empty.                                                         |\n| INVALID_TRANSACTION_AMOUNT  | The transaction amount provided is invalid.                                          |\n| INVALID_CURRENCY_CODE       | The currency code provided is invalid.                                               |\n| SRC_PROFILE_NOT_FOUND       | The specified SRC profile was not found.                                             |\n| INVALID_PAYLOAD_TYPE        | The payload type provided is invalid.                                                |\n| INVALID_COUNTRY_CODE        | The country code provided is invalid.                                                |\n| INVALID_BILLING_ADDRESS     | The billing address provided is invalid.                                             |\n| DIGITAL_CARD_NOT_FOUND      | The specified digital card was not found.                                            |\n| DPA_NOT_FOUND               | The specified DPA was not found.                                                     |\n| CORRELATION_ID_NOT_FOUND    | The specified correlation ID was not found.                                          |\n|--------------------------------------------------------------------------------------------------------------------|\n"
          },
          "source": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Name of the source that generated this error."
          },
          "message": {
            "maxLength": 32,
            "minLength": 0,
            "type": "string",
            "description": "Error message."
          },
          "sourceType": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Type of the source that generated this error."
          }
        }
      },
      "Consumer": {
        "required": [
          "consumerIdentity"
        ],
        "type": "object",
        "properties": {
          "fullName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Consumer-provided full name."
          },
          "lastName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Consumer-provided last name."
          },
          "firstName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) Consumer-provided first name."
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Required) Consumer-provided country code. ISO 3166-1 alpha-2 country code.",
            "format": "ISO 3166-1-alpha2"
          },
          "emailAddress": {
            "$ref": "#/components/schemas/Email"
          },
          "languageCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Required) Consumer-provided language choice. ISO 639-1 code."
          },
          "mobileNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "consumerIdentity": {
            "$ref": "#/components/schemas/ConsumerIdentity"
          },
          "nationalIdentifier": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Conditional: Geographic-specific, nationally provided identifier for the consumer.\nConditionality: When required as per country-specific regulations.\n"
          }
        },
        "description": "Consumer data."
      },
      "DeviceData": {
        "type": "object",
        "properties": {
          "type": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Type of device being used.\nExample values:\n• Mobile phone\n• Tablet\n• Laptop\n• Personal assistant\n• Connected auto\n• Home appliance\n• Wearable\n• Stationary computer\n• E-reader\n• Handheld gaming devices\n• Other\n"
          },
          "brand": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Brand name of the device."
          },
          "model": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Specific model of the device."
          },
          "manufacturer": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Manufacturer of the device."
          }
        },
        "description": "Device data."
      },
      "DeliveryContactDetails": {
        "type": "object",
        "properties": {
          "instructions": {
            "maxLength": 1024,
            "minLength": 0,
            "type": "string",
            "description": "Consumer-provided delivery instructions."
          },
          "contactFullName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Consumer-provided name of the contact person."
          },
          "contactPhoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "contactEmailAddress": {
            "$ref": "#/components/schemas/Email"
          }
        },
        "description": "Delivery contact details associated with a shipping address."
      },
      "CheckoutPayloadResponse": {
        "required": [
          "srcCorrelationId"
        ],
        "type": "object",
        "properties": {
          "maskedCard": {
            "$ref": "#/components/schemas/MaskedCard"
          },
          "assuranceData": {
            "$ref": "#/components/schemas/AssuranceData"
          },
          "maskedConsumer": {
            "$ref": "#/components/schemas/MaskedConsumer"
          },
          "customOutputData": {
            "$ref": "#/components/schemas/JSONObject"
          },
          "encryptedPayload": {
            "pattern": "^([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_=]+)\\.([a-zA-Z0-9_\\-\\+\\/=]+)$",
            "type": "string",
            "description": "JWE<Payload> - SRC payload (as defined in the payload schema) encrypted for the specific recipient (without signing).\n\nTo use this field:\n1. Decrypt the JWE using the recipient's private key according to RFC 7516.\n2. Parse the resulting JSON as a payload object (see payload schema).\n\nThe decrypted payload will contain card or token data, shipping address, billing address, and other consumer information\nbased on the payloadTypeIndicator value.\n\nConditionality: Either encryptedSignedPayload or encryptedPayload must be present in the response.\nSee: #/components/schemas/Payload\n",
            "format": "application/jwt",
            "x-jwe-encryption": {
              "algorithm": "RSA-OAEP",
              "encryption": "A256GCM"
            }
          },
          "srcCorrelationId": {
            "maxLength": 256,
            "minLength": 0,
            "type": "string",
            "description": "Unique identifier generated by an SRC system.\nConditionality:\n• Required for the checkout.\n• Required if received in the request.\n"
          },
          "srciTransactionId": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "A unique transaction ID provided by the SRCi, which may be created on the merchant page. It must be passed through to all\nnetworks (SRC systems) and DCFs.\nConditionality: Required when received in the request\n"
          }
        },
        "description": "Checkout payload response containing transaction details and payment information.\n"
      },
      "IdentityValidationChannel": {
        "required": [
          "identityType",
          "validationChannelId"
        ],
        "type": "object",
        "properties": {
          "identityType": {
            "type": "string",
            "description": "Type of the identity validation channel (for example, email or SMS).",
            "enum": [
              "EMAIL_ADDRESS",
              "MOBILE_PHONE_NUMBER"
            ]
          },
          "identityProvider": {
            "type": "string",
            "description": "Entity or organization that can validate the identity.",
            "enum": [
              "SRC",
              "SRCI"
            ]
          },
          "validationChannelId": {
            "type": "string",
            "description": "Reference identifier of the validation channel."
          },
          "maskedValidationChannel": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Masked identity validation channel (for example, masked email or masked mobile number)."
          }
        },
        "description": "Identity validation channel."
      },
      "DynamicData": {
        "type": "object",
        "properties": {
          "dynamicDataType": {
            "$ref": "#/components/schemas/DynamicDataType"
          },
          "dynamicDataValue": {
            "maxLength": 2048,
            "minLength": 0,
            "type": "string",
            "description": "Value of the dynamic data.\nConditionality: Required when the value of dynamicDataType is not set to NONE.\n"
          },
          "dynamicDataExpiration": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "UTC time in Unix epoch format. Date and time when the dynamic data expires.",
            "format": "number"
          }
        },
        "description": "Dynamic data generated using the dynamicDataType preference indicated in paymentOptions."
      },
      "AppInstance": {
        "type": "object",
        "properties": {
          "userAgent": {
            "maxLength": 2048,
            "minLength": 0,
            "type": "string",
            "description": "User agent string of the connecting client application.\nConditionality:\n• Required for browsers\n• Optional for non-browsers\n"
          },
          "deviceData": {
            "$ref": "#/components/schemas/DeviceData"
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code. The country where the consumer is accessing the service.",
            "format": "ISO 3166-1-alpha2"
          },
          "applicationName": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "description": "Name of the connecting client application."
          }
        },
        "description": "Set of verification data structures relating to different types of assurance."
      },
      "MaskedAddress": {
        "required": [
          "addressId"
        ],
        "type": "object",
        "properties": {
          "zip": {
            "maxLength": 16,
            "minLength": 0,
            "type": "string",
            "description": "Address zip or postal code.\nConditionality: When used with the DPA registration operation in the Management Service APIs, at least one of the following is required:\n• both city and state\n• zip\n"
          },
          "city": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Address city. \nConditionality: When used with the DPA registration operation in the Management Service APIs, \nat least one of the following is required:\n• both city and state\n• zip\n"
          },
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "The name of the consumer."
          },
          "line1": {
            "maxLength": 75,
            "minLength": 0,
            "type": "string",
            "description": "Address line 1.\n"
          },
          "line2": {
            "maxLength": 75,
            "minLength": 0,
            "type": "string",
            "description": "Address line 2."
          },
          "line3": {
            "maxLength": 75,
            "minLength": 0,
            "type": "string",
            "description": "Address line 3."
          },
          "state": {
            "maxLength": 30,
            "minLength": 0,
            "type": "string",
            "description": "Address state.\nRecommendation: Support ISO 3166-2 format, which is made up of the ISO 3166-1 alpha-2 country code followed by an alphanumeric string of 3 characters representing the state or subdivision.\nConditionality: When used with the DPA registration operation in the Management Service APIs, at least one of the following is required:\n• both city and state\n• zip\n"
          },
          "addressId": {
            "maxLength": 36,
            "minLength": 1,
            "type": "string",
            "description": "Reference identifier of the address.",
            "format": "uuid"
          },
          "createTime": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "Date and time the address was created. UTC time in Unix epoch format.",
            "format": "number"
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Address country code. \nISO 3166-1 alpha-2 country code.\nConditionality: Required when used with the DPA registration operation in the Management Service APIs.\n",
            "format": "ISO 3166-1-alpha2"
          },
          "lastUsedTime": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "Date and time the address was last used. UTC time in Unix epoch format.",
            "format": "number"
          }
        },
        "description": "Masked address."
      },
      "Dcf": {
        "type": "object",
        "properties": {
          "uri": {
            "maxLength": 1024,
            "minLength": 0,
            "type": "string",
            "description": "DCF URI as provided by the DCF."
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string",
            "description": "Legal name of the DCF onboarded to the SRC system."
          },
          "logoUri": {
            "maxLength": 1024,
            "minLength": 0,
            "type": "string",
            "description": "Logo image URI provided by the DCF to support presentation."
          },
          "applicationType": {
            "type": "string",
            "enum": [
              "IOT_DEVICE",
              "MOBILE_APP",
              "WEB_BROWSER",
              "OTHER"
            ]
          }
        },
        "description": "Digital card features."
      },
      "RecurringIndicators": {
        "type": "object",
        "properties": {
          "amountInd": {
            "type": "string",
            "description": "Constraints: \n  Amount Indicator \n    Values accepted:\n    • 01 = Fixed Purchase Amount\n    • 02 = Variable Purchase Amount \n",
            "enum": [
              "1",
              "2"
            ]
          },
          "frequencyInd": {
            "type": "string",
            "description": "Constraints: \n  Frequency Indicator \n    Field Name: frequencyInd\n    Values accepted:\n    • 01 = Fixed Frequency\n    • 02 = Variable or Unknown Frequency\n",
            "enum": [
              "1",
              "2"
            ]
          }
        }
      },
      "PaymentOptions": {
        "type": "object",
        "properties": {
          "dynamicDataType": {
            "$ref": "#/components/schemas/DynamicDataType"
          }
        },
        "description": "Payment options."
      },
      "Card": {
        "required": [
          "primaryAccountNumber"
        ],
        "type": "object",
        "properties": {
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "cardSecurityCode": {
            "maxLength": 4,
            "minLength": 3,
            "type": "string",
            "description": "(Conditional) The card security code (CVV2) value associated with the account number on the card, if available. \nConditionality: Required for those cards that have a card security code.\n"
          },
          "panExpirationYear": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "(Conditional) The account number expiration year.\nConditionality: Required when printed on the card.\n"
          },
          "cardholderFullName": {
            "maxLength": 100,
            "type": "string",
            "description": "(Conditional) Cardholder full name.\nConditionality: Required if the billingAddress name field or the cardholderFirstName and cardholderLastName are not passed.\n"
          },
          "cardholderLastName": {
            "maxLength": 50,
            "type": "string",
            "description": "(Optional) Cardholder last name."
          },
          "customerServiceUri": {
            "maxLength": 1024,
            "type": "string",
            "description": "(Optional) Customer service URI."
          },
          "panExpirationMonth": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "(Conditional) The account number expiration month.\nConditionality: Required when printed on the card.\n"
          },
          "cardholderFirstName": {
            "maxLength": 50,
            "type": "string",
            "description": "(Optional) Cardholder first name."
          },
          "primaryAccountNumber": {
            "maxLength": 19,
            "minLength": 9,
            "type": "string",
            "description": "(Required) Primary account number. \nAn ISO/IEC 7812-compliant account number, within account ranges associated with a BIN by a card issuer.\n",
            "format": "integer"
          },
          "paymentAccountReference": {
            "maxLength": 29,
            "minLength": 0,
            "type": "string",
            "description": "(Optional) A non-financial reference assigned to each unique PAN and used to link a payment account represented by that PAN to affiliated payment tokens.\n"
          },
          "customerServicePhoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "customerServiceEmailAddress": {
            "maxLength": 255,
            "type": "string",
            "description": "(Optional) Customer service email address."
          }
        },
        "description": "Payment account information."
      },
      "JSONObject": {
        "type": "object",
        "additionalProperties": true,
        "description": "Represents a free-form JSON object data structure."
      },
      "SRCProfile": {
        "required": [
          "authorization"
        ],
        "type": "object",
        "properties": {
          "maskedCards": {
            "type": "array",
            "description": "Masked cards associated with the SRC Profile",
            "items": {
              "$ref": "#/components/schemas/MaskedCard"
            }
          },
          "authorization": {
            "maxLength": 4096,
            "minLength": 0,
            "type": "string",
            "description": "Must be provided if no authorization was provided in the request."
          },
          "maskedConsumer": {
            "$ref": "#/components/schemas/MaskedConsumer"
          }
        },
        "description": "SRC Profile"
      },
      "MaskedConsumer": {
        "required": [
          "dateConsumerAdded",
          "maskedConsumerIdentity",
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the consumer within the SRC system.",
            "enum": [
              "ACTIVE",
              "SUSPENDED",
              "LOCKED"
            ]
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Consumer-provided country code. ISO 3166-1 alpha-2 country code.",
            "format": "ISO 3166-1-alpha2"
          },
          "languageCode": {
            "maxLength": 2,
            "minLength": 0,
            "type": "string",
            "description": "Consumer-provided language choice. ISO 639-1 code."
          },
          "srcConsumerId": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string",
            "description": "Reference identifier generated by the SRC system.",
            "format": "uuid"
          },
          "maskedFullName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Masked consumer-provided full name."
          },
          "maskedLastName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Masked consumer-provided last name."
          },
          "maskedFirstName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Masked consumer-provided first name."
          },
          "dateConsumerAdded": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "Date the consumer was added to the SRC system.",
            "format": "number"
          },
          "complianceSettings": {
            "$ref": "#/components/schemas/ComplianceSettings"
          },
          "maskedEmailAddress": {
            "$ref": "#/components/schemas/Email"
          },
          "maskedMobileNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "dateConsumerLastUsed": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "Date the consumer last transacted, as determined by the SRC system.",
            "format": "number"
          },
          "maskedConsumerIdentity": {
            "$ref": "#/components/schemas/MaskedConsumerIdentity"
          },
          "maskedNationalIdentifier": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Masked consumer national identifier."
          }
        },
        "description": "Consumer data."
      },
      "RecurringData": {
        "type": "object",
        "properties": {
          "recurringInd": {
            "$ref": "#/components/schemas/RecurringIndicators"
          },
          "recurringDate": {
            "maxLength": 8,
            "minLength": 0,
            "type": "string",
            "description": "Effective date of the new authorised amount following the first / promotional payment in a recurring or instalment transaction, expressed in YYYYMMDD format\nConditionality: Required when recurringInd.frequencyInd = 01\n",
            "format": "number"
          },
          "recurringAmount": {
            "maxLength": 48,
            "minLength": 0,
            "type": "string",
            "description": "Recurring amount in minor units of currency with all punctuation removed. For example, when the purchase amount is USD123.45, the following values are acceptable:\n• “12345”\n• “012345”\n• “0012345”\nConditionality: Required when recurringInd.AmountInd = 01\n",
            "format": "double"
          },
          "recurringExpiry": {
            "maxLength": 8,
            "minLength": 0,
            "type": "string",
            "description": "Date after which no further authorisations are performed, expressed in YYYYMMDD format\nConditionality Required when there is an end date\n",
            "format": "number"
          },
          "recurringCurrency": {
            "maxLength": 3,
            "minLength": 0,
            "type": "string",
            "description": "Currency in which recurringAmount is expressed.\nConditionality: Required when recurringAmount is present.\nISO 4217 three - digit currency code\n",
            "format": "number"
          },
          "recurringExponent": {
            "maxLength": 1,
            "minLength": 0,
            "type": "string",
            "description": "Minor units of currency as specified in the ISO 4217 currency exponent \nFor example: USD = 2, JPY = 0\n",
            "format": "number"
          },
          "recurringFrequency": {
            "maxLength": 4,
            "minLength": 0,
            "type": "string",
            "description": "Indicates the minimum number of days between authorisations for a recurring or instalment transaction from 1 to 9999 inclusive\nConditionality: Required when recurringInd.frequencyInd = 01\n",
            "format": "number"
          }
        },
        "description": "The data specific to a recurring transaction"
      },
      "Payload": {
        "type": "object",
        "properties": {
          "token": {
            "$ref": "#/components/schemas/PaymentToken"
          },
          "dynamicData": {
            "type": "array",
            "description": "Dynamic data generated using the dynamicDataType preference indicated in paymentOptions.",
            "items": {
              "$ref": "#/components/schemas/DynamicData"
            }
          },
          "billingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "consumerFullName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Consumer-provided full name.\nConditionality: Required when:\n• The value of the relevant data element of type PayloadTypeIndicator is set to FULL or NON_PAYMENT, and\n• A consumer name is available in the SRC profile, and\n• A consumer name was requested (consumerNameRequested set to true).\n"
          },
          "consumerLastName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Consumer-provided last name.\nConditionality: Required when:\n• The value of the relevant data element of type PayloadTypeIndicator is set to FULL or NON_PAYMENT, and\n• A consumer last name is available in the SRC profile, and\n• A consumer name was requested (consumerNameRequested set to true).\n"
          },
          "consumerFirstName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Consumer-provided first name.\nConditionality: Required when:\n• The value of the relevant data element of type PayloadTypeIndicator is set to FULL or NON_PAYMENT, and\n• A consumer first name is available in the SRC profile, and\n• A consumer name was requested (consumerNameRequested set to true).\n"
          },
          "consumerEmailAddress": {
            "$ref": "#/components/schemas/Email"
          },
          "consumerMobileNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "consumerNationalIdentifier": {
            "maxLength": 20,
            "minLength": 0,
            "type": "string",
            "description": "Consumer national identifier as available in the SRC profile."
          }
        },
        "description": "The payload contains either a card or a token field, but never both, as they are mutually exclusive.\n"
      },
      "MaskedCard": {
        "required": [
          "dateOfCardCreated",
          "digitalCardData",
          "panBin",
          "panLastFour"
        ],
        "type": "object",
        "properties": {
          "panBin": {
            "maxLength": 9,
            "minLength": 0,
            "type": "string",
            "description": "First significant digits of the PAN in unmasked form. Maximum length = PAN length - 10.",
            "format": "number"
          },
          "tokenId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Reference identifier for the payment token representing the PAN.\n"
          },
          "serviceId": {
            "description": "Service identifier associated with the SRC digital card.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceId"
              }
            ]
          },
          "cofEligible": {
            "type": "boolean",
            "description": "Indicates that the card is eligible for the merchant digital card-on-file use case."
          },
          "countryCode": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code. Country code of issuance associated with the card issuer’s BIN license.",
            "format": "ISO 3166-1-alpha2"
          },
          "panLastFour": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "Last four digits of the PAN in unmasked form.",
            "format": "number"
          },
          "tokenBinRange": {
            "maxLength": 9,
            "minLength": 0,
            "type": "string",
            "description": "Specific BIN range or subset of the BIN range designated only for issuing payment tokens in unmasked form.\nConditionality: Required when a payment token is used.\nMaximum length = payment token length - 10.\n",
            "format": "number"
          },
          "tokenLastFour": {
            "maxLength": 4,
            "minLength": 0,
            "type": "string",
            "description": "Last four digits of the payment token in unmasked form.\nConditionality: Required when a payment token is used.\n",
            "format": "number"
          },
          "digitalCardData": {
            "$ref": "#/components/schemas/DigitalCardData"
          },
          "paymentCardType": {
            "maxLength": 32,
            "minLength": 0,
            "type": "string",
            "description": "Conveys the card type."
          },
          "srcDigitalCardId": {
            "$ref": "#/components/schemas/SrcDigitalCardId"
          },
          "srcPaymentCardId": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string",
            "description": "(Conditional) Reference identifier for the PAN that enables the SRC system to communicate with the SRCPI without transmitting the actual PAN. \nIt is associated with the SRC profile to which the payment card belongs and is unique within an SRC system.\nConditionality: Required when returned to the SRCPI.\n",
            "format": "uuid"
          },
          "dateOfCardCreated": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "UTC time in Unix epoch format. Date when the card was enrolled into the SRC system.",
            "format": "number"
          },
          "panExpirationYear": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "Expiration year expressed as a four-digit calendar year (YYYY) for presentation purposes.\nConditionality: Required when specified for the card (PAN).\n"
          },
          "complianceSettings": {
            "$ref": "#/components/schemas/ComplianceSettings"
          },
          "dateOfCardLastUsed": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string",
            "description": "UTC time in Unix epoch format. Date when the card was last used for an SRC transaction.",
            "format": "number"
          },
          "panExpirationMonth": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Expiration month expressed as a two-digit month (MM) for presentation purposes.\nConditionality: Required when specified for the card (PAN).\n"
          },
          "digitalCardFeatures": {
            "type": "array",
            "description": "Attributes related to the digital card features that should be displayed to the consumer.",
            "items": {
              "$ref": "#/components/schemas/DigitalCardFeature"
            }
          },
          "maskedBillingAddress": {
            "$ref": "#/components/schemas/MaskedAddress"
          },
          "paymentCardDescriptor": {
            "maxLength": 32,
            "minLength": 0,
            "type": "string",
            "description": "A free-form string used for card brand or program recognition (also known as card short description). Example 'Visa Travel Rewards'"
          },
          "enrollmentReferenceData": {
            "$ref": "#/components/schemas/EnrollmentReferenceData"
          },
          "paymentAccountReference": {
            "maxLength": 29,
            "minLength": 0,
            "type": "string",
            "description": "PAR - A non-financial reference assigned to each unique PAN.\nUsed to link a payment account represented by that PAN to affiliated payment tokens.\n"
          },
          "maskedCardholderFullName": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "Masked cardholder name."
          },
          "maskedCardholderLastName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Masked cardholder last name."
          },
          "maskedCardholderFirstName": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "Masked cardholder first name."
          }
        },
        "description": "Masked card."
      },
      "PaymentToken": {
        "required": [
          "paymentToken"
        ],
        "type": "object",
        "properties": {
          "paymentToken": {
            "maxLength": 19,
            "minLength": 12,
            "type": "string",
            "description": "ISO/IEC 7812 format payment token."
          },
          "tokenExpirationYear": {
            "maxLength": 4,
            "minLength": 4,
            "type": "string",
            "description": "Expiration year expressed as a four-digit calendar year (YYYY).\nConditionality: Required when specified for the payment token.\n",
            "format": "number"
          },
          "tokenExpirationMonth": {
            "maxLength": 2,
            "minLength": 2,
            "type": "string",
            "description": "Expiration month expressed as a two-digit month (MM).\nConditionality: Required when specified for the payment token.\n",
            "format": "number"
          },
          "paymentAccountReference": {
            "maxLength": 29,
            "minLength": 0,
            "type": "string",
            "description": "A non-financial reference assigned to each unique PAN, used to link a payment account represented by that PAN to affiliated payment tokens."
          }
        }
      },
      "MethodAttributes": {
        "type": "object",
        "properties": {
          "windowType": {
            "type": "string",
            "description": "(Optional) Preferred window type for the authentication method.",
            "enum": [
              "POP_UP"
            ]
          },
          "challengeIndicator": {
            "type": "string",
[...]
