{
  "openapi": "3.1.0",
  "info": {
    "title": "DPS Card and Account Services",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Card Activation",
      "description": "Service(s) designed to support functions related to card activation."
    },
    {
      "name": "Card CVV2 ",
      "description": "Service(s) designed to support functions related to CVV2."
    },
    {
      "name": "Card Inquiry ",
      "description": "Service(s) designed to support functions related to card inquiry."
    },
    {
      "name": "Card PIN Management",
      "description": "Service(s) designed to support functions related to card PIN."
    },
    {
      "name": "Card Services",
      "description": "Manage cardholder’s card and account information, notification settings, and balance information."
    },
    {
      "name": "Card Transactions",
      "description": "Service(s) designed to support functions related to card transactions."
    },
    {
      "name": "Cardholder Verification",
      "description": "Service(s) designed to support functions related to cardholder verification."
    },
    {
      "name": "Program Services",
      "description": "The wire confirmation report, made available prior to the wire draw-down request or wire transfer, provides the net totals used to determine your wire transfer total."
    }
  ],
  "paths": {
    "/dcas/cardservices/v2/cards/{card-id}/pin": {
      "put": {
        "tags": [
          "Card PIN Management"
        ],
        "summary": "Change PIN",
        "description": "This service updates a personal identification number (PIN) for a card. This service requires both the current PIN and new cardholder-selected PIN in the message request. If the current PIN does not pass validation, the new PIN value will not be updated. <br><br> The PIN fail count is a program configuration that establishes the maximum number of bad PIN transaction attempts for a card. If the maximum PIN fail count for the card has been met, the PIN fail count must be reset on the card record before a PIN can be updated with this API. <br><br> As part of this API service, bad attempts to update a PIN for a card will also contribute to the PIN fail counter. As long as requests are valid, there is no limit to the number of times a PIN can be updated. The card record allows maintenance regardless of card status or expiration. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested. <br><br> Message Level Encryption (MLE) is required for this service.<br><br><b>For BIN(s) configured with multiple PIN keys, expiration date is required. The API does not validate the expiration date, it uses the date to identify the PIN key used for calculation.</b>",
        "operationId": "changePinUsingPUT_2",
        "parameters": [
          {
            "name": "card-id",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "pinChangeRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinChangeRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "oldPin": "45854",
                    "newPin": "12346",
                    "expirationDate": {
                      "mm": "09",
                      "yy": "23"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfPinChangeResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2020-06-22 20:14:18.128",
                      "resource": {
                        "responseMessage": "SUCCESS"
                      },
                      "correlation-id": "2b76c15e-6d85-47c3-9beb-d6137b19f374",
                      "processingTimeinMS": 16058
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "pinChangeRequest",
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{card-id}~1pin/put",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "post": {
        "tags": [
          "Card PIN Management"
        ],
        "summary": "Set PIN",
        "description": "service creates a cardholder-selected personal identification number (PIN) for a card that is currently set to the natural PIN (for example, no customer-selected PIN exists). The customer-selected PIN will replace the natural PIN. <br><br> The PIN value passed through this API is the cardholder-selected value. The card record allows maintenance regardless of card status or expiration. <br><br> The PIN fail count is a program configuration that establishes the maximum number of bad PIN transaction attempts for a card. Successfully creating a card PIN with this service does not reset the PIN fail count. If the maximum PIN fail count for the card has been met, the PIN fail count must be reset on the card record before a cardholder-selected PIN can be established with this API. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested. <br><br> Message Level Encryption (MLE) is required for this service. <br><br><b>For BIN(s) configured with multiple PIN keys, expiration date is required. The API does not validate the expiration date, it uses the date to identify the PIN key used for calculation.</b>",
        "operationId": "createPinUsingPOST_2",
        "parameters": [
          {
            "name": "card-id",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "pinCreateRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinCreateRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "pin": "12346",
                    "expirationDate": {
                      "mm": "09",
                      "yy": "23"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfPinCreateResponse-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2020-06-22 20:13:18.128",
                      "resource": {
                        "responseMessage": "PINCREATED"
                      },
                      "correlation-id": "2b76c15e-6d85-47c3-9beb-d6137b19f373",
                      "processingTimeinMS": 16057
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "pinCreateRequest",
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{card-id}~1pin/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v2/cards/{card-id}/pin/settings": {
      "get": {
        "tags": [
          "Card PIN Management"
        ],
        "summary": "Retrieve PIN Settings",
        "description": "This service allows a user interface to inquire on the card and card program regarding PIN service availability and card PIN status. The API returns two key pieces of information: <br><br> • Is PIN management supported on the card program <br><br> • Is PIN currently set for the card <br><br> If PIN management is supported and no PIN is set for the card, then a client will use the Create PIN API to set a cardholder-selected PIN. <br><br> If PIN is currently set for this card, then a client will use Update PIN API. Update PIN requires existing PIN to set a new value. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "Retrieve PIN Settings",
        "parameters": [
          {
            "name": "card-id",
            "in": "path",
            "description": "card-id",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfPinSettingsResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2020-06-22 20:15:18.128",
                      "resource": {
                        "pinExistsOnCard": true,
                        "isPinManagementSupported": true
                      },
                      "correlation-id": "2b76c15e-6d85-47c3-9beb-d6137b19f375",
                      "processingTimeinMS": 16059
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{card-id}~1pin~1settings/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v2/cards": {
      "post": {
        "tags": [
          "Card Services"
        ],
        "summary": "Create Card ID for a PAN V2",
        "description": "This service creates a unique card ID for a Primary Account Number (PAN). It supports both DPS Debit and Prepaid clients. <br><br>For each card that is serviced, establishing the card ID is the first step. Subsequent API service requests primarily use the card ID in the message as the card reference value. The integrating system would either store or dynamically retrieve the card ID as needed. Exceptions to this may be inquiries using other reference values. <br><br>When a card is replaced, a new card ID must be requested for the new PAN. For PCI considerations, card numbers are masked in the response unless configured otherwise. <br><br>Considerations: <br><br>When creating a new card ID, Visa recommends allowing time for data synchronization between this API response and subsequent API requests.",
        "operationId": "Create Card ID for a PAN V2",
        "requestBody": {
          "description": "cardIdRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardIdRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "primaryAccountNumber": "41447732xx813351"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfCreateCardIdResource"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2020-12-31T16:51:29.426Z",
                      "resource": {
                        "cardId": "7037a4e1-ec71-499f-ba1f-e8555a046195"
                      },
                      "processingTimeinMs": 19222
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "cardIdRequest",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards/post",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v2/cards/{cardId}/cardstatus": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve Card Status - Debit",
        "description": "This service retrieves card status for a given card ID associated to a card number. It supports DPS Debit clients and provides real-time card and activation status information on demand. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "retrieveCardStatusForDebitUsingGET",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfGetCardStatusDebitResponse-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2021-02-19T17:37:40.493Z",
                      "resource": {
                        "activationStatus": "ACTIVATED",
                        "status": ""
                      },
                      "processingTimeinMs": 841
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-hideTryIt": true
      },
      "put": {
        "tags": [
          "Card Services"
        ],
        "summary": "Update Card Status",
        "description": "This service updates card status for a given card ID associated to a card number. It supports both DPS Debit and Prepaid clients and updates the card record in real-time. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "updateCardStatusUsingPUT",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "updateCardStatusRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardStatusRequest-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "status": "76-DO_NOT_HONOUR"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfUpdateCardStatusResponse-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2021-02-19T17:43:42.969Z",
                      "resource": {},
                      "processingTimeinMs": 856
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "updateCardStatusRequest",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards~1{cardId}~1cardstatus/put",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{cardId}~1cardstatus/put",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards/{cardId}/cardstatus": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve Card Status",
        "description": "Get the card status for a given cardId",
        "operationId": "Retrieve Card Status",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "CardId unique Indentifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CardStatusResponse": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "description": "Provides one or more short descriptions in the event of errors.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "resource": {
                          "type": "object",
                          "properties": {
                            "cardStatus": {
                              "type": "string",
                              "enum": [
                                "NotApplicable",
                                "Active",
                                "PendingCardIssuance",
                                "CardIssued",
                                "Suspended",
                                "AdministrativeSuspended",
                                "LostCard",
                                "StolenCard",
                                "ExpiredCard",
                                "PendingAccountClosure",
                                "Closed",
                                "ClosedForFraud",
                                "ReturnedUndeliverable",
                                "ResearchRequired",
                                "Voided",
                                "Damaged",
                                "Stale",
                                "PendingDestruction",
                                "Destroyed",
                                "ClosedDueToUpgrade",
                                "ClosedForEscheatment",
                                "ClosedForDeceased",
                                "OK",
                                "DO_NOT_HONOR",
                                "LOST_STOLEN",
                                "FRAUD_SUSPECTED",
                                "RESTRICTED",
                                "BAD_DEBT",
                                "CLOSED_ACCOUNT"
                              ]
                            }
                          },
                          "description": "The response data computed from processing the request. Will not be present in the event of an error."
                        },
                        "receivedTimestamp": {
                          "type": "string",
                          "description": "The time the request was received. Value is in GMT."
                        },
                        "processingTimeInMs": {
                          "type": "integer",
                          "description": "The time, in milliseconds, taken to process the request.",
                          "format": "int32"
                        }
                      },
                      "description": "Response Object"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-15 17:34:14.911",
                      "resource": {
                        "cardStatus": 0
                      },
                      "processingTimeInMs": 18,
                      "errors": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid",
            "content": {}
          },
          "404": {
            "description": "The account could not be found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards~1{cardId}~1cardstatus/get",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{cardId}~1cardstatus/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "put": {
        "tags": [
          "Card Services"
        ],
        "summary": "Update Card Status",
        "description": "Update Card Status for a a given card ID.",
        "operationId": "Update Card Status",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Card alias Id unique Indentifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Key Value for updating card status",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cardStatus": {
                    "type": "string",
                    "description": "The card status key and description.Requried for prepaid cards, not required for debit cards."
                  }
                }
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "cardStatus": "Active"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "EmptyResponse": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "description": "Provides one or more short descriptions in the event of errors.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "resource": {
                          "type": "object",
                          "properties": {},
                          "description": "The response data computed from processing the request. Will not be present in the event of an error."
                        },
                        "receivedTimestamp": {
                          "type": "string",
                          "description": "The time the request was received. Value is in GMT."
                        },
                        "processingTimeInMs": {
                          "type": "integer",
                          "description": "The time, in milliseconds, taken to process the request.",
                          "format": "int32"
                        }
                      },
                      "description": "Response Object"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-15 17:59:05.719",
                      "processingTimeInMs": 79,
                      "errors": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid",
            "content": {}
          },
          "404": {
            "description": "The account could not be found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "cardStatusRequest",
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v2/cards/{cardId}/cardactivation": {
      "post": {
        "tags": [
          "Card Services"
        ],
        "summary": "Activate Card with Verification",
        "description": "This service activates a card for a given Card ID, which is associated to a unique Primary Account Number (PAN). The service supports cardholder token verification as part of the card activation request. By default, at least one token is required in the request. If multiple tokens are provided, all tokens must pass validation prior to activation. If any token fails, activation will not be successful and a generic token failure message will be provided in the response. <br><br>For card replacements, a new Card ID must be requested for the new PAN. <br><br>This API was designed with considerations for self-service channels such as Voice Response Unit (VRU) automation, combining the token pass/ fail logic in addition to the basic function of activating a card. Other user interfaces such as websites, mobile applications, or enterprise administrative systems would also be able to take advantage of this service.<br><br>This version of the endpoint will be deprecated on July 31, 2025. Please leverage the most current version.",
        "operationId": "Activate Card with Verification",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "At least one verification token is required in the request. If multiple tokens are provided, all tokens must pass validation prior to activation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardActivationReq-1"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "birthDateMmDdYyyy": "01011960",
                    "phoneNumber": "3033891234",
                    "socialSecurityNumberInfo": {
                      "socialSecurityNumber": "123456789",
                      "last4socialSecurityNumber": "6789"
                    },
                    "driversLicenseInfo": {
                      "driversLicenseNumber": "999954317",
                      "countryCode": "USA",
                      "stateCode": "CO"
                    },
                    "cardsInfo": {
                      "cvv2": "938",
                      "expirationDate": {
                        "mm": "12",
                        "yy": "20"
                      }
                    },
                    "mothersMaidenName": "MOM"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfCardActivationRsp-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2020-10-27T05:11:25.362Z",
                      "resource": {
                        "isCardActivationSuccessful": true
                      },
                      "processingTimeinMs": 8295
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "cardActivationReq",
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards~1{cardId}~1cardactivation/post",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{cardId}~1cardactivation/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards": {
      "post": {
        "tags": [
          "Card Services"
        ],
        "summary": "Create Card ID for a PAN",
        "description": "Creates a unique card Id for a Primary Account Number (PAN) and creates an account alias ID for accounts tied to the PAN. Retrieves balance information for all the accounts.",
        "operationId": "Create Card ID for a PAN",
        "requestBody": {
          "description": "An array containing PANs, expiration Dates and show balances flags",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardIdModelList"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "cardIdModel": [
                      {
                        "lookUpBalances": true,
                        "pan": "4883836336860016"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardAliasResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-15 17:27:55.690",
                      "resource": {
                        "cards": [
                          {
                            "cardId": "8d212293-c6bc-4738-afaf-bc0ae5456df5",
                            "accounts": [
                              {
                                "balances": {
                                  "ledger": {
                                    "amount": 6313.07,
                                    "currencyCode": "840"
                                  },
                                  "amountDue": null,
                                  "amountOwing": null,
                                  "availableCredit": null,
                                  "creditLine": null,
                                  "available": {
                                    "amount": 6313.07,
                                    "currencyCode": "840"
                                  }
                                },
                                "isFunding": false,
                                "accountIndicatorDescription": null,
                                "accountIndicatorCode": null,
                                "accountTypeDescription": null,
                                "institutionId": null,
                                "accountTypeCode": "Prepaid",
                                "accountOpenedDate": "2001-01-01T00:00:00Z",
                                "isFundingComputed": false,
                                "accountAliasId": "00a1e4e0-b7e9-4be4-9834-1f94f28316d7",
                                "accountNumber": "XXXX3167"
                              }
                            ],
                            "pan": "XXXXXXXXXXXX0016"
                          }
                        ]
                      },
                      "processingTimeInMs": 11,
                      "errors": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid",
            "content": {}
          },
          "404": {
            "description": "The account could not be found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "cardIdModelList",
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v2/cards/{cardId}": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve Card Details",
        "description": "This service retrieves card details, account details, and balance information for a given card ID associated to a card number. It supports both DPS Debit and Prepaid clients and provides real-time cardholder information on demand. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "Retrieve Card Details",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}$",
              "type": "string"
            }
          },
          {
            "name": "lookUpBalances",
            "in": "query",
            "description": "Indicates if balance should be returned. Must be passed in the URI. Example: …/dcas/cardservices/v2/cards/{cardId]?lookUpBalances=true",
            "required": false,
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "pattern": "^([Tt][Rr][Uu][Ee]|[Ff][Aa][Ll][Ss][Ee])$",
              "type": "string",
              "default": "false"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfCardDetailsResponseV2-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2021-03-02T01:18:06.845Z",
                      "resource": {
                        "cardId": "989fee31-7449-4b6a-9917-c68ada92de56",
                        "accounts": [
                          {
                            "accountId": "4853643b-3bd8-4a68-9208-df06971e3606",
                            "accountIndicatorDescription": "NonPrimary",
                            "fundingIndicator": true,
                            "accountIndicatorCode": "N",
                            "accountTypeDescription": "Other",
                            "institutionId": "59313083196",
                            "accountTypeCode": "OTH",
                            "accountOpenedDate": "2020-04-16T12:00:00.000Z",
                            "isFundingComputed": true,
                            "accountNumber": "3546789"
                          }
                        ],
                        "last4PrimaryAccountNumber": "0217"
                      },
                      "processingTimeinMs": 480
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards~1{cardId}/get",
            "default": false
          },
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v2~1cards~1{cardId}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards/{cardId}/transactions": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve Transaction History - DEPRECATED",
        "description": "Get transaction history for a given cardId.",
        "operationId": "Retrieve Transaction History",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique indentifier assigned to the PAN",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexRow",
            "in": "query",
            "description": "Unique indentifier assigned to the PAN",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rowsOnPage",
            "in": "query",
            "description": "Unique indentifier assigned to the PAN",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountAliasId",
            "in": "query",
            "description": "Unique indentifier assigned to the PAN",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "TransactionsInquiryResponse": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "description": "Provides one or more short descriptions in the event of errors.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "resource": {
                          "type": "object",
                          "properties": {
                            "hasMore": {
                              "type": "boolean",
                              "description": "True indicates that there are more transactions than currently returned as a response to transaction history request; false indicates otherwise."
                            },
                            "transactions": {
                              "type": "array",
                              "description": "An array of transactions.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "merchantName": {
                                    "type": "string",
                                    "description": "Name of the merchant."
                                  },
                                  "transactionKey": {
                                    "type": "string",
                                    "description": "The transaction key that uniquely identifies a transaction."
                                  },
                                  "merchantAddress": {
                                    "type": "object",
                                    "properties": {
                                      "city": {
                                        "type": "string",
                                        "description": "The merchant city."
                                      },
                                      "region": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "zipCode": {
                                        "type": "string",
                                        "description": "The merchant zip code."
                                      },
                                      "countryCode": {
                                        "type": "object",
                                        "properties": {
                                          "display": {
                                            "type": "string",
                                            "description": "The merchant country display value."
                                          },
                                          "threeDigitCountryCode": {
                                            "type": "string",
                                            "description": "The merchant three digit country code."
                                          },
                                          "twoCharacterCountryCode": {
                                            "type": "string",
                                            "description": "The merchant two character country code."
                                          },
                                          "threeCharacterCountryCode": {
                                            "type": "string",
                                            "description": "The merchant three character country code."
                                          }
                                        },
                                        "description": ""
                                      },
                                      "addressLine1": {
                                        "type": "string",
                                        "description": "The merchant address line 1."
                                      },
                                      "addressLine2": {
                                        "type": "string",
                                        "description": "The merchant address line 2."
                                      },
                                      "addressLine3": {
                                        "type": "string",
                                        "description": "The merchant address line 3."
                                      }
                                    },
                                    "description": "The merchant address information."
                                  },
                                  "transactionAmount": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "number",
                                        "description": "Amount Value.",
                                        "format": "double"
                                      },
                                      "currencyCode": {
                                        "type": "string",
                                        "description": "Currency Code."
                                      }
                                    },
                                    "description": ""
                                  },
                                  "transactionStatus": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "transactionDateTime": {
                                    "type": "string",
                                    "description": "The transaction date time as stored in the host system."
                                  },
                                  "debitCreditIndicator": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "transactionDescription": {
                                    "type": "string",
                                    "description": "The transaction description."
                                  }
                                }
                              }
                            }
                          },
                          "description": "The response data computed from processing the request. Will not be present in the event of an error."
                        },
                        "receivedTimestamp": {
                          "type": "string",
                          "description": "The time the request was received. Value is in GMT."
                        },
                        "processingTimeInMs": {
                          "type": "integer",
                          "description": "The time, in milliseconds, taken to process the request.",
                          "format": "int32"
                        }
                      },
                      "description": "Response Object"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-15 18:51:30.603",
                      "resource": {
                        "hasMore": true,
                        "transactions": [
                          {
                            "debitCreditIndicator": {
                              "Value": "Debit",
                              "Key": "1"
                            },
                            "transactionStatus": {
                              "Value": "Posted",
                              "Key": "1"
                            },
                            "transactionDateTime": "2017-02-09T00:21:47.213",
                            "transactionAmount": {
                              "amount": -5,
                              "currencyCode": "840"
                            },
                            "merchantAddress": {
                              "zipCode": "80000",
                              "city": "Your Town",
                              "countryCode": {
                                "threeDigitCountryCode": null,
                                "display": "United States of America",
                                "threeCharacterCountryCode": "USA",
                                "twoCharacterCountryCode": null
                              },
                              "addressLine1": "123 Main St.",
                              "addressLine2": null,
                              "addressLine3": null,
                              "region": {
                                "Value": "Colorado",
                                "Key": "CO"
                              }
                            },
                            "transactionKey": "212353384907213965",
                            "transactionDescription": "Replacement Card Fee",
                            "merchantName": "Sample Financial Institute"
                          },
                          {
                            "debitCreditIndicator": {
                              "Value": "Debit",
                              "Key": "1"
                            },
                            "transactionStatus": {
                              "Value": "Posted",
                              "Key": "1"
                            },
                            "transactionDateTime": "2017-01-25T12:27:00.970",
                            "transactionAmount": {
                              "amount": -10,
                              "currencyCode": "840"
                            },
                            "merchantAddress": {
                              "zipCode": "80003",
                              "city": "Denver",
                              "countryCode": {
                                "threeDigitCountryCode": null,
                                "display": "United States of America",
                                "threeCharacterCountryCode": "USA",
                                "twoCharacterCountryCode": null
                              },
                              "addressLine1": "1234 Main Street",
                              "addressLine2": null,
                              "addressLine3": null,
                              "region": {
                                "Value": "Colorado",
                                "Key": "CO"
                              }
                            },
                            "transactionKey": "212352132420969653",
                            "transactionDescription": "ACH Funds Transfer Debit",
                            "merchantName": "RELOADABLEUP"
                          },
                          {
                            "debitCreditIndicator": {
                              "Value": "Debit",
                              "Key": "1"
                            },
                            "transactionStatus": {
                              "Value": "Posted",
                              "Key": "1"
                            },
                            "transactionDateTime": "2017-01-25T12:27:00.970",
                            "transactionAmount": {
                              "amount": -1.72,
                              "currencyCode": "840"
                            },
                            "merchantAddress": {
                              "zipCode": "80003",
                              "city": "Denver",
                              "countryCode": {
                                "threeDigitCountryCode": null,
                                "display": "United States of America",
                                "threeCharacterCountryCode": "USA",
                                "twoCharacterCountryCode": null
                              },
                              "addressLine1": "1234 Main Street",
                              "addressLine2": null,
                              "addressLine3": null,
                              "region": {
                                "Value": "Colorado",
                                "Key": "CO"
                              }
                            },
                            "transactionKey": "212352132420969653",
                            "transactionDescription": "Funds Transfer Fee",
                            "merchantName": "100 - Highlands Ranch"
                          },
                          {
                            "debitCreditIndicator": {
                              "Value": "Credit",
                              "Key": "2"
                            },
                            "transactionStatus": {
                              "Value": "Posted",
                              "Key": "1"
                            },
                            "transactionDateTime": "2017-01-25T12:26:38.027",
                            "transactionAmount": {
                              "amount": 50,
                              "currencyCode": "840"
                            },
                            "merchantAddress": {
                              "zipCode": "80003",
                              "city": "Denver",
                              "countryCode": {
                                "threeDigitCountryCode": null,
                                "display": "United States of America",
                                "threeCharacterCountryCode": "USA",
                                "twoCharacterCountryCode": null
                              },
                              "addressLine1": "1234 Main Street",
                              "addressLine2": null,
                              "addressLine3": null,
                              "region": {
                                "Value": "Colorado",
                                "Key": "CO"
                              }
                            },
                            "transactionKey": "212352132398028113",
                            "transactionDescription": "Manual Card Reload",
                            "merchantName": "100 - Highlands Ranch"
                          }
                        ]
                      },
                      "processingTimeInMs": 4,
                      "errors": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid",
            "content": {}
          },
          "404": {
            "description": "The account could not be found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards~1{cardId}~1transactions/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards/{cardId}": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve Card Details",
        "description": "Gets card details, account details, and balance information for a given card ID.",
        "operationId": "Retrieve Card Details",
        "parameters": [
          {
            "name": "balance",
            "in": "query",
            "description": "Indicates if balance should be returned. Must be passed in the URI. Example: …/dcas/cardservices/v1/cards/{cardId]?balance=true",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "cardId",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceOfCardDetailsResponse-1"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2017-03-15 17:31:35.018",
                      "resource": {
                        "card": {
                          "cardId": "8d212293-c6bc-4738-afaf-bc0ae5456df5",
                          "accounts": [
                            {
                              "balances": {
                                "ledger": {
                                  "amount": 6313.07,
                                  "currencyCode": "840"
                                },
                                "amountDue": null,
                                "amountOwing": null,
                                "availableCredit": null,
                                "creditLine": null,
                                "available": {
                                  "amount": 6313.07,
                                  "currencyCode": "840"
                                }
                              },
                              "isFunding": false,
                              "accountIndicatorDescription": null,
                              "accountIndicatorCode": null,
                              "accountTypeDescription": null,
                              "institutionId": null,
                              "accountTypeCode": "Prepaid",
                              "accountOpenedDate": "2001-01-01T00:00:00Z",
                              "isFundingComputed": false,
                              "accountAliasId": "00a1e4e0-b7e9-4be4-9834-1f94f28316d7",
                              "accountNumber": "XXXX3167"
                            }
                          ],
                          "pan": "4883836336860016"
                        }
                      },
                      "processingTimeInMs": 0,
                      "errors": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards/{cardId}/cardactivation": {
      "post": {
        "tags": [
          "Card Services"
        ],
        "summary": "Activate Card with Verification",
        "description": "Performs Card Activation for given cardId. This version of the endpoint will be deprecated on July 31, 2025. Please leverage the most current version.",
        "operationId": "Card Activation",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique indentifier assigned to the PAN",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Activation Request.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cvv2": {
                    "type": "string"
                  },
                  "ssnToken": {
                    "type": "object",
                    "properties": {
                      "ssn": {
                        "type": "string"
                      },
                      "isLastFourOnly": {
                        "type": "boolean"
                      },
                      "isTokenPresent": {
                        "type": "boolean"
                      }
                    }
                  },
                  "birthDateToken": {
                    "type": "object",
                    "properties": {
                      "isTokenPresent": {
                        "type": "boolean"
                      },
                      "birthDateMmDdYyyy": {
                        "type": "string"
                      }
                    }
                  },
                  "expirationDate": {
                    "type": "object",
                    "properties": {
                      "mm": {
                        "type": "string",
                        "description": "The month the card expires. Value is in mm format."
                      },
                      "yy": {
                        "type": "string",
                        "description": "The year the card expires. Value is in yy format."
                      }
                    },
                    "description": "The expiration date."
                  },
                  "phoneNumberToken": {
                    "type": "object",
                    "properties": {
                      "countryCode": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "isTokenPresent": {
                        "type": "boolean"
                      }
                    }
                  },
                  "driversLicenseToken": {
                    "type": "object",
                    "properties": {
                      "stateCode": {
                        "type": "string"
                      },
                      "countryCode": {
                        "type": "string"
                      },
                      "isTokenPresent": {
                        "type": "boolean"
                      },
                      "drivingLicenseNumber": {
                        "type": "string"
                      }
                    }
                  },
                  "mothersMaidenNameToken": {
                    "type": "object",
                    "properties": {
                      "isTokenPresent": {
                        "type": "boolean"
                      },
                      "mothersMaidenName": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "cvv2": "393",
                    "ssnToken": {
                      "isLastFourOnly": true,
                      "isTokenPresent": true,
                      "ssn": "2233"
                    },
                    "phoneNumberToken": {
                      "phoneNumber": "3033891234",
                      "countryCode": "1",
                      "isTokenPresent": true
                    },
                    "driversLicenseToken": {
                      "drivingLicenseNumber": "123456",
                      "countryCode": "840",
                      "isTokenPresent": true,
                      "stateCode": "CO"
                    },
                    "birthDateToken": {
                      "birthDateMmDdYyyy": "01011960",
                      "isTokenPresent": true
                    },
                    "mothersMaidenNameToken": {
                      "isTokenPresent": true,
                      "mothersMaidenName": "abc"
                    },
                    "expirationDate": {
                      "mm": "08",
                      "yy": "20"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CardActivationResponse": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array",
                          "description": "Provides one or more short descriptions in the event of errors.",
                          "items": {
                            "type": "object"
                          }
                        },
                        "resource": {
                          "type": "object",
                          "properties": {
                            "isCardActivationSuccessful": {
                              "type": "boolean"
                            }
                          },
                          "description": "The response data computed from processing the request. Will not be present in the event of an error."
                        },
                        "receivedTimestamp": {
                          "type": "string",
                          "description": "The time the request was received. Value is in GMT."
                        },
                        "processingTimeInMs": {
                          "type": "integer",
                          "description": "The time, in milliseconds, taken to process the request.",
                          "format": "int32"
                        }
                      },
                      "description": "Response Object"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2018-11-30 22:41:02.691",
                      "resource": {
                        "isCardActivationSuccessful": true
                      },
                      "processingTimeInMs": 0,
                      "errors": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid",
            "content": {}
          },
          "404": {
            "description": "The account could not be found",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "cardActivationRequest",
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards/prepaid/{cardId}/cardstatus": {
      "get": {
        "tags": [
          "Card Services"
        ],
        "summary": "Retrieve Card Status - Prepaid",
        "description": "This service retrieves card status for a given card ID associated to a card number. It supports DPS Prepaid clients and provides real-time card status information on demand. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "retrieveCardStatusForPrepaidUsingGET",
        "parameters": [
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfGetCardStatusPrepaidResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2021-02-19T17:39:07.175Z",
                      "resource": {
                        "status": "STOLEN_CARD"
                      },
                      "processingTimeinMs": 246
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v1~1cards~1prepaid~1{cardId}~1cardstatus/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/accountservices/v1/accounts/{accountId}/cards/{cardId}/transactions": {
      "get": {
        "tags": [
          "Card Transactions"
        ],
        "summary": "Retrieve Transaction History - Debit",
        "description": "This service retrieves transaction history for a given card ID associated to a Debit card number and account number. DPS Debit cards can be associated with multiple bank accounts. A specific account must be identified for this API request. If a new account(s) is added, the corresponding account ID can be obtained by calling the “Retrieve Card and Account Details for a Card ID” API. This API retrieves transaction history data dynamically from the system of record, and data returned can vary between different systems of record. If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "Retrieve Transaction History - Debit",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "accountId",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "cardId",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfTransactionDetailsResponseOfDebitTransaction"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "${exists}",
                      "resource": {
                        "transactions": [
                          {
                            "transactionDescription": "XFER TO ACCT  SAV",
                            "transactionInfo": {
                              "dateTime": "2016-11-16T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -550,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "CKCD DEBIT 11/11",
                            "transactionInfo": {
                              "dateTime": "2016-11-15T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -102,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "CHECK NBR 667",
                            "transactionInfo": {
                              "dateTime": "2016-11-15T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -136.26,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "CKCD DEBIT  11/10",
                            "transactionInfo": {
                              "dateTime": "2016-11-11T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -183.05,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "CKCD DEBIT 11/05",
                            "transactionInfo": {
                              "dateTime": "2016-11-10T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -7.85,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "DEPOSIT",
                            "transactionInfo": {
                              "dateTime": "2016-11-07T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": 2500,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "CHECK 665",
                            "transactionInfo": {
                              "dateTime": "2016-11-07T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -45.32,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "CKCD DEBIT  10/31",
                            "transactionInfo": {
                              "dateTime": "2016-11-03T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -103.05,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-25T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": 23,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-20T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -0.25,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-19T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -70.74,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-19T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -6.68,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-19T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -0.19,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-18T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -81.81,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-18T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -335,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-18T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -150,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-17T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -250,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-17T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -50,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-15T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": -1.47,
                                "currencyCode": "840"
                              }
                            }
                          },
                          {
                            "transactionDescription": "",
                            "transactionInfo": {
                              "dateTime": "2016-10-14T00:00:00.000Z",
                              "transactionAmount": {
                                "amount": 20,
                                "currencyCode": "840"
                              }
                            }
                          }
                        ],
                        "last4PrimaryAccountNumber": "0312"
                      },
                      "processingTimeinMs": "${exists}"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1dcas~1accountservices~1v1~1accounts~1{accountId}~1cards~1{cardId}~1transactions/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/programservices/v1/reports/wireconfirmation": {
      "get": {
        "tags": [
          "Program Services"
        ],
        "summary": "Retrieve Wire Confirmation Report",
        "description": "This report provides the daily settlement wire confirmation at the Issuer (PRC) level for U.S. card programs processed by Visa DPS. This confirmation report, made available prior to the wire draw-down request or wire transfer, provides the net totals used to determine your wire transfer total.",
        "operationId": "wireConfirmationReportUsingGET_1",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Settlement date in YYYY-MM-DD format. If not provided, then current date will be used.",
            "required": false,
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prc",
            "in": "query",
            "description": "If PRC is provided, then report will only include the details related to the requested PRC. If not, then API will send response to all the PRC mapped to the sponsor.",
            "required": false,
            "allowEmptyValue": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalOfListOfWireConfirmationReportResponse"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "receivedTimestamp": "2023-03-21T19:43:04.525Z",
                      "resource": [
                        {
                          "fees": {
                            "totalSMSReimbursementFees": 0,
                            "totalInterLinkReimbursementFees": 0,
                            "totalSMSInternationalServiceAssessmentFees": 0,
                            "totalInterLinkInternationalServiceAssessmentFees": 0
                          },
                          "prcId": "PRC822",
                          "processorSettlementAmount": 120,
                          "prcName": "SAMPLE FINANCIAL INSTITUTION",
                          "differences": 0,
                          "exceptionTransactionSettlementAmount": 0,
                          "miscellaneousFeesSettlementAmount": 0,
                          "netTotal": 120,
                          "settlementDate": "2023-01-23",
                          "wireTotalAmount": 120
                        },
                        {
                          "fees": {
                            "totalSMSReimbursementFees": 0,
                            "totalInterLinkReimbursementFees": 0,
                            "totalSMSInternationalServiceAssessmentFees": 0,
                            "totalInterLinkInternationalServiceAssessmentFees": 0
                          },
                          "prcId": "PRC001",
                          "processorSettlementAmount": 0,
                          "prcName": "GENERIC FINANCIAL INSTITUTION",
                          "differences": 0,
                          "exceptionTransactionSettlementAmount": 0,
                          "miscellaneousFeesSettlementAmount": 0,
                          "netTotal": 0,
                          "settlementDate": "2023-01-23",
                          "wireTotalAmount": 0
                        }
                      ],
                      "processingTimeinMs": 158
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          }
        },
        "deprecated": false,
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1dcas~1programservices~1v1~1reports~1wireconfirmation/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v3/cards/{cardId}/cardactivation": {
      "post": {
        "tags": [
          "Card Activation"
        ],
        "summary": "Activate Card with Verification",
        "description": "This service activates a card for a given Card ID, which is associated to a unique Primary Account Number (PAN). The service is only available for DPS Debit card programs, and supports cardholder token verification as part of the card activation request. By default, at least one token is required in the request. If multiple tokens are provided, all tokens must pass validation prior to activation. If any token fails, activation will not be successful and a generic token failure message will be provided in the response. <br><br>For card replacements, a new Card ID must be requested for the new PAN. <br><br>This API was designed with considerations for self-service channels such as Voice Response Unit (VRU) automation, combining the token pass/ fail logic in addition to the basic function of activating a card. Other user interfaces such as websites, mobile applications, or enterprise administrative systems would also be able to take advantage of this service.",
        "operationId": "cardActivationV3",
        "parameters": [
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Id that uniquely identifies a request across distributed systems.  Generally populated by the upstream system in this case, VDP or the client.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "Unique ID for current card. minLength: 1, maxLength: 40.",
            "required": true,
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CardActivationReq-2"
              },
              "examples": {
                "Default ": {
                  "summary": "Default ",
                  "value": {
                    "birthDateMmDdYyyy": "01011960",
                    "phoneNumber": "3033891234",
                    "socialSecurityNumberInfo": {
                      "socialSecurityNumber": "123456789",
                      "last4socialSecurityNumber": "6789"
                    },
                    "driversLicenseInfo": {
                      "driversLicenseNumber": "999954317",
                      "countryCode": "USA",
                      "stateCode": "CO"
                    },
                    "cardsInfo": {
                      "cvv2": "938",
                      "expirationDate": {
                        "mm": "12",
                        "yy": "20"
                      }
                    },
                    "mothersMaidenName": "MOM"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResourceExternalCardActivationRsp"
                },
                "examples": {
                  "Default ": {
                    "summary": "Default ",
                    "value": {
                      "receivedTimestamp": "2020-10-27T05:11:25.362Z",
                      "resource": {
                        "isCardActivationSuccessful": true
                      },
                      "processingTimeinMs": 8295
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1dcas~1cardservices~1v3~1cards~1{cardId}~1cardactivation/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/dcas/cardservices/v1/cards/{cardId}/digitalactivation": {
      "post": {
        "tags": [
          "Card Activation"
        ],
        "summary": "Digital Activation",
        "description": "This service digitally activates a card for a given card ID associated to a unique Primary Account Number (PAN). Digital activation supports the digital issuance product by allowing only specific card-not-present (CNP) and tokenized transactions. Digital activation is separate from card activation, which activates the physical card. <br><br> If creating a new card ID prior to calling this API, allow time for data synchronization between the Create Card ID response and this API request. When a card is replaced, a new card ID must be requested.",
        "operationId": "updateDigitalActivateFlagUsingPOST",
        "parameters": [
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "description": "Id that uniquely identifies a request across distributed systems.  Generally populated by the upstream system in this case, VDP or the client.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app-group-id",
            "in": "header",
            "description": "Unique ID that defines a collection of related apps. Related child apps will inherit all customer accounts, profiles, and data related to the app-group-id.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app-id",
            "in": "header",
            "description": "The app-id is provisioned to the app when it is registered on the VDP. The app-id must be included in all API calls to the Paas API. NOTE: During runtime, the gateway is responsible for injecting the app-id as a header into the call before passing it to the Cards API. The gateway will determine the app-id based on the API credentials of the app. ",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cardId",
            "in": "path",
            "description": "cardId",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "pattern": "^[a-zA-Z0-9-]{1,40}+$",
              "type": "string"
            }
          },
          {
            "name": "sponsor-id",
            "in": "header",
[...]
