{
  "openapi": "3.0.0",
  "info": {
    "title": "Virtual Card Payments",
    "description": "\n## Overview\n\nThe Virtual Card Payments API enables client applications to create virtual card payments according to their payment instructions. One can also read the card CVV and change the card status.\n\nPlease consult the **API developer portal** for details regarding:\n- New v2 capabilities and v1 compatibilty.\n- Three virtual card payment flows, a.k.a. remitTypes.\n- Purchase authorizations, controls, and authorization webhooks.\n- Bulk card intake and associated webhooks.\n\n**V1 vs. V2**\n\nIn v2, virtual cards are based upon a Virtual Account Number or VAN. A v2 VAN card supports the enhancements documented within this specification.\n\nCards created using the v1 API, meaning a cardID issued in v1, can be used with the v2 API. However,\n- A few incompatibilites exist (some v1 fields are no longer available).\n- New v2 capabilities are not supported with a v1 cardID.\n\nThese differences are documented within this specification and at the API developer portal.\n\n**Push Provisioning**\n\nIf a virtual card will be provisioned to a digital wallet, the _cardholderName_ value cannot be empty. Otherwise, attempting to use the push provisioning encryption APIs will fail.\n\nSee the digital wallets API specification for details regarding encryption.\n\n**Valid characters**\n\nUnless stated otherwise, strings allow the following special characters, including the 'space' character:\n\n**` - = \\ ] [ ' ; / . , ! @ # $ % & * ( ) _ + { } | : \" ? < >**\n\n### Revision history\n\nLast updated June 29, 2026. Expand _Revision history_ for details.\n\n<details><summary>Revision history</summary>\n\n- 2.7.0\n  - Added POST, PATCH, DELETE _/payments/{paymentID}/invoices_ endpoints.\n- 2.6.0\n  - Added _PATCH /payments/{paymentID}_ endpoint.\n  - Corrected _payment.invoices[].amount_ minimum to zero (not negative).\n  - Corrected _GET /realtime-credit-details_ spec to match implementation.\n- 2.5.0\n  - Added /payments endpoints\n  - Changes to virtualCard.amountRanges[]\n    - Added authorizationAmountUsed field.\n    - Corrected minimum and maximum data type from string to number.\n- 2.4.0\n  - Introduced digital wallet encryption endpoints for Apple and Google.\n    See the Digital Wallet Push Provisioning 1.0.0 specification.\n  - Added preAuthorizationAmount field to VAN virtual card schema.\n    - Create and update requests and read response.\n- 2.3.0\n  - Introduced Account real time credit details API.\n    See the Virtual Card Program Management 1.0.0 specification.\n  - Introduced Instant Card API.\n    See the Instant Card 1.0.0 specification.\n- 2.2.0\n  - Added Get-transactions and Search-transactions endpoints.\n  - Added table of Merchant Category Codes.\n  - Removed erroneous sequenceNumber from create request.\n- 2.1.1\n  - Removed 'discriminator remitType' as it causes code-generation to fail.\n- 2.1.0\n  - Introduced Bulk Card Intake API.\n    See the Bulk Card 1.0.2 specification.\n- 2.0.0\n  - Added the following card attributes to Create-Card, Get-Card, and Update-Card\n    - Cardholder name\n    - Authorization status - suspend/unsuspend a card\n    - Authorization controls\n    - Daily effective times\n    - MCC ranges\n    - User attributes\n  - Removed Get-CVV endpoint. CVV is available via Get-Card.\n  - Removed accountUID from Get-Authorizations response.\n  - Removed accountUID and accountID from Get-Card response.\n\n</details>\n",
    "termsOfService": "https://developer.usbank.com/terms",
    "contact": {
      "name": "U.S. Bank API Support",
      "url": "https://developer.usbank.com/support/create"
    },
    "license": {
      "name": "Subject to U.S. Bank Developer Portal Terms of Use and API License Agreement.  © 2026 U.S. Bank",
      "url": "https://developer.usbank.com/terms"
    },
    "version": "2.7.0"
  },
  "externalDocs": {
    "description": "U.S. Bank Developer Portal",
    "url": "http://developer.usbank.com"
  },
  "servers": [
    {
      "url": "https://apip2.usbank.com/virtual-cards/v2",
      "description": "Production gateway"
    },
    {
      "url": "https://alpha-apip2.usbank.com/virtual-cards/v2",
      "description": "UAT gateway"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Virtual Cards",
      "description": "Create, retrieve, and update a digital card"
    },
    {
      "name": "Real-time Credit Details",
      "description": "Get live credit details, not nightly update"
    },
    {
      "name": "Authorizations and Transactions",
      "description": "Retrieve authorizations and transactions"
    },
    {
      "name": "Payments",
      "description": "Payment instructions for a virtual card"
    },
    {
      "name": "Payment Invoices",
      "description": "Manage invoice information for a payment"
    },
    {
      "name": "Declined Authorization Codes",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Table_DeclinedAuthCodes\" />"
    },
    {
      "name": "Merchant Category Codes",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Table_MerchantCategoryCodes\" />"
    }
  ],
  "paths": {
    "/cards": {
      "post": {
        "tags": [
          "Virtual Cards"
        ],
        "summary": "Create a virtual card.",
        "description": "For the given organization and payment account, create a virtual card.\n\nWhen creating a card, the client (payer) must indicate how the card details will be provided, or remitted to the supplier (payee), as designated by the remitType:\n\n|remitType|Description|\n|:--- |:--- |\n|ClientRemit |The client will notify the payee separately|\n|SupplierNotEnrolled |The system will notify the supplier via the details provided in the request|\n|SupplierEnrolled |The system will notify the supplier via the Client-Supplier-Information (CSI) record, and optionally override recorded values with any provided in the request. **The payment account ID must be defined in CSI record.**|\n\nIf successful, a virtual card ID is returned. (This ID can be used interchangeably as an order ID in the Access Online Order API.)\n\nThese fields are only applicable if the payment account is part of virtual account number (VAN) program:\n- userAttributes{}\n- cardholderName\n- authStatus\n- preAuthorizationAmount\n- authorizationControls{}\n- dailyEffectiveTimes[]\n- merchantCategoryCodeRanges[]\n",
        "operationId": "CreateCard",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Indicates body format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "**See the Developer Guide for details regarding when and how to retry a request.**\n\nGUID identifier assigned by the caller to each unique request. The key is used by the service to detect any duplicate requests resulting from retries, and assure the request is processed only once. _Key comparison is case-insensitive._ Requests with the same key will be recognized as duplicate and return the '409 Conflict' status.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "73hd71d2-e80b-7d73-a4g6-hen83028d73g"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualCardCreateRequest"
              },
              "examples": {
                "remitType=ClientRemit": {
                  "$ref": "#/components/examples/CreateClientRemit"
                },
                "remitType=SupplierEnrolled": {
                  "$ref": "#/components/examples/CreateSupplierEnrolled"
                },
                "remitType=SupplierNotEnrolled": {
                  "$ref": "#/components/examples/CreateSupplierNotEnrolled"
                },
                "Optional fields for all remitTypes": {
                  "$ref": "#/components/examples/CreateCommonOptionalFields"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_201"
                },
                "examples": {
                  "remitType=ClientRemit": {
                    "$ref": "#/components/examples/CreateClientRemitResponse"
                  },
                  "remitType=SupplierEnrolled": {
                    "$ref": "#/components/examples/CreateClientSupplierResponse"
                  },
                  "remitType=SupplierNotEnrolled": {
                    "$ref": "#/components/examples/CreateClientSupplierResponse"
                  }
                }
              }
            }
          },
          "424": {
            "description": "Failed Dependency\n\nNo cards are available in the payment account. Contact your account coordinator.\n",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorService"
                },
                "example": {
                  "errors": [
                    {
                      "code": "424.1030.2040",
                      "message": "No cards available, contact your account coordinator"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}": {
      "get": {
        "tags": [
          "Virtual Cards"
        ],
        "summary": "Retrieve virtual card information.",
        "description": "Given a cardID, return the card details.\n\nOptional fields are returned depending upon various factors. For example, CVV is only returned when card status is OPEN.\n\nThese fields are only applicable if the payment account is part of virtual account number (VAN) program:\n- availableBalance\n- userAttributes{}\n- cardholderName\n- authStatus\n- preAuthorizationAmount\n- authorizationControls{}\n- dailyEffectiveTimes[]\n- merchantCategoryCodeRanges[]\n",
        "operationId": "GetVirtualCard",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Virtual Cards"
        ],
        "summary": "Modify a virtual card.",
        "description": "Update the specified card payment with the requested modifications.\n\nThe request schema describes which fields can be updated and how to update them.\n\nThis PATCH method adheres to the conventions of **JSON Merge Patch [RFC 7396](https://tools.ietf.org/html/rfc7396)**, which defines a JSON payload syntax for adding, replacing, or removing one or more values.  To summarize, only provide fields that need updating.\n- To change a value, populate the field with the desired value\n- To clear a value, use empty string \"\" or zero 0\n- To leave a value unchanged, it must be absent from the request\n\n**NOTICE:**\n- Modifying will fail if the card status is canceled, closed, expired, or fulfilled.\n- Certain fields cannot be cleared or zeroed, as noted below in the request body schema.\n- The behavior of using **_null_** to update a value is undefined and may change in a future release.<br>_Do not use the null value with update until supported._\n\nThese fields are only applicable if the payment account is part of virtual account number (VAN) program:\n- userAttributes{}\n- cardholderName\n- authStatus\n- preAuthorizationAmount\n- authorizationControls{}\n- dailyEffectiveTimes[]\n- merchantCategoryCodeRanges[]\n",
        "operationId": "ModifyCard",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Indicates body format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VirtualCard_Update"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}/close": {
      "post": {
        "tags": [
          "Virtual Cards"
        ],
        "summary": "Close a virtual card.",
        "description": "Close the specified card. A card can be closed prior to the effectiveUntil date to prohibit further use of the card after charges have been made.\n",
        "operationId": "CloseVirtualCard",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}/cancel": {
      "post": {
        "tags": [
          "Virtual Cards"
        ],
        "summary": "Cancel a virtual card.",
        "description": "Cancel the specified card. A card can be canceled before the effectiveUntil date and prior to processing any charges.\n",
        "operationId": "CancelVirtualCard",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}/remit": {
      "post": {
        "tags": [
          "Virtual Cards"
        ],
        "summary": "Send a remittance notice.",
        "description": "Send a remittance notice to the supplier cardholder.\n\nWhen using a supplier remitType, this can be used to send instructions to the supplier associated with this card for obtaining their virtual card payment. An email or fax will be sent to the contact information for this card.\n\nAn error is returned if remitType is ClientRemit.\n",
        "operationId": "RemitVirtualCard",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "**See the Developer Guide for details regarding when and how to retry a request.**\n\nGUID identifier assigned by the caller to each unique request. The key is used by the service to detect any duplicate requests resulting from retries, and assure the request is processed only once. _Key comparison is case-insensitive._ Requests with the same key will be recognized as duplicate and return the '409 Conflict' status.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "73hd71d2-e80b-7d73-a4g6-hen83028d73g"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}/realtime-credit-details": {
      "get": {
        "tags": [
          "Real-time Credit Details"
        ],
        "summary": "Retrieve available credit balance detail for the virtual card.",
        "description": "For the specified card, return the current available credit.\n\nCredit details are updated nightly or when an authorization has occurred. Use this endpoint to retrieve the most recent credit details in real-time, prior to those events.\n\n(One exception is immediately after the card is created, real-time credit details are not updated until one of those events occur.  For example, after creating a card and prior to the first nightly update, this endpoint returns the original credit details, not the most recent values. Thereafter, the most recent values are available.)\n\nFor account credit balance, see the [Available Credit](/products/virtual-card-payments/v2/available-credit-api-reference) API reference.\n\nThis request may fail during nightly maintenance, which begins at 7:30 PM Central Time and typically completes by 12:00 AM CT depending upon demand. During that time, the request will fail if the specified account is being processed. Retry the request after maintenance on the account has completed.\n",
        "operationId": "ReadCreditDetails-Card",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditDetails"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}/authorizations": {
      "get": {
        "tags": [
          "Authorizations and Transactions"
        ],
        "summary": "Return authorizations for this card within a date range.",
        "description": "Returns a list of authorizations within the date range, inclusive.\n\nUp to 6 years of authorization history is retained, with a maximum search range of 180 days. If no date range is specified, the default search range is 7 days prior to the current date, inclusive.\n\nA match is defined as the creation date falling within the search date range.\n  - authorizations[].createDate\n\nThe result is a list of zero or more authorizations. If there are no matches, status 200, an empty authorizations[] array, and pageMeta.totalCount = 0 are returned.\n\n### Initiating a search\n\nThese parameters can be set in the first request or will be defaulted:\n- startDate\n- endDate\n- pageSize\n\nThey should **not** be used when retrieving page 2 and later.\n\n`GET /cards/12345678/authorizations?startDate=2023-08-14&endDate=2023-09-06&pageSize=100`\n\n### Retrieving a series of pages\n\nThe first response includes a **_searchKey_** representing the initiated search:\n\n`\"searchKey\":\"koFEcjwQYXn0ZKGc\"`\n\nThe searchKey is used by the service for session management and is required in all subsequent requests. To simplify this process, the response also includes the **_pageMeta.links.next_** string which is the URI to retrieve the next page:\n\n`\"next\":\"/cards/12345678/authorizations?searchKey=koFEcjwQYXn0ZKGc&pageNumber=2\"`\n\nAll subsequent requests require the _searchKey_ and _pageNumber_ parameters exactly as provided in the _next_ link.\n\nTo retrieve all pages, advance the pageNumber parameter in consecutive requests until the last page number indicated by **_pageMeta.pageCount_**.\n\n- GET /virtual-cards/v2/cards/12345678/authorizations?searchKey=koFEcjwQYXn0ZKGc&pageNumber=2\n- GET /virtual-cards/v2/cards/12345678/authorizations?searchKey=koFEcjwQYXn0ZKGc&pageNumber=3\n- GET /virtual-cards/v2/cards/12345678/authorizations?searchKey=koFEcjwQYXn0ZKGc&pageNumber=...\n\nThe searchKey expires after 15 minutes and attempted use returns '400 Invalid Request'.\n",
        "operationId": "SearchAuthorizations",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date of the search as YYYY-MM-DD, inclusive. The default is 7 days prior to the endDate.\n\nNeeded to initiate the search. Not required after first page.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/YYYY-MM-DD"
            },
            "example": "2025-08-09"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date of the search as YYYY-MM-DD, inclusive. The default is the current date.\n\nNeeded to initiate the search. Not required after first page.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/YYYY-MM-DD"
            },
            "example": "2025-08-11"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items returned per page.\n\nNeeded to initiate the search. Not needed after first page.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 500,
              "minimum": 100,
              "type": "integer",
              "example": 250,
              "default": 500
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number to return, 2 to N.\n\nRequired when retrieving pages 2 and later. Do not use in the first request.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 2,
              "type": "integer",
              "example": 2
            }
          },
          {
            "name": "searchKey",
            "in": "query",
            "description": "The searchKey is returned in the first page response.\n\nRequired when retrieving pages 2 and later. Do not use in the first request.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "koFEcjwQYXn0ZKGc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationSearchResponse"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
                    }
                  },
                  "504 Gateway Timeout": {
                    "value": {
                      "code": "504-01",
                      "message": "gateway timeout",
                      "errors": [
                        {
                          "message": "Service exceeded timeout"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cards/{cardID}/transactions": {
      "get": {
        "tags": [
          "Authorizations and Transactions"
        ],
        "summary": "List all transactions for this card.",
        "description": "Return a list of all transactions for the card, including transaction and merchant details.\n\nThe search range begins on the card effectiveStart date through 1 year after the effectiveUntil date, inclusive. Up to 6 years of transaction history are retained.\n\nThe result is a list of zero or more transactions. If there are no matches, status 200 and an empty transactions[] array are returned.\n\n### Initiating a search\n\nTo initiate a search, these parameters are required in the first request or are defaulted as specified:\n- pageSize: default 1000\n- pageNumber: default 1\n\n`GET /cards/12345678/transactions?pageSize=1000`\n\n### Retrieving a series of pages\n\nThe response includes the pageMeta.links.next string, which is the GET URI to retrieve the next page:\n\n`\"next\":\"/cards/12345678/transactions?pageNumber=2\"`\n\nAll subsequent requests require the *pageNumber* parameter, exactly as provided in the *next* link.\n\nTo retrieve all pages, simply advance the pageNumber parameter in consecutive requests until the last page number indicated by ***pageMeta.pageCount***.\n\n- GET /virtual-cards/v2/cards/12345678/transactions?pageNumber=2\n- GET /virtual-cards/v2/cards/12345678/transactions?pageNumber=3\n- GET /virtual-cards/v2/cards/12345678/transactions?pageNumber=...\n",
        "operationId": "ListTransactions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format of 'application/json'",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth Bearer token",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Bearer kobFjc3EcRedjMHK37wQYXn0ZKGc"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique client request ID that is echoed in the response, to aid end-to-end tracing.  This identifier should change with each request - including retries - so each attempt can be traced.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "d6f4dba5-0558-4638-9884-17129b800ebd"
            }
          },
          {
            "name": "Organization-Short-Name",
            "in": "header",
            "description": "Identifier used to scope the request to a specific organization, a.k.a. Org Short Name. Alphanumeric and special characters permitted.\n",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 6,
              "minLength": 2,
              "type": "string",
              "example": "OrgSN"
            }
          },
          {
            "name": "cardID",
            "in": "path",
            "description": "Unique system ID assigned to virtual card",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ID_Card"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The maximum number of items returned per page.\n\nNeeded to initiate the search. Not needed after first page.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 100,
              "type": "integer",
              "example": 250,
              "default": 1000
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number to return, 2 to N.\n\nRequired when retrieving pages 2 and later. Do not use in the first request.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": 2,
              "type": "integer",
              "example": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Successful operation",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionSearchResponse"
                }
              }
            }
          },
          "default": {
            "description": "An error occurred. See the **Error Handling** section in the Overview.\n\nExamples are found to the right in *Response samples*, under the *default* tab. See the *Example* drop-down list.\n",
            "headers": {
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                },
                "examples": {
                  "400 Invalid Request": {
                    "value": {
                      "errors": [
                        {
                          "code": "400.1042.2000",
                          "message": "Badly formed request",
                          "details": [
                            {
                              "attributeName": "supplier.name",
                              "reason": "Invalid characters"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "403 Forbidden": {
                    "value": {
                      "errors": [
                        {
                          "code": "403.1042.1003",
                          "message": "Insufficient access permission"
                        }
                      ]
                    }
                  },
                  "404 Resource Not Found": {
                    "value": {
                      "errors": [
                        {
                          "code": "404.1042.1004",
                          "message": "Requested resource not found"
                        }
                      ]
                    }
                  },
                  "405 Method Not Allowed": {
                    "value": {
                      "errors": [
                        {
                          "code": "405.1042.1005",
                          "message": "Method not supported for this resource"
                        }
                      ]
                    }
                  },
                  "406 Not Acceptable": {
                    "value": {
                      "errors": [
                        {
                          "code": "406.1042.1006",
                          "message": "Accept header must be application/json"
                        }
                      ]
                    }
                  },
                  "409 Conflict": {
                    "value": {
                      "errors": [
                        {
                          "code": "409.1042.1009",
                          "message": "Duplicate Idempotency-Key detected"
                        }
                      ]
                    }
                  },
                  "415 Unsupported Media Type": {
                    "value": {
                      "errors": [
                        {
                          "code": "415.1042.1015",
                          "message": "Content-Type header must be application/json"
                        }
                      ]
                    }
                  },
                  "500 Internal Server Error": {
                    "value": {
                      "errors": [
                        {
                          "code": "500.1042.1000",
                          "message": "Unexpected error - contact support"
                        }
                      ]
                    }
                  },
                  "401 Gateway Expired Token": {
                    "value": {
                      "code": "401-01",
                      "message": "api key is invalid",
                      "errors": [
                        {
                          "message": "Access Token expired"
                        }
                      ]
                    }
                  },
                  "429 Gateway Too Many Requests": {
                    "value": {
                      "code": "429-01",
                      "message": "rate limit has been exhausted",
                      "errors": [
                        {
                          "message": "Too Many Requests"
                        }
                      ]
                    }
                  },
                  "500 Gateway Invalid Token": {
                    "value": {
                      "code": "500-01",
                      "message": "internal server error",
                      "errors": [
                        {
                          "message": "Invalid Access Token"
                        }
                      ]
                    }
                  },
                  "503 Gateway Service Unavailable": {
                    "value": {
                      "code": "503-01",
                      "message": "service unavailable",
                      "errors": [
                        {
                          "message": "Service temporarily unavailable"
                        }
                      ]
[...]
