{
  "openapi": "3.0.0",
  "info": {
    "title": "Corporate Account Information",
    "description": "Corporate Accounts API allow clients to:\n * Retrieve list of accounts(DDA, credit card, trust, and loan accounts)\n * Retrieve DDA Account balances for current-day and previous-day\n * Retrieve DDA Transactions for current-day and previous-day\n * Retrieve Transactions data for credit cards\n * Retrieve Transactions data for loan cards\n * Retrieve Statements of corporate deposit and creditcards accounts.\n * Credit card  Statements size greater than two MB are not be supported via this API.\n * Support async workflow for generating a given statement.\n * Support for new optional WIRES attribues within current and previous-day transactions endpoints; these new attributes adhere to ISO 20022 reporting standards.\n *  Support corporate data sharing use case where SaaS providers can access corporate data on behalf of a U.S. Bank customer using the 3-legged OAuth 2.0 solution (i.e., Authorization Code grant type).\n *  Supports the ability to fetch good funds balance for a DDA account. The good funds balance reflects balance adjusted by any real-time transactions including current day hard and memo (credit and debit) transactions.\n \n## Version History\n- **2.1**: Added support for statements endpoint\n- **2.2**: Added reporting capability for credit cards account type       \n- **2.3**: Adding new async '/accounts/statements/requests' and '/accounts/statements/requests/{requestID}' endpoints and support for new optional attributes (within current and previous-day transactions endpoints) that adhere to ISO 20022 standards for all wire transactions. These new optional attributes are usBankCharges, creditorReference,creditor, creditorAgent, ultimateCreditor, purposeOfPayment, remittanceInformation, completedDate, SendersReference, intemediaryAgent1, intemediaryAgent2, intemediaryAgent3, debtor, ultimateDebtor, debtorAgent, instructionForCreditorAgent, instructingAgent, approvedBy, and extendedRemitanceInfo.\n- **2.4**: Adding support for corporate data sharing use case where SaaS providers can access corporate data on behalf of a U.S. Bank customer using the using the 3-legged OAuth 2.0 solution (on-behalf-of request header is ignored; instead Client-ID request is a mandatory attribute for the corporate data sharing use case)\n- **2.5**: Adding new account balance endpoint that returns the good funds balance account for a given DDA account (1 account at a time), adding support for ACH Returns and NOC endpoints for current and previous day, and adding support for loan accounts to the API\n",
    "termsOfService": "https://developer.usbank.com/terms",
    "contact": {
      "url": "https://developer.usbank.com/support/create"
    },
    "license": {
      "name": "Subject to terms in the U.S. Bank API License Agreement",
      "url": "https://developer.usbank.com/terms"
    },
    "version": "2.5.0"
  },
  "servers": [
    {
      "url": "https://api2.usbank.com/commercial-banking/account-management/v2",
      "description": "Production environment"
    },
    {
      "url": "https://cert-api2.usbank.com/commercial-banking/account-management/v2",
      "description": "Certification environment"
    },
    {
      "url": "https://api2.usbank.com/certification/commercial-banking/account-management/v2",
      "description": "Legacy certification environment"
    },
    {
      "url": "https://sandbox.usbank.com/commercial-banking/account-management/v2",
      "description": "Sandbox environment"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Account(s)"
        ],
        "summary": "Get list of accounts for the authorized customer.",
        "description": "* Get list of accounts for the authorized customer\n* Use pageNumber and pageSize for filtering\n* When pageNumber and pageSize aren't provided, the default value considered is pageNumber = 1 and pageSize = 50\n* Maximum pageSize limit is 500\n* When pageNumber is provided, pageSize is mandatory\n",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> \n1. Customer Identifier assigned by U.S.Bank </br>\n2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br>\n3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>\n",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
          },
          {
            "name": "accountType",
            "in": "query",
            "description": "1. Type of account list requested </br> 2. If non provided, the list will be defaulted to DDA.\n",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "DDA",
              "enum": [
                "DDA",
                "CREDITCARDACCOUNTS",
                "LOANACCOUNTS",
                "TRUSTACCOUNTS"
              ]
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Current Page Number from query result to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/current-day": {
      "post": {
        "tags": [
          "Account(s)"
        ],
        "summary": "Get account balances for an array of accounts for current-day.",
        "description": "* Get account balances for an array of accounts for current-day\n* Account balances for 50 accounts can be retrieved at a time\n* Default pageNumber = 1 , pageSize = 50\n* If accountID or accountNumber are not provided as part of the request body, then a paginated response of all accounts will be provided\n",
        "operationId": "getAccountBalancesOfCurrentDay",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> \n1. Customer Identifier assigned by U.S.Bank </br>\n2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br>\n3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>\n",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Current Page Number from query result to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "20"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/previous-day": {
      "post": {
        "tags": [
          "Account(s)"
        ],
        "summary": "Get account balances for an array of accounts for previous-day.",
        "description": "* Get account balances for an array of accounts for previous-day\n* Account balances for 50 accounts can be retrieved at a time\n* Default pageNumber = 1 , pageSize = 50\n* Only 1 day's worth of transactions (using date query string parameter) can be retrieved per call. You can go back and fetch data depending on the retention policy (4,12, or 24 months) enabled on your account; however, you are limited to retrieve transactions for one date within that retention period.\n* If accountID or accountNumber are not provided as part of the request body, then a paginated response of all accounts will be provided\n* Retreival of historic balances information depends on retension period set on each account. \n* A search can go up to previous 4 months from the day of API call.\n* If the retension period is greater than 4 months(found on the account list call) respective startdate and enddates can pull balances accordingly. \n",
        "operationId": "getAccountBalancesOfPreviousDay",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> \n1. Customer Identifier assigned by U.S.Bank </br>\n2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br>\n3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>\n",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Current Page Number from query result to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "20"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The date for which you want to retrieve transactions. ISO 8601. This endpoint supports only one day of historical data at a time. You can go back and fetch data depending on the retention policy (4,12, or 24 months) enabled on your account; however, you are limited to retrieve transactions for one date within that retention period.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountID}/balance": {
      "get": {
        "tags": [
          "Account(s)"
        ],
        "summary": "Get good funds balance for one demand deposit account.",
        "description": "* Get good funds balance for one demand deposit account (DDA). Returns memo credits, debits, and good funds balance (this balance is dynamically updated throughout the day to reflect both hard-posted and memo-posted transactions as they occur against your account). This endpoint is protected through a fine-grained entitlement; please reach out to the sales team\n",
        "operationId": "getRealTimeAccountBalancesOfCurrentDay",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> 1. Customer Identifier assigned by U.S.Bank </br> 2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br> 3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "accountID",
            "in": "path",
            "description": "unique identifier of your DDA account - identifier associated with your account and routing number.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "pdr004ldq0007pr285japx0028lm8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_8"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/creditcard-accounts": {
      "post": {
        "tags": [
          "Account(s)"
        ],
        "summary": "Get Credit Card account balances for an array of accounts.",
        "description": "* Get credit card account balances for an array of accounts.\n* Account balances for 50 accounts can be retrieved at a time\n* Default pageNumber = 1 , pageSize = 50\n* If accountID is  not provided as part of the request body, then a paginated response of all credit card accounts will be provided\n",
        "operationId": "getCreditCardAccountBalances",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> \n1. Customer Identifier assigned by U.S.Bank </br>\n2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br>\n3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>\n",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/loan-accounts": {
      "post": {
        "tags": [
          "Account(s)"
        ],
        "summary": "Get loan account balances and summary for an array of accounts.",
        "description": "* Get loan card account summary and balances for an array of accounts.\n* Account balances for 50 accounts can be retrieved at a time\n* Default pageNumber = 1 , pageSize = 50\n* If accountID is  not provided as part of the request body, then a paginated response of all credit card accounts will be provided\n",
        "operationId": "getLoanAccountBalancesAndSummary",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> 1. Customer Identifier assigned by U.S.Bank </br> 2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br> 3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body_4"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_9"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountID}/transactions/current-day": {
      "get": {
        "tags": [
          "Transaction(s)"
        ],
        "summary": "Get transactions of an account for current-day.",
        "description": "* Get transactions of an account for current-day\n* If limit is not provided in the request, by default 100 transactions will be returned \n* Maximum \"limit\" is 500\n* Default pageNumber =1 and pageSize = 100\n",
        "operationId": "getTransactionsOfCurrentDay",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> \n1. Customer Identifier assigned by U.S.Bank </br>\n2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br>\n3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>\n",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
          },
          {
            "name": "accountID",
            "in": "path",
            "description": "Unique Account Identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "6220l3igy0003ec299sj98000tria"
          },
          {
            "name": "bankReferenceNumber",
            "in": "query",
            "description": "Unique transaction identifier",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": 893456789744
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Current Page Number from query result to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Results page size",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of transactions",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              },
              "Version": {
                "$ref": "#/components/headers/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "400.4567.3104",
                    "message": "The request was unacceptable. The request cannot be fulfilled due to bad syntax or an invalid parameter",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "accountID",
                        "reason": "Invalid accountID format"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication Failure",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "401.1567.3452",
                    "message": "The request has not been applied because it lacks valid authentication credentials for the target resource",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "404.2567.3452",
                    "message": "The server has not found anything matching the request URI",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "405.4567.4050",
                    "message": "Method not allowed",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {
                        "attributeName": "field1",
                        "reason": "not valid"
                      }
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "headers": {
              "Version": {
                "$ref": "#/components/headers/Version"
              },
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              },
              "Correlation-ID": {
                "$ref": "#/components/headers/Correlation-ID"
              },
              "Date": {
                "$ref": "#/components/headers/Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": [
                    {
                      "code": "429.0000.4290",
                      "message": "Rate limit has been exhausted",
                      "details": [
                        {}
                      ]
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "500.3567.3452",
                    "message": "Internal Server Error",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Temporarily Unavailable",
            "headers": {
              "Correlation-ID": {
                "$ref": "#/components/parameters/Correlation-ID"
              },
              "Content-Type": {
                "$ref": "#/components/parameters/Content-Type"
              },
              "Date": {
                "$ref": "#/components/parameters/Date"
              },
              "Version": {
                "$ref": "#/components/parameters/Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "errors": {
                    "code": "503.5567.3452",
                    "message": "Service Temporarily Unavailable",
                    "help": "Refer to help me page https:example.com/help",
                    "details": [
                      {}
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountID}/transactions/previous-day": {
      "get": {
        "tags": [
          "Transaction(s)"
        ],
        "summary": "Get transactions of an account for prior business days over a date range.",
        "description": "* Get transactions of an account for prior business days over a date range\n* If date is not provided then date will default to the previous business day\n* If limit is not provided in the request, by default 100 transactions will be returned\n* Up to 2 years worth of transactions can be retrieved if entitled(this is optional)\n* Default pageNumber =1 and pageSize = 100\n* Maximum \"limit\" is 500\n* Transaction retreival depends on retention period set on the account, retention period can be found on the GET accounts call.\n",
        "operationId": "getTransactionsOfPreviousDay",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token for accessing the API",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "Indicates the acceptable response format",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept-Encoding",
            "in": "header",
            "description": "Indicates compression encodings that are acceptable in the response",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-ID",
            "in": "header",
            "description": "Unique Id for a request response pair",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "On-Behalf-Of",
            "in": "header",
            "description": "</br> \n1. Customer Identifier assigned by U.S.Bank </br>\n2. When using the client_credentials flow (i.e. 2-legged OAuth) and the API request is from a service provider on behalf of a U.S Bank customer, then this field will hold the customer ID of the U.S Bank customer. Therefore, this header is conditionally required depending on whether the request is directly coming from a U.S. Bank customer or a service provider who is calling on behalf of a U.S. bank customer using the client_credentials flow</br>\n3. When using the OAuth 2.0 Authorization Code Flow (i.e. 3-legged OAuth2.0), this header is not required. </br>\n",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "480c0089-8c70-4a2c-a738-07a4994b44cf"
          },
          {
            "name": "Client-ID",
            "in": "header",
            "description": "An attribute which is the client ID of the 3rd party SAAS when they are sending request to the API using authorization_code grant type (3-legged OAuth2.0 token)",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "VMbARkNrrf6BEvOL0Q9jzBRto4WbRJak"
          },
          {
            "name": "accountID",
            "in": "path",
            "description": "Unique Account Identifier",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date for which you want to retrieve transactions. ISO 8601.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date for which you want to retrieve transactions. ISO 8601.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Current Page Number from query result to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
[...]
